<div class= "container">
  <div class="row">
    <ul class="nav nav-tabs">
      <li role="presentation"><%= link_to "Tweets", admin_root_path %></li>
      <li role="presentation" class="active"><a href="#">Users</a></li>
    </ul>

    <h3>Users</h3>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>name</th>
          <th>email</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <th><%= user.id %></th>
            <td><%= user.name %></td>
            <td><%= user.email %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="text-center">
      <%= paginate @users %>
    </div>
  </div>
</div>
