<div class="container">
  <h1>後台</h1>
  <br>
  <div>
    <%= link_to 'Po文總覽', admin_root_path, :class=>"btn btn-info" %> | <%= link_to '使用者總覽', admin_users_path, :style=>"color:white" %>
  </div>  
  <br>
  <div class="row">

    <div class="col-md-12">

      <table class="table table-bordered table-striped table-hover" style="background-color:lightgray;opacity: 0.9;">
        <thead>
          <tr>
            <th>發佈日期時間</th>
            <th>推播內容</th>
            <th>發布者</th>
            <th>回覆數</th>
            <th>#</th>
          </tr>
        </thead>
        <tbody>
          <% @tweets.each do |tweet| %>
          <tr>
            <td><%= tweet.created_at.strftime('%F') %>，<%= tweet.created_at.strftime('%H:%M') %></td>
            <td><%= tweet.description %></td>
            <td><%= tweet.user.name %></td>
            <td><% tweet.count_replies %><%= tweet.replies_count %></td>
            <td>
              <%= link_to 'Show', tweet_replies_path(tweet) %>
              <%= link_to 'Delete', admin_tweet_path(tweet), method: :delete, data: {confirm:"Are you sure?"} %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>

      
      <div class="text-center">
        <%= paginate @tweets %>
      </div>

    </div>

  </div>

</div>