<h1>Tweet Back-End</h1>

<ul>
  <h3>Tweets</h3>
  <% @tweets.each do |tweet| %>
    <%= tweet.description %>
    <h5>Reply 連結:(回文數) Like 連結:(讚數)</h5><!-- 待關聯設定 -->
    <%= link_to 'Delete', admin_tweet_path(tweet), method: :delete, data: {confirm:"Are you sure?"} %><!-- 待設定刪推文連帶刪回文 -->
  <% end %>
</ul>


<ul>
  <h3>Users</h3>
  <% @users.each do |user| %>
    <%= user.name %><!-- 使用者依推文數排序 -->
    <%= user.introduction %>
    <h5>Tweets:</h5><!-- 待關聯設定 -->
    <h5>Following:</h5><!-- 待自關聯設定 -->
    <h5>Follower:</h5><%= user.followers_count %>
    <h5>Like:</h5><%= user.likes_count %>
  <% end %>
</ul>