<style>
   .admin-tweet-delete{
    float:right;
   }
</style>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="text-center">ALPHACAMP Twitter 管理後台</h2>
      <hr>

      <ul class="nav nav-tabs">
        <li role="presentation" class="active">
          <%= link_to '推特列表', admin_tweets_path %>
        </li>

        <li role="presentation">
          <%= link_to '使用者列表', admin_users_path %>
        </li>
      </ul>

      <div class="admin-tweets-content">
        <% @tweets.each do |tweet| %>
          <div class="col-md-6">
            <div class="tweet-content">

              <div class="col-md-3">
                <div class="user-avatar">
                  <%= image_tag tweet.user.avatar if tweet.user.avatar?  %>
                </div>
              </div>
           
              <div class="col-md-9">

                <div class="admin-tweet-title">
                  <p><%= link_to tweet.user.name, tweets_user_path(tweet.user) %>,
                  <%= tweet.created_at.to_date %>,
                  <%= tweet.created_at.strftime("%H:%M") %> </p>
                </div>

                <div class="admin-tweet-description">
                  <p><%= truncate(tweet.description, length:80) %></p>
                </div>

                <div class="admin-tweet-action">
                  <%= link_to tweet_replies_path(tweet) do%>
                    <span class="admin-tweet-replies">Replies (<%= tweet.replies.count %>)</span>
                  <% end %>

                  <% unless tweet.is_liked?(current_user) %> 
                    <%= link_to like_tweet_path(tweet),method: :post,class:"text-danger" do%>
                      <span class="admin-tweet-likes">like (<%= tweet.likes.count %>)</span>
                    <% end %>
                  <% else %>
                    <%= link_to unlike_tweet_path(tweet),method: :post,class:"text-danger" do%>
                      <span class="admin-tweet-likes">unlike (<%= tweet.likes.count %>)</span>
                    <% end %>
                  <% end %>

                  <%= link_to admin_tweet_path(tweet),method: :delete,data:{confirm:"Are to sure to delete ?"} do %>
                    <span class="glyphicon glyphicon-trash admin-tweet-delete"></span>
                  <% end %>
                </div> 
           

              </div>   
            </div>
          </div>
        <% end %>
      
      </div>
    </div>
  </div>
</div>