<h1>Administration Department</h1>

<p><%= link_to 'Tweet List', admin_tweets_path  %> | 
  <%= link_to 'User List', admin_users_path %></p>

<hr>

<div class="col l12 x12 m12 s12">
  <table class="highlight">
    <thead>
      <tr>
        <th>#</th>
        <th>Tweets in Stock</th>
        <th style='text-align: center'>Click to Comments</th>
        <th>Users</th>
        <th>#</th>
      </tr>
    </thead>
    <tbody>
      <% @tweets.each do |tweet| %>
      <tr>
        <td><%= tweet.id %></td>
        <td><%= tweet.description %></td>
        <td style='text-align: center'>
          <%= link_to tweet_replies_path(tweet) do %>
            Reply (<%= tweet.replies.count %>)
          <% end %>
        </td>
        <td><%= tweet.user.name %></td>
        <td><%= link_to 'Delete', admin_tweet_path(tweet), method: :delete, data: {confirm: "Are you sure?"} %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="clearfix"></div>

<div class="center">
  <%= paginate @tweets %>  
</div>


