<%= render partial: "admin/shared/navtab" %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Auther</th>
      <th>Description</th>
      <th>replies</th>
      <th>#</th>
    </tr>
  </thead>
  <tbody>
    <% @tweets.each do |tweet| %>
      <tr>
        <td><%= tweet.id %></td>
        <td><%= tweet.user.name %></td>
        <td><%= tweet.description %></td>
        <td>
          <% tweet.replies.each do |reply| %>
            <li><%= reply.comment %></li>
          <% end %>
        </td>
        <td><%= link_to "Delete", admin_tweet_path(tweet), method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>