<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1 "> 

      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading"><h3>User profile list</h3></div>
          <div class="panel-body">
            <% @users.each do |user|%>
              <div>
                <h4><%= link_to user.name, user_path(user)%></h4>
                <P><%= simple_format user.introduction %></P>
              </div>
              <hr>
            <% end %>
          </div>
        </div>
      </div>

    
   
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading"><h3>Tweets list</h3></div>
          <div class="panel-body">
            <% @tweets.each do |tweet| %>
              <div>
                <h4><%= link_to tweet.user.name, tweet_replies_path(tweet.id) %> Tweet at <%= tweet.created_at.strftime("%Y-%m-%d, %H:%M") %></h4>
                <p><%= truncate(tweet.description, length: 140) %></p>
                <% if current_user.admin? %>
                  <%= link_to 'Destory', admin_tweet_path(tweet), method: :delete, data: {confirm: "Are you sure?"} %>
                <% end %>
              </div>
              <hr>
            <%end%>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</div>