<h1>歡迎來到管理區</h1>
<div class="container">
  <div class="row">
    <ul class="nav nav-tabs">
      <li role="presentation" class="active">
        <%= link_to '所有的推特', admin_root_path %>
      </li>
      <li role="presentation">
        <%= link_to '所有的使用者', admin_users_path %>
      </li>
    </ul>
  </div>
</div>
<div class="container">
  <div class="row">
    <table>
      <tr>
        <th>#</th>
        <th>Description</th>
        <th>Reply</th>
        <th>Delete</th>
      </tr>
      
      <% @tweets.each do |tweet| %>
        <tr>
        <td><%= tweet.id %></td>
        <td><%= tweet.description %></td>
        <td><%= link_to  "Reply", tweet_replies_path(tweet), class: "btn btn-primary ctweet" %></td>
        <td><%= link_to 'Delete', admin_tweet_path(tweet), method: :delete, data: {confirm:"Are you sure?"}, class: "btn btn-primary ctweet" %></td>
        </tr>
      <% end %>      
    </table>
  </div>
</div>