<div class="content col-md-12">
  <%=link_to "Ranking", admin_users_path, class: "btn btn-primary" %>
</div>
<div class="content col-md-12">
  <div class="content col-md-6 float-left">
    <h5>Tweets</h5>
    <% @tweets.each do |t| %>
      <div class="media">
        <%= image_tag t.user.avatar, class: "align-self-center mr-3 avatar rounded" %>
        <%= render partial: "shared/tweet", locals:{tweet: t}%>
        <%= link_to "Delete",admin_tweet_path(t), method: :delete, data:{confirm:'Are you sure?'}, class: "btn btn-primary"%>
     </div>
    <%end%>
  </div>
  <div class="content col-md-6 float-left">
    <h5>Replies</h5>
    <%= render partial: "shared/reply" %>
  </div>
</div>
