<div class="container">
  <div class="row">

    <ul class="nav nav-tabs">

      <li role="presentation" class="active">
        <%= link_to "Tweets", admin_tweets_path %>
       </li>
      <li role="presentation" >
        <%= link_to "Users", admin_users_path %>
      </li>
    </ul>
  </div>
</div>
<br>

 <ul class="nav nav-pills nav-pills-center">

    <div class="container-fluid">
      <div class="row">

            <div class="container">
              <div class="page-header">
                <h1>Tweets</h1>
              </div>
            </div>
 
           <div class="col-md-12">
             <br>
             <table class="table table-striped table-bordered">
               <thead>
                <tr>
                  <th>ID</th>
                  <th>Name</th>
                  <th>Tweets</th>
                  <th>Reply_count</th>
                  <th>Replices</th>
                  <th></th>
                </tr>
               </thead>
               <tbody>
                 <% @tweets.each do |tweet| %>
                 <tr>
                   <th scope="row"><%= tweet.id %></th>
                   <td><%= tweet.user.name %></td>
                   <td><%= tweet.description %></td>
                   <td><%= tweet.replies_count %></td>
                   <td><%= tweet.replies.each do |reply| %>
                   <li><%= reply.comment %></li>
                   <% end %></td>
                   <td>
                     <%= link_to 'Destroy', admin_tweet_path(tweet), method: :delete, data: { confirm: "Are you sure?"} %>
                   </td>
                 </tr>
                 <% end %>
               </tbody>
             </table>

             <%= paginate @tweets %>
       
           </div>
         </div>
       </div>
  
 
   </div>
 </div>
</ul>