<h1>Simple Twitter後台</h1>

<div class="container">
  <div class="row">

    <ul class="nav nav-tabs">
      <li role="presentation">
        <%= link_to 'Index', admin_root_path %>
      </li>
      <li role="presentation">
        <%= link_to 'Tweets', admin_tweets_path %>
      </li>
      <li role="presentation" class="active">
        <%= link_to 'Users', admin_users_path %>
      </li>
    </ul>

  </div>
</div>

<ul>
  <% @tweets.each do |tweet| %>
    <li>
      <%= tweet.id %>  
      <%= tweet.updated_at %>
      <%= tweet.description %>
      <%= tweet.replies_count %>

    </li>
  <% end %>
</ul>

<ul>
  <% @replies.each do |reply| %>
    <li>
      <%= reply.tweet_id %>
      <%= reply.comment %>
    </li>
  <% end %>
</ul>