<div class="row justify-content-md-center mb-3">
  <div class="col-lg-8">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <%= link_to "User List", admin_users_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Tweet List", admin_tweets_path, class: "nav-link active" %>
      </li>
    </ul>
  </div>
</div>
<div class="row justify-content-md-center">
  <div class="col-lg-8">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Description</th>
          <th scope="col">Likes</th>
          <th scope="col">Tweeter</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <% @tweets.each do |tweet| %>
          <tr class="table-secondary">
            <th scope="row"><%= link_to tweet.id, tweet_replies_path(tweet) %></th>
            <td><%= tweet.description %></td>
            <td><%= tweet.likes_count %></td>
            <td><%= link_to tweet.user.name, tweets_user_path(tweet.user) %></td>
            <td> <%= link_to "Delete", admin_tweet_path(tweet), method: :delete %> </td>
          </tr>
          <tr>
            <th>Re(<%= tweet.replies_count %>):</th>
            <td colspan="4">
              <% if tweet.replies.present? %>
                <% tweet.replies.each do |reply| %>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item"><%= truncate reply.comment, length: 50  %> <%= link_to "@"+reply.user.name, tweets_user_path(tweet.user) %></li>
                  </ul>
                <% end %>
              <% else %>
                No reply
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div>
</div>
