<div class="container">
  <div class="row">

  

    <%= render partial: "share/userdetails", locals: {user: @user} %>
    <div class="col-sm-8">
      <h2>All Tweets</h2>
      <% @tweets.each do |tweet| %>
        <div class="row">
          <div class="tweet-item">
            <div class="col-sm-4">
              <%= image_tag tweet.user.avatar, class: "img-responsive center-block" %>
            </div>
            <div class="col-sm-8">
              <div class="caption">
                <h3><%= link_to tweet.user.name, tweets_user_path(tweet.user) %></h3>
                <h4><%= truncate(tweet.description, length: 80) %></h4>
                <div class="row">
                  <div class="col-sm-3">
                    <h4><%= link_to 'Reply('+tweet.replies.count.to_s+')', replies_tweet_path(tweet) %></h4>
                  </div>
                  <div class="col-sm-3">
                    <%= render partial: "share/likes", locals: {tweet: tweet} %>
                  </div>
                  <div class="col-sm-6">
                    <h4><%= link_to 'Delete', admin_tweet_path(tweet), method: :delete, data: {confirm:"Are you sure?"} %></h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>

  </div>
</div>
