<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Twitter 後台</h1>
      <div>
        <%= link_to 'Tweet', admin_tweets_path %> |
        <%= link_to 'Users', admin_users_path %>
      </div>
      <% @tweets.each do |tweet| %>
      <div>
          <h4><%= link_to tweet.user.name ,tweets_user_path(tweet.user) %></h4>
        <p><%= simple_format tweet.description %></p>
        <p class="text-muted">
          <em><%= time_ago_in_words(tweet.created_at) %> ago -</em>
          <%= link_to "Delete", admin_tweet_path(tweet), method: :delete , data: { confirm: "Are you sure?"}%>
        </p>
      </div>
      <hr>
      <% end %>
    </div>
  </div>
</div>
