<div class="container">

  <ul class = "nav nav-tabs">
    <li role="presentation" class= "active"><%=link_to "Tweets", admin_tweets_path %></li>
    <li role="presentation"><%= link_to "Users", admin_users_path %></li>
  </ul>
  <br>

  <% @tweets.each do |tweet| %>
  <div class="tweet-list">
    <div class="avatar">
      <%= image_tag tweet.user.avatar, class: "img-responsive img-rounded" %>
    </div>
    <div class="tweet-content">
      <h5><%= link_to tweet.user.name, user_path(tweet.user) %> <em>,<%=time_ago_in_words(tweet.created_at) %> ago </em></h5>
      <p><%= tweet.description %></p>
      <ul class = "tweet-link">
        <li><%= render partial: "shared/like", locals: {tweet: tweet} %></li>
        <li><%= link_to 'replies', tweet_replies_path(tweet) %></li>
        <li><%= link_to 'likes'  %></li>
        <li><%= link_to 'delete', admin_tweet_path(tweet), method: :delete, data: {confirm: "are you sure?"} %></li>
      </ul>
    </div>
  </div>
<% end %>






</div>