<h1>twitter七天挑戰 後台</h1>
<ul>
  <% @tweets.each do |tweet| %>
  <li>
    <%= tweet.name %>
    <%= link_to 'Show', admin_tweet_path(tweet) %>
    <%= link_to 'Edit', edit_admin_tweet_path(tweet) %>
    <%= link_to 'Delete', admin_tweet_path(tweet), method: :delete, data: {confirm:"Are you sure?"} %>
  </li>
  <% end %>
</ul>
<%= link_to 'New tweet', new_admin_tweet_path %>
