<div class="container">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <%= link_to'User list', admin_users_path, class: "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to'Tweet list', admin_root_path, class: "nav-link active" %>
    </li>
  </ul>
  <table class="table table-hover">
     <thead class="thead-light">
      <tr>
        <th scope="col"></th>
        <th scope="col">Tweet Content</th>
        <th scope="col">Reply</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
    <% @tweets.each do |tweet| %>
      <tr>
        <th scope="row">
          <% if tweet.user.avatar? %>
            <%= image_tag tweet.user.avatar, width: '100px', class: "rounded m-auto d-block" %>
          <% else %>
            <h1 class="text-center">No User Image</span></h1>
          <% end %>
        </th>
        <td>
          <%= link_to tweets_user_path(tweet.user) do %><h4>@<%= tweet.user.name %></h4><% end %>
          <p><%= tweet.description %></p>
          <!-- replay link -->
          <%= link_to tweet_replies_path(tweet), class: "btn btn-link" do %>
            Reply <span class="badge badge-pill badge-primary"><%= tweet.replies_count %></span>
          <% end %>
          <!-- like action button -->
          <%= render partial: "shared/like", locals: {tweet: tweet} %>     
        </td>
        <td>
          <ul class="list-group">
          <% tweet.replies.each do |reply| %>
            <li class="list-group-item">
              <%= link_to tweets_user_path(reply.user) do %>
                <p class="card-text">
                  @<%= reply.user.name %><% end %>, 
                  <%= reply.created_at.strftime("%Y-%m-%d, %H:%M") %>
                  <br>     
                  <%= reply.comment %>
                </p>
            </li>  
          <% end %>    
        </td>
        <td>
        <%= link_to 'Delete', admin_tweet_path(tweet), method: :delete, data:{ confirm: "確定刪除此tweet?" }, class: "text-center" %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>