<div class="container">
  <h1>Tweet Back-End</h1>
  <br>
  <div>
    <%= link_to 'Tweets', admin_tweets_path %> |
    <%= link_to 'Users', admin_users_path %>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h3>Tweets</h3>
      <% @tweets.each do |tweet| %>
        <%= tweet.description %>
        <h5>Reply 連結:(<%= tweet.replies.count %>) Like 連結:(<%= tweet.likes.count %>)</h5><!-- reply index 待設定 -->
        <%= link_to 'Delete', admin_tweet_path(tweet), method: :delete, data: {confirm:"Are you sure?"} %>
        <hr>
      <% end %>
    </div>
  </div>

</div>
