<ul class="nav nav-tabs">
  <li role="presentation" class="active">
    <%= link_to "Tweets", admin_tweets_path %>
  </li>
  <li role="presentation">
    <%= link_to "Users", admin_users_path %>
  </li>
</ul>
<br />
<% @tweets.each do |tweet| %>
  <div class="tweet clearfix">
    <div class="avatar">
      <img src="http://via.placeholder.com/40x40" alt="avatar">
    </div>
    <div class="text">
      <h4>
        <%=link_to tweet.user.name, tweets_user_path(tweet.user) %>,
        <%= tweet.created_at %>
      </h4>
      <p><%= simple_format tweet.description %></p>
      <%= link_to "Reply", tweet_replies_path(tweet.id)%>
      <% if tweet.is_liked?(current_user) %>
        <%= link_to "Unlike", unlike_tweet_path(tweet), method: :post, class:"btn btn-info" %>
      <% else %>
        <%= link_to "Like", like_tweet_path(tweet), method: :post, class:"btn btn-primary" %>
      <% end %>
      <%= link_to "Delete", admin_tweet_path(tweet.id), method: :delete %>
    </div>
  </div>
<% end %>
