<h1>Simple Twitter後台</h1>

<div class="container">
  <div class="row">

    <ul class="nav nav-tabs">
      <li role="presentation">
        <%= link_to 'Index', root_path %>
      </li>
      <li role="presentation">
        <%= link_to 'Tweets', tweets_path %>
      </li>
      <li role="presentation" class="active">
        <%= link_to 'Users', users_path %>
      </li>
    </ul>

  </div>
</div>

<ul>
  <% @tweets.each do |tweet| %>
    <li>
      <%= tweet.user_id %>  
      <%= tweet.updated_at %>
      <%= tweet.description %>
      <%= tweet.replies_count %>
      <%= tweet.replies.comment %>
    </li>
    <% end %>
</ul>