<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <%= link_to 'Simple Twitter', tweets_path , class: "navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-sm-end" id="navbarSupportedContent">
    <% if user_signed_in? %>
      <ul class="navbar-nav right">
      <% if current_user.role == 'admin' %>
        <% if in_admin_panel? %>
          <li class= 'nav-item' >
            <%= link_to 'Front End', tweets_path, class: 'nav-link'%>
          </li>
        <% else %> 
          <li class= 'nav-item' >
            <%= link_to 'Admin Panel', admin_tweets_path, class: 'nav-link' %>
          </li>
        <% end %>
      <% end %>
        
        <li class="nav-item">
          <% if current_user.avatar? %>
            <%= link_to image_tag(current_user.avatar, size: 50), tweets_user_path(current_user), class: 'thumb'%>
          <% else %>
            <%= link_to current_user.name, tweets_user_path(current_user), class: 'nav-link'%>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to 'Log Out', destroy_user_session_path , method: :delete, class: "nav-link" %>
        </li>  
      </ul>
    <% end %>   
  </div>
</nav> 
