
  <div class="avatar-sm">
    <%= link_to tweets_user_path(tweet.user) do %>
      <%= image_tag(tweet.user.avatar, class: "") %>
    <% end %>
  </div>
  <div class="tweet-info">
    <h4><%= link_to "@#{tweet.user.name}", tweets_user_path(tweet.user)%><em><%= tweet.created_at.strftime(" %Y-%m-%d %H:%M") %></em></h4>
    <% if tweet.user == current_user %>
      <div class="edit-tweet-form">
        <%= form_for tweet, remote:true do |f| %>
          <div class="form-group">
            <div><%= f.text_area :description, placeholder: "Tweet something...", maxlength: 140, class: "tweet-form-textarea form-control"%></div>
          </div>
          <%= f.submit 'Update', style: "margin: 0 0 0 5px", class: "tweet-btn btn btn-primary btn-sm pull-right" %> 
          <button class="btn btn-danger btn-sm pull-right">Cancel</button>
        <% end %>
      </div>
    <% end %>
    <div class="show-area">
      <%= render partial: 'share/description', locals: {tweet: tweet} %>
      <div class="last-row">
        <span class="comment-o">
          <%= link_to tweet_replies_path(tweet) do %>
            <%= fa_icon 'comment-o' %>
            <span> <%= tweet.replies_count %></span>
          <% end %>         
        </span>
        <span class="heart-render">
          <%= render partial: 'share/like', locals: {tweet: tweet} %>
        </span>
        <% if tweet.user == current_user %> 
          <span class="edit-delete-btn"><em>
              <%= link_to 'delete', tweet_path(tweet), method: :delete, data: {confirm: "Are you sure?"} %>
            </em>
            <em>&nbsp;&nbsp;|&nbsp;&nbsp;</em>
            <em><a href="#" class="edit-tweet-btn">edit</a></em>
          </span> 
        <% end %>
      </div>
    </div>
  </div>