<div class="tweet-item">
  <div class="avatar-sm">
    <%= link_to tweets_user_path(tweet.user) do %>
      <%= image_tag(tweet.user.avatar, class: "") %>
    <% end %>
  </div>
  <div class="tweet-info">
    <h4><%= link_to "@#{tweet.user.name}", tweets_user_path(tweet.user)%><em><%= tweet.created_at.strftime(" %Y-%m-%d %H:%M") %></em></h4>
    <p><%= tweet.description %></p>
    <div>
      <span class="comment-o">
        <%= link_to tweet_replies_path(tweet) do %>
          <%= fa_icon 'comment-o' %>
          <span> <%= tweet.replies_count %></span>
        <% end %>         
      </span>
      <% if tweet.is_liked?(current_user) %>
      <span class="heart">
        <%= link_to unlike_tweet_path(tweet), method: :post do %>
          <%= fa_icon 'heart' %>
          <span> <%= tweet.likes_count %></span>
        <% end %>
      </span>
      <% else %>
      <span class="heart-o">
         <%= link_to like_tweet_path(tweet), method: :post do %>
          <%= fa_icon 'heart-o' %>
          <span> <%= tweet.likes_count %></span>
        <% end %> 
      </span>

      <% end %>
    </div>
  </div>
</div>