<div class="tweet-item">
  <div class="avatar-sm">
    <%= link_to tweets_user_path(tweet.user) do %>
      <%= image_tag(tweet.user.avatar, class: "") %>
    <% end %>
  </div>
  <div class="tweet-info">
    <h4><%= link_to "@#{tweet.user.name}", tweets_user_path(tweet.user)%><%= tweet.created_at.strftime(" ,%Y-%m-%d %I:%M") %></h4>
    <p><%= tweet.description %></p>
    <h4><%= link_to 'Reply', tweet_replies_path(tweet) %> <%= link_to 'like', like_tweet_path(tweet) %></h4>
  </div>
</div>