<div class="row user-box">
  <div class="col-xs-5 center">  
    <%= link_to tweets_user_path(user) do %>
      <% if user.avatar.present? %>
        <%= image_tag user.avatar, class: "user-img" %>
      <% else %>
        <%= image_tag "default.jpg", class: "user-img" %>
      <% end %>
    <% end %>  
  </div>
  <div class="col-xs-7">
    <div class="row">
      <%= link_to tweets_user_path(user) do %>
        <%= user.name %>
      <% end %>
    </div>
    <div class="row intro">
      <%= user.introduction %>
    </div>
    <div class="row">
      <%= link_to 'Follow', followships_path(following_id: user), method: :post %>
      <%= link_to "UnFollow", followship_path(user), method: :delete %>
    </div>
  </div>
</div>




