<div class="col-xs-4 user-block">
    <div class="center">
      <% if obj.avatar.present? %>
        <%= image_tag obj.avatar, class: "big-img" %>
      <% else %>
        <%= image_tag "default.jpg", class: "big-img" %>
      <% end %> 
    </div>
    <br>
    <div class="center">    
        <%= obj.name %>
    </div>
    <div class="center">
      <%= obj.introduction %>
    </div>
    <hr>
    <div class="center">
      <%= link_to "Tweets", tweets_user_path(obj) %>
    </div>
    <div class="center">
      <%= link_to "Followings", "#" %>
    </div>
    <div class="center">
      <%= link_to "Followers", "#" %>
    </div>
    <div class="center">
      <%= link_to "Like", "#" %>
    </div>
    <div class="center">
      <%= link_to "Edit profile", edit_user_path(obj) %>
    </div>
  </div>