<div class="user-item-sm">
  <div class="avatar-sm">
    <%= link_to tweets_user_path(user) do %>
      <%= image_tag(user.avatar, class: "") %>
    <% end %>
  </div>
  <div class="user-info-sm">
    <h3><%= link_to "@#{user.name}", tweets_user_path(user) %></h3>
    <p><%= user.introduction %></p>
  </div>
  <% if user != current_user %>
    <div class="follow-btn">
      <% if current_user.is_following?(user) %>
        <%= link_to followship_path(user), method: :delete do %>
          <button class="btn btn-primary">Unfollow</button>
        <% end %>
      <% else %>
        <%= link_to followships_path(following_id: user), method: :post do %>
          <button class="btn btn-primary">Follow</button>
        <% end %>
      <% end %>
    </div>   
  <% end %>
</div> 