<div class="container">
  <div class="row">

    <div class="col-md-3">

      <%= image_tag @tweet.user.avatar, class: "img-responsive center-block" %>

      <h1><%= @tweet.user.name %></h1>
      <h3><%= @tweet.user.email %></h3>
      <hr>

      <% if @tweet.user.introduction == nil %>
        <p>未新增自我介紹</p>
      <% else %>
        <p><%= @tweet.user.introduction %></p>   
      <% end %>
      <br>
      <h4 style="color:grey;">Tweet <%= @tweet.user.tweets.length %></h4>
    </div>

    <div class="col-md-1">
    </div>

    <div class="col-md-8">
      <h1>Tweets</h1>
      <div class="row rank-item">
        <div class="col-md-3 col-sm-3 col-lg-3">
          <%= image_tag @tweet.user.avatar, class: "img-responsive center-block" %>
        </div>

        <div class="col-md-9 col-sm-9 col-lg-9">
          <h4><%= @tweet.user.name %> <small><%= @tweet.created_at %></small></h4>
          <p><%= simple_format @tweet.description %></p>
          <a href="#reply"><h5 style="color:blue;">回覆數(<% @tweet.count_replies %><%= @tweet.replies_count %>)</h5></a>
        </div>
      </div>
    <hr>
        <%= form_for [@tweet, @reply] do |f| %>
          <div class="form-group">
            <%= f.text_area :comment, placeholder: "你想說什麼？",  class: "form-control" %>
          </div>
          <%= f.submit class: "btn btn-primary pull-right" %>
          <br>
          <br>
          <% if @reply.errors.any? %>
            <%= @reply.errors.full_messages.to_sentence %>
          <% end %>
        <% end %> 

        <br>

        <div>         
        <% @replies.each do |reply| %>
          <div class="row rank-item">
            <div class="col-md-3 col-sm-3 col-lg-3">
              <%= image_tag reply.user.avatar, class: "img-responsive center-block" %>
            </div>

            <div class="col-md-9 col-sm-9 col-lg-9">
              <h4><%= link_to reply.user.name, user_path(reply.user) %> <small><%= reply.created_at %></small></h4>
              <p><%= simple_format reply.comment %></p>
              <% if current_user.admin? || current_user==reply.user%>
                ---<%= link_to "Delete", tweet_reply_path(@tweet, reply), method: :delete %>         
              <% end %>
            </div>
          </div>
        <% end %>
        </div>
      </div>

  </div>
</div>