<div class="container">
  <%= render partial: "shared/info", locals: {user: @user} %>

  <h4>Tweets</h4>
  <div class="col-sm-6" >
    <div class="thumbnail">
        <%= render partial: "shared/pic", locals: {user: @user} %>
      <div class="caption">
        <small class="text-muted">
          <%= link_to "#{ @user.name}", tweets_user_path( @user) %>,
          <%= @tweet.created_at.to_formatted_s(:db)%>
        </small>        
        <p><%= @tweet.description %></p>
        <%= link_to "Reply", tweet_replies_path(@tweet) %>
        <%= render partial: "shared/like", locals: {tweet: @tweet} %>
      </div>
    </div>
  </div>

  <h4>Replies</h4>
  <%= @replies.each do |reply| %>
    <div class="col-sm-6" >
      <div class="thumbnail">
          <%= render partial: "shared/pic", locals: {user: reply.user } %>
        <div class="caption">
          <small class="text-muted">
            <%= link_to "#{ reply.user.name}", tweets_user_path( reply.user ) %>,
            <%= reply.created_at.to_formatted_s(:db)%>
          </small>    
          <p><%= reply.comment %></p>
        </div>
      </div>
    </div>
  <% end %>



  <%= form_for [@tweet, @reply] do |f| %>
    <div class="form-group">
      <%= f.text_area :comment, placeholder: "Messages", class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.submit "Reply", class: "btn btn-primary" %>
      <%= f.button "Cancel", type: :reset, class: "btn btn-default" %>
    </div>
  <% end %>    
  <div class="clearfix"></div>  




</div>
