<div class="container">
  <div class="col-md-4 ">
    <%if !@tweet.user.avatar?%>
      <%= image_tag "https://openclipart.org/download/247319/abstract-user-flat-3.svg", class:"img-responsive img-rounded " %>
    <% else%>
      <%= image_tag @tweet.user.avatar, class:"img-responsive img-rounded" %>
    <% end %>

    <h2>
      <%= link_to @tweet.user.name,tweets_user_path(@tweet.user) %>
    </h2>
    <p><%= truncate(@tweet.user.introduction, length: 200)%></p>

    <h4>Tweets <%= @tweet.user.tweets.count%></h4>
    <h4>追蹤人數 <%= @tweet.user.followings.count%></h4>
    <h4>粉絲 <%= @tweet.user.followers_count%></h4>
    <h4>Like <%= @tweet.user.likes_count%></h4>
    <%= link_to "Follow",followship_path(@tweet.user) ,class: "btn btn-success"%>

  </div>
  
  <div class="col-md-8">
    <h1>Tweets</h1>
    <br>
    
    <div class="tweet-item">
      <div class="col-md-3">
        <%= link_to tweets_user_path(@tweet.user) do%>
          <%if !@tweet.user.avatar?%>
            <%= image_tag "https://openclipart.org/download/247319/abstract-user-flat-3.svg", class:"img-responsive img-rounded " %>
          <% else%>
            <%= image_tag @tweet.user.avatar, class:"img-responsive img-rounded" %>
          <% end %>
        <% end %>
      </div>

      <div class="col-md-9">
          <h4>
            <%= link_to tweets_user_path(@tweet.user) do%>
            <%= @tweet.user.name %>
            <em><%= @tweet.created_at %> </em>
            <% end %>
          </h4>
          
          <p><%= truncate(@tweet.description, length: 200)%></p>
          
        </div>
        <div class="clearfix"></div>
    </div> 

    <h1>Replies</h1>
    <br>
    

    <% @replies.each do |reply| %>
      <div class="tweet-item">
        <div class="col-md-3">
          <%= link_to tweets_user_path(reply.user) do%>
            <%if !reply.user.avatar?%>
              <%= image_tag "https://openclipart.org/download/247319/abstract-user-flat-3.svg", class:"img-responsive img-rounded " %>
            <% else%>
              <%= image_tag reply.user.avatar, class:"img-responsive img-rounded" %>
            <% end %>
          <% end %>
        </div>

        <div class="col-md-9">
          <h4>
            <%= link_to tweets_user_path(reply.user) do%>
            <%= reply.user.name %>
            <em><%= reply.created_at %> </em>
            <% end %>
          </h4>
          
          <p><%= truncate(reply.comment, length: 200)%></p>
        </div>
        <div class="clearfix"></div>
      </div>
    <% end %>
    
    <%= form_for [@tweet,@reply] do |f| %>
    <div class="form-group">
      <%= f.text_area :comment, placeholder: "What's on your mind?", rows: "5",class: "form-control" %>
    </div>
    <div class="form-group ">
      <%= f.submit "Reply",class: "btn btn-primary " %>   
    </div>
    <% end %>


  </div>
</div>