<div class="row">

  <div class="col-md-3">
    <div>
      <% if current_user.avatar? %>
        <%= image_tag current_user.avatar, width: "260px" %>
      <% else %>
        <img src="https://api.fnkr.net/testimg/260x260/d3d3d3/FFF/?">
      <% end %>      
       
      <h2 class="text-center"><%= current_user.name %></h2>

      <p><%= current_user.introduction %></p>

      <%= link_to tweets_user_path(current_user) do %>
        <h4>Tweets <span class="badge"><%= current_user.tweets.count %></span></h4>
      <% end %>

        <h4>Following <span class="badge"><%=  %></span></h4>
        
        <h4>Followers <span class="badge"><%= current_user.followers_count %></span></h4>
        
        <h4>Like <span class="badge"><%=  %></span></h4>
      
      <div class="text-center">
        <%= link_to "Edit Profile", edit_user_path(current_user), class: "btn btn-primary btn-lg btn-block" %>
      </div>

    </div>
  </div>

  <div class="col-md-8 col-md-offset-1">

    <h2>Tweets</h2>

      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="media">
              <div class="media-left">
                <% if @tweet.user.avatar? %>
                  <%= image_tag @tweet.user.avatar, class: "media-object", width: "100px" %>
                <% else %>
                  <img src="https://api.fnkr.net/testimg/100x100/d3d3d3/FFF/?">
                <% end %>               
              </div>
              <div class="media-body">
                <h4 class="media-heading">
                  <%= link_to @tweet.user.name, tweets_user_path(@tweet.user) %> &nbsp;
                  <%= @tweet.created_at %> 
                </h4>
                <p><%= @tweet.description %></p> <br>
        
                <p>
                  <%= link_to fa_icon("reply 2x"), tweet_replies_path(@tweet) %>
                  <span class="lead"> <%= @tweet.replies_count %> </span> &nbsp;
                  <%= link_to fa_icon("heart-o 2x") %>
                  <span class="lead"> <%= @tweet.likes_count %> </span>
                </p>
        
              </div>
            </div>
          </div>
        </div>
      </div>

    <h2>Replies</h2>

      <% @replies.each do |reply| %>
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="media">
                <div class="media-left">
                  <%= image_tag reply.user.avatar, class: "media-object", width: "100px" %>
                </div>
                <div class="media-body">
                  <h4 class="media-heading">
                    <%= link_to reply.user.name, tweets_user_path(reply.user) %> &nbsp;
                    <%= reply.created_at %> 
                  </h4>
                  <p><%= reply.comment %></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>

      <div class="col-md-12">
        <%= form_for [ @tweet ,@reply ] do |f| %>
          <div class="form-group">
            <%= f.text_area :comment, class: "form-control input-lg", rows: "4" %> 
          </div>
          <div class="form-group text-right">
            <%= f.submit "Reply", class: "btn btn-primary btn-lg" %> 
          </div>
        <% end %> 
      </div>  
    
  </div>
</div>