<div class="container">
  <div class="row">

    <!-- 以下是會顯示該為使用者的名字及描述 -->
    <div class="col-xs-3">
      <br>
      <div class="row img">
        <img src="http://via.placeholder.com/250x250">
      </div>
      <br>
      <div class="center-size">
        <%= @tweet.user.name %>
      </div>
      <div class="center-intro">
        <%= @tweet.user.introduction %>
      </div>
      <br>
      <div class="number">
        <%= link_to tweets_user_path(@user), style: "color:black" do %>
          Tweets <%= @tweets.count %>
        <% end %>
      </div>
      <div class="number">
        <%= link_to followings_user_path(@user), style: "color:black" do %>
          Following <%= @followings.count %>
        <% end %>
      </div>
      <div class="number">
        <%= link_to followers_user_path(@user), style: "color:black" do %>
          Follower <%= @followers.count %>
        <% end %>
      </div>
      <div class="number">
        <%= link_to likes_user_path(@user), style: "color:black" do %>
          like <%= @likes.count %>
        <% end %>
      </div>
      <br>
      <div  class="center">
        <!-- 以下是判斷該登入者是否為同一位使用者，是的話會秀出編輯按鈕及 Following 按鈕 -->
        <% if @user.name == current_user.name %>
          <%= link_to 'Edit Profile', edit_user_path(current_user), class: "btn btn-primary btn-lg", style: "color:black" %>   
        <% else %>
            <% if current_user.following?(@user) %>
              <%= link_to "Unfollow", followship_path(@user), method: :delete, class: "btn btn-primary btn-lg", style: "color:black" %>
            <% else %>
              <%= link_to "Follow", followships_path(following_id: @user), method: :post, class: "btn btn-primary btn-lg", style: "color:black" %>
            <% end %>
        <% end %>
      </div>
	  </div>

    <!-- 顯示該篇推播 -->
    <div class="col-xs-8 col-xs-offset-1">
      <h1 class="tw">Tweets</h1>
      <div class="row tweet-item">
        <div class="col-xs-3">
          <div class="row img">
            <img src="http://via.placeholder.com/120x120">
          </div>
        </div>
        <div class="col-xs-8">
          <!-- 顯示該篇推播姓名、內容 -->
          <div class="row name">
            <%= link_to @tweet.user.name, tweets_user_path(@tweet.user) %>
            <%= @tweet.created_at.strftime ("%Y-%m-%d, %k:%M") %>
          </div>
          <div class="row desc">
            <%= @tweet.description %>
          </div>
          <div class="row reke">
            <p class="re"><%= link_to tweet_replies_path(@tweet), class: "re" do %>
              Reply(<%= @tweet.replies.count %>)
            <% end %>
            <% if @tweet.is_liked?(current_user) %>
              <%= link_to unlike_tweet_path(@tweet), method: :post , style: "color:red" do %>
                like(<%= @tweet.likes.count %>)
              <% end %>
            <% else %>
              <%= link_to like_tweet_path(@tweet), method: :post , style: "color:red" do %>
                like(<%= @tweet.likes.count %>)
              <% end %>
            <% end %>        
          </div>
        </div>
      </div>

      <!-- 顯示該篇推播的回覆內容 -->
      <h1 class="tit">Replies</h1>
      <% @replies.each do |reply| %>
        <div class="row tweet-item">
          <div class="col-xs-3">
            <div class="row img">
              <img src="http://via.placeholder.com/120x120">
            </div>
          </div>
          <div class="col-xs-8">
            <!-- 顯示該篇推播的回覆姓名、內容 -->
            <div class="row name">
              <%= link_to reply.user.name, tweets_user_path(reply.user) %>
              <%= reply.created_at.strftime ("%Y-%m-%d, %k:%M") %>
            </div>
            <div class="row desc">
              <%= reply.comment %>
            </div>
          </div>  
        </div>
      <% end %>
      
      <!-- Reply 輸入框 -->
      <%= form_for [@tweet, @reply] do |f| %>
        <!-- 用 form-group 包成一個群組，在 description 屬性套用了 text-area css風格-->
        <div class="form-group">
          <%= f.text_area :comment, class: "form-control text-reply" %>
        </div>
        <div class="form-group">
          <%= f.submit "Reply", class: "btn btn-primary btn-lg pull-right reply-button", style: "color:black" %>
        </div>
      <% end %>    
    </div>
    
  </div>
</div>