<div class="container">
  <div class="row">
    <div class="col-md-4">
      <%= image_tag @tweet.user.avatar, width: '300px' if @tweet.user.avatar? %>
      <div><%= @tweet.user.name %></div>
      <div><%= @tweet.user.introduction %></div>
      <div>
        <%= link_to tweets_user_path(@tweet.user), method: :get do %>tweet <%= @tweet.user.tweets.count %>
        <% end %>
      </div>
      <div>
        <%= link_to followings_user_path(@tweet.user), method: :get do %>following <%= @tweet.user.followings.count %>
        <% end %> 
      </div>
      <div>
        <%= link_to followers_user_path(@tweet.user), method: :get do %>follower <%= @tweet.user.followers.count %>
        <% end %> 
      </div>
      <div>
        <%= link_to likes_user_path(@tweet.user), method: :get do %>like <%= @tweet.user.likes.count %>
        <% end %>      
      </div>
      <% if current_user != @tweet.user %>
        <% if current_user.following?(@tweet.user) %>
          <%= link_to 'Unfollow', followship_path(@tweet.user), method: :delete, class: "btn btn-danger" %>
        <% else %>
          <%= link_to "Follow", followships_path(following_id: @tweet.user.id), method: :post, class: "btn btn-primary" %>
        <% end %>
      <% else %>
        <%= link_to "Edit Profile", edit_user_path(@tweet.user), method: :get, class: "btn btn-primary" %>
      <% end %>     
    </div>
    
    <div class="col-md-8">
      <h2>Tweets</h2>
        <%= image_tag @tweet.user.avatar, width: '50' if @tweet.user.avatar? %>
        <%= link_to @tweet.user.name, tweets_user_path(@tweet.user.id) %>
        <%= @tweet.description %>
      <h2>Replies</h2>
      <ul>
        <% @replies.each do |reply| %>
        <li>
          <%= image_tag reply.user.avatar, width: '50' if reply.user.avatar? %>
          <%= reply.comment %>
        </li>
        <% end %>
      </ul>
      <%= form_for [@tweet, @reply] do |f| %>
        <div class="form-group"> 
          <%= f.text_area :comment, placeholder: "回覆內容", class: "form-control", rows: "5" %>
        </div>
        <div class="form-group">
          <%= f.button "Cancel", type: :reset, class: "btn btn-default" %>
          <%= f.submit class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>