<div class="container">
  <div class:"row">

    <div class="col-sm-2">

      <%= render partial: "shared/user_info"%>

    </div>

    <div class="col-sm-10">
      <h1>Tweets</h1>
      <br>
      <div class="col-sm-12 tweet-item">
        <div class="row">
          <div class="col-sm-2">
            <%= image_tag @tweet.user.avatar, size: 80%>
          </div>

          <div class="col-sm-10">
            <%= link_to tweets_user_path(@tweet.user) do%>
              <%= "@"+@tweet.user.name+"，" %>
              <%= @tweet.created_at.strftime("%Y-%m-%d %H:%M") %>
            <% end%>
            <br>
            <%= @tweet.description %>
            <br>
            <%= link_to "Reply("+@tweet.replies.count.to_s+")", tweet_replies_path(@tweet) %>
          </div>
          
        </div>
      </div>

      <h1>Replies</h1>
      <br>
      <% @replies.each do |r| %>
        <div class="col-sm-12 tweet-item">
          <div class="row">
            <div class="col-sm-2">
              <%= image_tag r.user.avatar, size: 80%>
            </div>

            <div class="col-sm-10">
              <%= link_to tweets_user_path(r.user) do%>
                <%= "@"+r.user.name+"，" %>
                <%= r.created_at.strftime("%Y-%m-%d %H:%M") %>
              <% end%>
              <br>
              <%= r.comment %>
            </div>
          </div>
        </div>
      <% end %>

      <%= form_for [@tweet, @reply] do |f| %>
        <div class="form-groug">
          <%= f.text_area :comment, class:"form-control", rows: "5"%>
        </div>
        <br>

        <div class="form-group">
          <%= f.submit "Reply", class:"btn btn-primary pull-right" %>
        </div>
      <% end %>
    </div>

  </div>
</div>