<div class="comtainer">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">

      <!-- 左邊欄 個人資訊 -->
      <div class="col-md-5">
        <div class="">
          <img src="http://via.placeholder.com/150x150" class="img-responsive img-rounded">
        </div>
        <div >  
          <h3><%= @user.name %></h3>
          <div><%= simple_format @user.introduction %></div>
          <p><strong>tweet 32</strong></p>
          <p>following 14</p>
          <p>follower 10</p>
          <p>like 23</p>
        </div>  
        <% if @user.email == current_user.email %>
          <p><%= link_to 'Edit Profile', edit_user_path(@user), class: "btn btn-primary" %></p>
          <p><%= link_to('修改個人資料', edit_user_path(current_user), class: "btn btn-primary") %></p>
        <%end%>

      </div>

      <!-- 右邊 -->
      <div class="col-md-7">
        
        <!-- Tweet -->
        <div class="tweet col-xs-12">
          <h3>Tweet</h3>
          <div class="panel panel-default">          
            <div class="panel-body">
              <h4><%= link_to @tweet.user.name, tweet_replies_path(@tweet.id) %>, <%= @tweet.created_at.strftime("%Y-%m-%d, %H:%M") %></h4>
              <p><%= truncate(@tweet.description, length: 140) %></p>  
            </div>    
          </div>
        </div>
        

        <!-- replies -->
        <div class="reply_list col-xs-12">
          <h3>Replies</h3>
          <div class="panel panel-default">          
            <div class="panel-body">

              <% @replies.each do |reply| %>
                <div class="row">
                  <div class="col-sm-3">
                    <img src="http://via.placeholder.com/90x90" class="img-responsive img-rounded">
                  </div>
                  <div class="col-sm-8">
                    <h5><%= link_to reply.user.name, tweet_replies_path(@tweet.id) %>, <%= @tweet.created_at.strftime("%Y-%m-%d, %H:%M") %></h5>
                    <p><%= reply.comment %></p>
                  </div>   
                </div>    
                <hr>
              <% end %>

            </div>
          </div>
        </div>
        
        



        <!-- reply form -->
        <h4>3. Reply form</h4>


      </div>


    </div>
  </div>
</div>

      
        
      

