<div class="container">
  <div class="col-md-10 col-md-offset-1">

    <div class="col-md-4 personal-info">
      <%= render partial: "shared/user_info", locals: {object: @tweet.user, page: 0} %>     
    </div>

    <br>

    <div class="col-md-8 tweet-reply">
      <h2 class="sub-title">Tweets</h2>
      <%= render partial: "shared/tweet_list", locals: {object: @tweet, flag: false} %>
    
      <br>

      <h2 class="sub-title">Replies</h2>
      <% @replies.each do |reply| %>
        <div class="tweet-item clearfix">
          <div class="tweet-image">
            <%= link_to tweets_user_path(reply.user) do %>
              <% if reply.user.avatar? %>
                <%= image_tag reply.user.avatar %>
              <% else %>
                <img src="http://via.placeholder.com/80x80">
              <% end %>
            <% end %>
          </div>
                  
          <div class="tweet-content">
            <div class="tweet-info"><%= reply.user.name %>, <%= reply.created_at.strftime("%Y-%m-%d, %H:%M") %></div>
            <p><%= reply.comment %></p>
          </div>
        </div>
        <br>
      <% end %>

      <%= form_for [@tweet, @reply] do |f| %>
        <div class="form-group">
          <%= f.text_area :comment, placeholder: "Write some comment!", class: "form-control", id: "reply-new" %>
        </div>
        <div class="form-group clearfix">
          <%= f.submit 'Reply', class: "btn btn-primary tweet-button" %>
        </div>
      <% end %>
    </div>
  
  </div>
</div>