
<div class="content col-md 4">
<div class="card" style="width: 18rem;">
  <%= image_tag @user.avatar, class: "card-img-top" %>
  <div class="card-body">
    <h5 class="card-title"><%= @user.name%></h5>
    <p class="card-text"><%= @user.introduction%></p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Tweets <%= @tweets.size%></li>
    <li class="list-group-item">Following</li>
    <li class="list-group-item">Follower</li>
    <li class="list-group-item"><%= link_to "Like #{@user.likes_count}",likes_user_path(@user)%></li>
  </ul>
  <div class="card-body">
    <%= link_to "Edit Profile", edit_user_path(@user), class: "card-link" %>
  </div>
</div>
</div>
<div class="content col-md-8">
<p>
<%=link_to "#{@tweet.user.name}", tweets_user_path(@tweet.user_id)%>
<%= @tweet.description %>
<%= @tweet.created_at %>
<%= render partial: "shared/like", locals:{tweet: @tweet}%>
<%= @tweet.replies_count%>
<%= @tweet.likes_count%>
</p>
  <h4>Reply Index</h4>
    <ul>
      <% @replies.each do |r| %>
        <li>
          <%= link_to  "#{r.user.name}",tweets_user_path(r.user_id)%>
          <%= r.comment %>
          <%= r.created_at%>
        </li>
      <%end%>
    </ul> 
</p>

<%= form_for [:tweet,@reply] do |r|%>
  <%= r.text_area :comment%>
  <%= r.submit %>
<% end %>
</div>
