<div class="container">
  <div class="row">

<!-------------------------------------- 左半邊（特定推播的主人簡介）-------------------------------------->

    <div class="col-md-4">

      <!-- 呼叫user partial -->
      <%= render partial: "shared/user", locals: {user: @user} %>

    </div><!-- col-md-4 -->


<!-------------------------------------- 右半邊 (針對特定推播的回覆) -------------------------------------->

    <div class="col-md-8">

      <div class="single-tweet-item">
        <h4><%= @user.name %></h4>
        <p class="text-muted">
          <em><%= time_tag(@tweet.created_at) %></em>
        </p>
        <p><%= simple_format @tweet.description %></p>
      </div>

      <hr />

      <div class="single-tweet-reply-item">

          <% @replies.each do |reply| %>
            <h4><%= reply.user.name %></h4>
            <p><%= simple_format reply.comment %></p>
          <% end %>

      </div>


      <%= form_for [@tweet, @reply] do |f| %>
        <%= f.text_area :comment %>
        <%= f.submit 'Reply' %>
      <% end %>


    </div><!-- col-md-8 -->



  </div><!-- row -->
</div><!-- container -->