<div class="col-md-4">

<ul>
  
    <img class="img-circle" src="http://via.placeholder.com/120x120">
    <h2><%= @tweet.user.name %></h2>
    <%= @tweet.user.introduction %>
    
    <h3><%= link_to "Tweets #{@tweet.user.tweets.count}", tweets_user_path(@tweet.user) %></h3>
    <h3><%= link_to "like #{@tweet.user.likes.count}", likes_user_path(@tweet.user) %></h3>
    <h3><%= link_to "Followings #{@tweet.user.followings.count}", followings_user_path(@tweet.user) %></h3>
    <h3><%= link_to "Followers #{@tweet.user.followers.count}", followers_user_path(@tweet.user) %></h3>

    <% if @tweet.user.email == current_user.email %>
      <%= link_to 'Edit Profile', edit_user_path(@tweet.user), class: "btn btn-primary" %>
    <% else %>
      <% if current_user.following?(@tweet.user)%>
        <!-- 會用 DELETE 動作導向 http://localhost:3000/followships/{user.id} -->
        <%= link_to 'Unfollow', followship_path(@tweet.user), method: :delete ,class: "btn btn-info" %>
      <% else %>
        <!-- 會用 POST 動作導向 http://localhost:3000/followships?following_id={user.id} -->
        <%= link_to 'Follow', followships_path(following_id: @tweet.user), method: :post , class: "btn btn-primary" %>
      <% end %>
    <% end %>
  
</ul>

</div>

<div class="col-md-8">
  <h1>Tweets</h1>
  <div class="item">
    <div class="col-md-2">
      <img class="img-round" src="http://via.placeholder.com/60x60">
    </div>

    <%= link_to "@#{@tweet.user.name},#{@tweet.created_at.strftime("%Y-%m-%d, %H:%M")}", tweets_user_path(@tweet.user) %>

    <p><%= @tweet.description %></p>

    <%= link_to "Reply(#{@tweet.replies.count})" , tweet_replies_path(@tweet) %> 

    <% if @tweet.is_liked?(current_user) %>
      <%= link_to "Unlike(#{@tweet.likes.count})", unlike_tweet_path(@tweet), method: :post %>
    <% else %>
      <%= link_to "Like(#{@tweet.likes.count})", like_tweet_path(@tweet), method: :post , class: "red" %>
    <% end %>

    <br>
  </div>



  <h1>replies</h1>


  <% @tweet.replies.each do |reply| %>
    <div class="item">
      <div class="col-md-2">
        <img class="img-round" src="http://via.placeholder.com/60x60">
      </div>
      <%= link_to "@#{reply.user.name},#{reply.created_at.strftime("%Y-%m-%d, %H:%M")}", tweets_user_path(reply.user) %>
      <p><%= simple_format reply.comment %></p>
      
    
    </div>
  <% end %>


  <div class="container">
    <div class="row">
      <%= form_for [@tweet, @reply] do |f| %>
        <div class="form-group">
          <%= f.text_area :comment, placeholder: "留個言吧", class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.submit class: "btn btn-primary" %>
          <%= f.button "Cancel", type: :reset, class: "btn btn-default" %>
        </div>
      <% end %>
    </div>
  </div>

</div>
