<div class="row">
  <div class="col-xs-3">
    <%= render partial: "shared/user_profile", locals: {user: @tweet.user} %>
    
  </div>
  <div class="col-xs-9 ">
    <h1>Tweets</h1>
  </div>
  <div class="col-xs-8 col-xs-offset-1">
    <div class="col-xs-12">
      <%= render partial: "shared/master", locals: {
        tweet: @tweet, tweet_des: @tweet.description, tweet_time: @tweet.created_at,tweet_cache: true }%>
      
    </div>
  </div>
  <div class="col-xs-9 ">
    <h1>Replies</h1>
  </div>
  <div class="col-xs-12">
  <div class="col-xs-8 col-xs-offset-4">
    <% @replies.each do |rely| %>
      <%= rely.comment %>    
    <% end %>
  </div>
  </div>
  

    

  <div class="col-xs-8 col-xs-offset-4">
    <%= form_for [@tweet, @reply] do |f| %>
      <div class="form-group">
        <%= f.text_area :comment, class: "form-control text" %>
      </div>
      <div class="form-group">
        <%= f.submit "Reply", class: "btn btn-default my-btn btn-lg" %>
      </div>
      
    

    <% end %>
  </div>

  
</div>
