    <div class="row">

      <div class="col-md-8 col-sm-12">

      <div class="divtitle"><h3>Tweet</h3></div>

      <%= render partial: "shared/onetweet" , locals:{t: @tweet}%>

      <div class="divtitle"><h3>Replies</h3></div>


      <% if @tweet.replies.size == 0 %>
        <div>尚未有留言，成為第一個留言者<div>
      <% else %>
        <% @replies.each do |t| %>
        <%= render partial: "shared/onereply" , locals:{t: t}%>
        <%end%>
      <%end%>

        <div class="card card-updates" style="margin-top: 15px">
          <div class="card-block">
            <div class="card-tittle"><h4>Leave your reply</h4></div>
            <%= form_for @reply, :url=> replies_tweet_path, class: "my-form" do |f| %>
                <%= f.text_area :comment, :class => "form-control", :style => "padding: 0 0; height: 100px;", :placeholder=> "Update your status" %>
                <%= f.submit "Reply", :class => "btn btn-success pull-right" %>
            <% end %>
          </div>
        </div>

       

      </div>


    </div>