<div class="container">
  <%= render partial: "share/user_item", locals: {user: current_user} %>
  <div id="reply-wall">
    <h2>Tweet</h2>
      <%= render partial: "share/tweet_item", locals: {tweet: @tweet} %>
    <h2>Replies</h2>
    <% @replies.each do |reply| %>
      <div class="reply-item">
        <div class="avatar-sm">
        <%= link_to tweets_user_path(reply.user) do %>
          <%= image_tag(reply.user.avatar, class: "") %>
        <% end %>
        </div>
        <div class="reply-info">
          <h4><%= link_to "@#{reply.user.name}", tweets_user_path(reply.user)%><%= reply.created_at.strftime(" ,%Y-%m-%d %I:%M") %></h4>
          <p><%= reply.comment %></p>
        </div>
      </div>
    <% end %>
    <div id="reply-form">
      <%= form_for [@tweet, @reply] do |f| %>
        <div class="reply-textarea form-group">
          <%= f.text_area :comment, placeholder: "Reply something...", class: "form-control"%>
        </div>
        <%= f.submit 'Reply', class: "btn btn-primary" %> 
      <% end %>
    </div>

  </div>
</div>