<div class="container-fluid">
  <div class="row">
    
    <!-- Left: user profile 重構: Done /start -->
    <%= render partial: "shared/userprofile", locals: {user: @tweet.user} %>
    <!-- Left: user profile /end -->
    
    <!--  //////////////////////////////////////////////////////////////////// -->

    <!-- Right: tweet & replies /start -->
    <div class="col-md-8">
      <h2 class="reply-head"><strong>Tweets</strong></h2>

      <!-- tweet /start-->
      <div class="tweetlist">

        <div class="container"><!-- 包住每一條tweet /start -->

          <!-- Left: user avatar / start-->
          <div class="col-xs-2">
            <div class="tweetavatar">
              <% if @tweet.user.avatar? %>
                <%= image_tag(@tweet.user.avatar, width: '100', height: '100',class: 'center-block') %>
              <% else %>
                <%= image_tag("http://via.placeholder.com/100x100",class: 'center-block') %>
              <% end %>
            </div>
          </div>
          <!-- Left: user avatar / end-->
          
          <!-- Right: user description / start -->
          <div class="col-xs-10">
            
            <!-- base info of user and tweet time / start -->
            <div class="tweetheader">
              <%= link_to tweets_user_path(@tweet.user) do  %>
                <strong class="username">@<%= content_tag :span, @tweet.user.name %></strong>
              <% end %>
              
              <!-- 判斷tweet時間是否大於24小時，依據結果分別顯示不同表示方式 -->
              <% if (Time.now - @tweet.created_at) > 86400  %>
                <span class="tweettime"><%= @tweet.created_at.localtime.to_s(:db) %></span><br />
              <% else %>
                <span class="tweettime"><%= time_ago_in_words(@tweet.created_at).gsub('about','・') %></span><br />
              <% end %>
            </div><!-- base info of user and tweet time / end -->

            <!-- tweet description -->
            <div class="tweettext"><%= @tweet.description %></div>

            <!-- reply ,like & admin destroy link /start -->
            <div>
              <%= link_to replies_path(@tweet), class: "replylink" do %>
                Reply <%= content_tag :span, @tweet.replies_count, class: "badge" %>
              <% end %>
           
              <!-- 判別current_user是否有Like該tweet -->
              <% if current_user.liked_tweet?(@tweet) %>
                <%= link_to unlike_tweet_path(@tweet) ,method: :destroy, class: "unlikelink" do  %>
                Unlike <%= content_tag :span, @tweet.likes_count, class: "badge" %>
                <% end %>
              <% else %>
                <%= link_to like_tweet_path(@tweet) ,method: :post, class: "likelink" do  %>
                Like <%= content_tag :span, @tweet.likes_count, class: "badge" %>
                <% end %>
              <% end %>

            </div> <!-- reply ,like & admin destroy link /end -->

          </div>
          <!-- Right: user description / end -->

        </div><!-- 包住每一條tweet /end -->
        
      </div>
      <!-- tweet /end-->
      
      <br />

      <!-- replies /start -->
      <div class="replies">
        <h2 class="reply-head"><strong>Replies</strong></h2>
        <!-- 格式與tweetlist雷同-->
        <% @replies.each do |reply| %>
        
          <!-- reply /start-->
          <div class="tweetlist">

            <div class="container"><!-- 包住每一條reply /start -->

                <!-- Left: user avatar / start-->
                <div class="col-xs-2">
                  <div class="tweetavatar">
                    <% if reply.user.avatar? %>
                      <%= image_tag(reply.user.avatar, width: '100', height: '100',class: 'center-block') %>
                    <% else %>
                      <%= image_tag("http://via.placeholder.com/100x100",class: 'center-block') %>
                    <% end %>
                  </div>
                </div>
                <!-- Left: user avatar / end-->
                
                <!-- Right: user comment / start -->
                <div class="col-xs-10">
                  
                  <!-- base info of user and tweet time / start -->
                  <div class="tweetheader">
                    <%= link_to tweets_user_path(reply.user) do  %>
                      <strong class="username">@<%= content_tag :span, reply.user.name %></strong>
                    <% end %>
                    
                    <!-- 判斷tweet時間是否大於24小時，依據結果分別顯示不同表示方式 -->
                    <% if (Time.now - reply.created_at) > 86400  %>
                      <span class="tweettime"><%= reply.created_at.localtime.to_s(:db) %></span><br />
                    <% else %>
                      <span class="tweettime"><%= time_ago_in_words(reply.created_at).gsub('about','・') %></span><br />
                    <% end %>
                  </div><!-- base info of user and tweet time / end -->

                  <!-- comment -->
                  <div class="tweettext"><%= reply.comment %></div>


                </div>
                <!-- Right: user comment / end -->

              </div><!-- 包住每一條reply /end -->
            
          </div>
          <!-- reply /end-->

        <% end %>

      </div>
      <!-- replies /end -->

      <!-- form for creating reply /start-->
      <div class="reply-form">
        <%= form_for @reply do |f| %>
          <div class="field">
            <%= f.text_area :comment, class: "form-control", placeholder: "Comment", rows: "5" %>
          </div>
          
          <div class="action text-right">
            <%= f.submit "Reply", class: "btn btn-primary" %>            
          </div>

        <% end %>
      </div>
      <!-- form for creating reply /end-->

    </div>
    <!-- Right: tweet & replies /end  -->

  </div>
</div>
