<div class="container">
  <div class="row">

    <!-- 以下是會顯示該為使用者的名字及描述 -->
    <div class="col-xs-3">
      <%= render partial: "shared/user", locals: {user: @user} %>
	  </div>

    <!-- 顯示該篇推播 -->
    <div class="col-xs-8 col-xs-offset-1">
      <h1 class="tw">Tweets</h1>
      <%= render partial: "shared/tweet", locals: {tweet: @tweet} %>

      <!-- 顯示該篇推播的回覆內容 -->
      <h1 class="tit">Replies</h1>
      <% @replies.each do |reply| %>
        <div class="row tweet-item">
          <div class="col-xs-3">
            <div class="row img">
              <img src="http://via.placeholder.com/120x120">
            </div>
          </div>
          <div class="col-xs-8">
            <!-- 顯示該篇推播的回覆姓名、內容 -->
            <div class="row name">
              <%= link_to reply.user.name, tweets_user_path(reply.user) %>
              <%= reply.created_at.strftime ("%Y-%m-%d, %k:%M") %>
            </div>
            <div class="row desc">
              <%= reply.comment %>
            </div>
          </div>  
        </div>
      <% end %>
      
      <!-- Reply 輸入框 -->
      <%= form_for [@tweet, @reply] do |f| %>
        <!-- 用 form-group 包成一個群組，在 description 屬性套用了 text-area css風格-->
        <div class="form-group">
          <%= f.text_area :comment, class: "form-control text-reply" %>
        </div>
        <div class="form-group">
          <%= f.submit "Reply", class: "btn btn-primary btn-lg pull-right reply-button", style: "color:black" %>
        </div>
      <% end %>    
    </div>
    
  </div>
</div>