<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="user-avatar">
        <%= image_tag(current_user.avatar, class: "img-responsive center-block") %>
      </div>
      <div class="user-info">
        <h3><%= current_user.name%></h3>
        <p><%= current_user.introduction%></p>
      </div>
      <div class="user-button">
        <h4>Tweets: </h4>
        <h4>Following: </h4>
        <h4>Followers: </h4>
        <h4>Like: </h4>
      </div>
      <div class="edit-button">
          <%= link_to 'Edit Profile', edit_user_path(current_user), class: "btn btn-info" %>
      </div>
    </div>
    <div class="col-md-9">
      <h1>Tweets</h1>
      <div class="tweet-section">
          <div class="tweet-item clearfix" >
            <div class="tweet-icon">
              <%= image_tag(@tweet.user.avatar, class: "img-responsive center-block") %>
            </div>
            <div class="tweet-caption">
              <p><%= link_to @tweet.user.name, tweets_user_path(@tweet.user) %>, <%= @tweet.created_at.time.strftime("%Y-%m-%d %H:%M") %></p>
              <p><%= @tweet.description %><p>
              <div class="tweet-button">
                <p>Reply( )&nbsp; &nbsp; &nbsp; &nbsp;Like( )</p>
              </div>
            </div>
          </div>
      </div>

      <h1>Replies</h1>
      <div class="tweet-section">
        <% @replies.each do |reply| %>
        <div class="tweet-item clearfix" >
          <div class="tweet-icon">
            <%= image_tag(reply.user.avatar, class: "img-responsive center-block") %>
          </div>
          <div class="tweet-caption">
            <p><%= link_to reply.user.name, tweets_user_path(reply.user) %>, <%= reply.created_at.time.strftime("%Y-%m-%d %H:%M") %></p>
            <p><%= truncate(reply.comment, length: 50)%><p>
          </div>
        </div>
        <% end %>
      </div>

      <%= form_for [@tweet, @reply] do |f| %>
      <div class="tweet-box clearfix">
        <%= f.text_area :comment, placeholder: "comments?",rows: 6, class:"tweet-textarea"%>
        <%= f.submit "Reply", class: "btn btn-primary tweet-submit" %>
      </div>
      <% end %>
    </div>
  </div>
</div>
