
  <%= render partial: "shared/user_profile" %>

  <h2>Tweets</h2>

  <ul>
  <li>
  Name: <%= @tweet.user.name %> <br>
  Tweets: <%= @tweet.description %> <br>
  <%= "Reply(#{@tweet.replies_count})" %>
  </li>
  </ul>

  <h2>Replies</h2>
  <% @replies.each do |reply| %>
    <%= reply.user.name %>
    <%= simple_format(reply.comment) %>
  <% end %>



  <%= form_for [@tweet, @reply] do |f| %>
    <%= f.text_area :comment %>
    <%= f.submit "Reply" %>
  <% end %>
