<div class="container">
  <div class="row">
      <div class="">
        
        <div class="col-md-4 col-sm-4">
          <div class="text-center">
            <%= image_tag (@user.avatar if @user.avatar?),height: 200 %>
          </div>
        <h2><%= @user.name %></h2>
        <p><strong><%= @user.email %></strong></p>
        <div><%= simple_format @user.introduction %></div>
        <p>
          <strong>tweets: <%= link_to @tweets.count, tweets_user_path(@user) %></strong>
        </p>
        <p>
          <strong>followings: <%= link_to @followings.count, followings_user_path(@user) %></strong>
        </p>
        <p>
          <strong>followers: <%= link_to @followers.count %></strong>
        </p>
        <p>
          <strong>likes: <%= link_to @likes.count, likes_user_path(@user) %></strong>
        </p>

        
        
        <% if @user != current_user %>
            <% if current_user.following?(@user)%>
              <%= link_to 'Unfollow', followship_path(@user), method: :delete, class: "btn btn-default" %>
            <% else %>
              <%= link_to 'Follow', followships_path(following_id: @user), method: :post, class: "btn btn-info" %>
            <% end %>
          <% end %>

        <% if @user.email == current_user.email %>
          <%= link_to 'Edit Profile', edit_user_path(@user), class: "btn btn-info" %>
          <% end %>

        </div>

      <div class="col-md-8 col-sm-8">
        <h2>Tweets</h2>
        <div class="seinbg">
            <%= image_tag (@tweet.user.avatar if @tweet.user.avatar?),height: 100,class: "img-circle" %>
            
            <h5>@<%= link_to @tweet.user.name, tweets_user_path(@user) %>,<%= @tweet.created_at.to_date %>,<%= @tweet.created_at.strftime("%k:%M") %></h5>


            <%= @tweet.description %><br>
            <p><strong>
              <%= link_to tweet_replies_path(@tweet) do %>
              Reply(<%= @tweet.replies.count %>)
              <% end %>
              
              <% if @tweet.is_liked?(current_user) %>
                 <%= link_to unlike_tweet_path(@tweet), method: :post, class: "text-danger" do %>
                 Unlike(<%= @tweet.likes.count %>)
                 <% end %> 
               <% else %>
                 <%= link_to like_tweet_path(@tweet), method: :post, class: "text-danger" do %>
                 Like(<%= @tweet.likes.count %>)
                 <% end %> 
               <% end %> 
            </strong></p>
        
        </div>

        <h2>Reply</h2>

        <div class="seinbg">
          <% @replies.each do |reply| %>
          <div>
            <%= image_tag (reply.user.avatar),height: 100,class: "img-circle" %>
            <h5>@<%= link_to reply.user.name, tweets_user_path(@user) %>,
              <%= reply.created_at.to_date %>,<%= reply.created_at.strftime("%k:%M") %></h5>
            <p><%= simple_format reply.comment %></p>
            <p class="text-muted">
              <em><%= time_ago_in_words(reply.created_at) %> </em>
            </p>
          </div>
          <hr>
          <% end %>
        </div>

        
         <%= form_for [@tweet, @reply] do |f| %>
          <div class="form-group">
            <%= f.text_area :comment, placeholder: "留個言吧", class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.submit class: "btn btn-info" %>
            <%= f.button "Cancel", type: :reset, class: "btn btn-default" %>
          </div>
        <% end %>  

      </div>
      </div>

  </div>
</div>

<style>
  .seinbg{
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #eee;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
  }
</style>
