
<%= render partial: 'shared/person-info' %>

<div class="col m8 s8">
  <div class="person-tweets">
    <h3>Tweets</h3>
    
    <div class="tweet-stream">
      <div class="col m3 s3 u-avatar">
        <%= image_tag @user.avatar, class: "responsive-img" %>
      </div>
      <div class="col m9 s9 u-tweet">
        <h5><%= link_to @user.name, tweets_user_path(@user) %></h5>
        <p><%= @tweet.description %></p>
        <%= render partial: 'shared/like-btn', locals: {tweet: @tweet} %>
      </div>
    </div>

    <h3>Replies</h3>
  
    <% @replies.each do |reply| %>
    <div class="tweet-replies"> 
      <div class="col m3 s3 u-avatar">
        <%= image_tag reply.user.avatar, class: "responsive-img" %>
      </div>
      <div class="col m9 s9 u-tweet">
        <h5><%= link_to reply.user.name, tweets_user_path(reply.user) %></h5>
        <p><%= reply.comment %></p>
      </div>
        
      
    </div>
    <% end %>
    
    <hr class="divide">
    <div class="new-tweet">
      <%= form_for [@tweet, @reply] do |f| %>
        <%= f.text_area :comment, placeholder: "Comment here:" %>
        <%= f.submit 'Reply', class: "btn-small right wave-light wave-effect orange" %>

      <% end %>
    </div>
  </div>
</div>