<div class="container">
  <div class="row">

<!-------------------------------------- 左半邊（特定推播的主人簡介）-------------------------------------->

    <div class="col-md-4">

      <% if @user.avatar? %>
        <%= image_tag @user.avatar.url, width: '200px' %>
      <% else %>
        <%= image_tag ("800x600.png"), width: '200px' %>
      <% end %>

      <h4><%= @user.name %></h4>
      <p><%= @user.introduction %></p>

      <% if @user == current_user %>
        <%= link_to 'Edit', edit_user_path(@user), class: "btn btn-primary" %>
      <% end %>

      <% if @user != current_user %>
        <% if current_user.following?(@user) %>
          <%= link_to 'Unfollow', followship_path(@user), method: :delete, class: "btn btn-danger" %>
        <% else %>
          <%= link_to 'Follow', followships_path(following_id: @user), method: :post, class: "btn btn-default" %>
        <% end %>
      <% end %>

    </div><!-- col-md-4 -->


<!-------------------------------------- 右半邊 (針對特定推播的回覆) -------------------------------------->

    <div class="col-md-8">

      <div class="single-tweet-item">
        <h4><%= @user.name %></h4>
        <p class="text-muted">
          <em><%= time_tag(@tweet.created_at) %></em>
        </p>
        <p><%= simple_format @tweet.description %></p>
      </div>

      <hr />

      <div class="single-tweet-reply-item">

          <% @replies.each do |reply| %>
            <h4><%= reply.user.name %></h4>
            <p><%= simple_format reply.comment %></p>
          <% end %>

      </div>


      <%= form_for [@tweet, @reply] do |f| %>
        <%= f.text_area :comment %>
        <%= f.submit 'Reply' %>
      <% end %>


    </div><!-- col-md-8 -->



  </div><!-- row -->
</div><!-- container -->