<div class="container">
  <div class="row">
    <div class="portfolio">
      <%= image_tag @tweet.user.avatar, width: '300px' if @tweet.user.avatar? %>
        <h3 id="user-name">
          <%= @tweet.user.name %>
        </h3>
        <p id="user-introduction">
          <%= @tweet.user.introduction %>
        </p>
        <p>
          <%= link_to "Tweets (#{Tweet.all.where(:user_id => @tweet.user.id).length})", tweets_user_path(@tweet.user) %>
        </p>
        <p>
          <%= link_to "Following (#{Followship.all.where(:following_id => @tweet.user.id).length})", followings_user_path(@tweet.user) %>
        </p>
        <p>
          <%= link_to "Follower (#{Followship.all.where(:user_id => @tweet.user).length})", followers_user_path(@tweet.user) %>
        </p>
        <p>
          <%= link_to "Like (#{Like.all.where(:user_id => @tweet.user).length})", likes_user_path(@tweet.user) %>
        </p>
        <% if current_user == @tweet.user %>
          <p>
            <%= link_to "Edit", edit_user_path(@tweet.user), class: "btn btn-primary ctweet" %>
         </p>
        <% end %>
    </div>
  </div>
</div>

<!-- 選定的tweet -->
<div class="container">
  <div class="row">
    <h3>Tweets</h3>
    <div class="form-group">
      <div class="avatar"><%= image_tag(@tweet.user.avatar, height: '32', width: '32') %></div>
      <p><%= link_to "@#{@tweet.user.name}", tweets_user_path(@tweet.user), :alt => "Who is this?" %>
        <em>, <%= @tweet.created_at.strftime("%Y-%m-%d") %>, <%= @tweet.created_at.strftime("%I:%M%p") %></em>
      </p>
      <p><%= @tweet.description %></p>
      <P>
        <%= link_to "Reply(#{Reply.where(:tweet_id => @tweet.id).length})", tweet_replies_path(@tweet), class: "btn btn-danger" %>
        <% if @tweet.is_liked?(current_user) %>
          <%= link_to "Unlike(#{Like.where(:tweet_id => @tweet.id).length})", unlike_tweet_path(@tweet), method: :post, class: "btn btn-info" %>
          <% else %>
          <%= link_to "Like(#{Like.where(:tweet_id => @tweet.id).length})", like_tweet_path(@tweet), method: :post, class: "btn btn-primary" %>
        <% end %>
      </P>
    </div>
  </div>
</div>

<!-- 已回覆的以及輸入框 -->
<div class="container">
  <div class="row">
    <h3>Replies</h3>
    <% @tweet.replies.each do |reply| %>
      <div class="form-group">
        <div class="avatar">
          <%= image_tag(reply.user.avatar, height: '32', width: '32') %>
        </div>
        <h4>
          <%= link_to "@#{reply.user.name}", tweets_user_path(reply.user), :alt => "Who is this?" %>
          <em>,
            <%= reply.created_at.strftime("%Y-%m-%d") %>,
              <%= reply.created_at.strftime("%I:%M%p") %>
          </em>
        </h4>
        <p><%= simple_format reply.comment %></p>
        
      </div>
      <hr>
    <% end %>

    <%= form_for [@tweet, @reply] do |f| %>
      <div class="form-group">
        <%= f.text_area :comment, placeholder: "留個言吧", class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.submit class: "btn btn-primary" %>
          <%= f.button "Cancel", type: :reset, class: "btn btn-default" %>
      </div>
    <% end %>
  </div>
</div>