<%= render partial: "shared/user_profile", locals: {profile: @tweet.user} %>

<div class= "col-md-8">
  <h4>Tweet</h4>
    <%= render partial: "shared/tweet_format", locals: {profile: @tweet} %>
    <%= render partial: "shared/like_button", locals: {profile: @tweet} %>
    <br/>
    <h4>Reply</h4>
    <% @replies.each do |reply| %>
      <%= image_tag reply.user.avatar, size: "140x140", class: "img-responsive img-circle" %>
      <h5><%= link_to reply.user.name, tweets_user_path(reply.user) %>, <%= reply.created_at %></h5>
      <p><%= reply.comment %></p>
    <% end %>
    <br/>
    <%= form_for [@tweet, @reply] do |f| %>
    <div class="form_group">
      <%= f.text_area :comment, maxlength: 140, placeholder: "reply here!", class: "form-control" %>
    </div>
    <div class="form_group">
      <%= f.submit class: "btn btn-primary" %>
      <%= f.button "Cancel", type: :reset, class: "btn btn-default" %>
    </div>
  <% end %>
</div>