<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <%= render partial: "shared/userProfile", locals: {user: @user} %>
    </div>
    <div class="col-md-8">
      <div class="container-fluid">
        <h2>Tweet</h2>
        <%= render partial: "shared/tweetRecord", locals: {tweet: @tweet} %>
      </div>
      <div class="container-fluid">
        <h2>Replies</h2>   
        <div class="container-fluid">
          <%= form_for :reply , :url => {:controller=>'replies', :action => 'create' } do |f| %>
            <div class="form-group">
              <%= f.text_area :comment, placeholder: "寫些什麼吧～", class: "form-control", rows: 4, style: 'resize: none'%>
            </div>
            <div class="form-group">
              <%= f.submit 'Reply!', class: "btn btn-primary pull-right" %>
            </div>
          <% end %>  
        </div>     
        <br>
        <% @replies.each do |reply| %>
          <div class="container-fluid">
            <div class="well row">
              <div class="col-md-2 col-sm-3 col-xs-4">    
                <% if !reply.user.avatar.nil? %>
                  <%= image_tag(reply.user.avatar, :class => 'img-responsive img-circle', :width => '80%') %>
                <% else %>  
                  尚未上傳
                <% end%>
              </div>
              <div class="col-md-10 col-sm-9 col-xs-8">
                <p> <%= link_to reply.user.name, tweets_user_path(reply.user.id) %>, <%= reply.created_at.strftime('%F') %>, <%= reply.created_at.strftime('%R') %> </p>
                <p><%= reply.comment %></p>            
              </div>
            </div>  
          </div>           
        <% end %>                
      </div>
    </div>    
  </div>
  
</div>