<div class="container">
  <div class="left col-sm-4">
    <%= render partial: "shared/info", locals: {user: @user} %>
  </div>

  <div class="right col-sm-8">
    <h4>Tweets</h4>
    <%= render partial: "shared/tweet_card", locals: {tweets: [@tweet]} %>

    <h4>Replies</h4>
    <% @replies.each do |reply| %>
      <div class="thumbnail ">
        <div class="col-sm-6">
          <%= render partial: "shared/pic", locals: {user: reply.user } %>
        </div>  
        <div class="caption col-sm-6">
          <small class="text-muted">
            <%= link_to "#{ reply.user.name}", tweets_user_path( reply.user ) %>,
            <%= reply.created_at.to_formatted_s(:db)%>
          </small>    
          <p><%= reply.comment %></p>
        </div>
        <div class="clearfix"></div>
      </div>
    <% end %>


    
    <%= form_for [@tweet, @reply] do |f| %>
      <div class="form-group">
        <%= f.text_area :comment, placeholder: "Messages", class: "form-control", rows: "4"  %>
      </div>
      <div class="form-group right">
        <%= f.submit "Reply", class: "btn btn-primary" %>
        <%= f.button "Cancel", type: :reset, class: "btn btn-default" %>
      </div>
    <% end %>
    <div class="clearfix"></div>  
  </div>

</div>
