<h6>這是 reply 的首頁</h6>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <%= @user.name %>
    </div>
    
    <div class="col-md-8">
      <h2>Tweets</h2>
        <%= @tweet.description %>
      <h2>Replies</h2>
      <ul>
        <% @replies.each do |reply| %>
        <li>
          <%= reply.comment %>
        </li>
        <% end %>
      </ul>
      <%= form_for [@tweet, @reply], as: :x do |f| %>
        <div class="form-group"> 
          <%= f.text_area :comment, placeholder: "回覆內容", class: "form-control", rows: "5" %>
        </div>
        <div class="form-group">
          <%= f.button "Cancel", type: :reset, class: "btn btn-default" %>
          <%= f.submit class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>