<div class="profile">
  <div class="avatar">
    <%= image_tag user.avatar, size: "100" if user.avatar? %>
  </div>
  <p></p>
  <div class="intro">
    <%= user.introduction %>
  </div>
  <div class="items">
    <p>Tweets</p>
    <p>Following</p>
    <p>Follower</p>
    <p>Likes</p>
  </div>
  <div class="button">
    <%= link_to "Edit Profile", user_path(user) %>
  </div>
</div>

  <div class="tweets">
  <h1>Tweets</h1>
  <div class="tweets">
   <% @tweets.each do |tweet| %>
     <div class="tweet-item">
       <div class="avatar">
         <%= image_tag tweet.user.avatar, size: "100" if tweet.user.avatar? %>
       </div>
       <div>
         <p>
           <%= tweet.user.name %>
           <%= tweet.created_at.strftime("%Y-%m-%d, %H:%M") %>
         </p>
         <p><%= tweet.description %></p>
         <div>
           <%= link_to "Reply(#{tweet.replies_count})", "#" %>
         </div>
       </div>
     </div>
   <% end %>
 </div>
</div>
<div>
  <h1>Replies</h1>
  <% @replies.each do |reply| %>
    <div class="avatar">
         <%= image_tag tweet.user.avatar, size: "100" if tweet.user.avatar? %>
    </div>
    <div>
      <p>
        <%= reply.user.name %>
        <%= reply.created_at.strftime("%Y-%m-%d, %H:%M") %>
      </p>
      <p><%= simple_format(reply.comment) %></p>
    </div>
  <% end %>
</div>
<%= form_for [@tweet, @reply] do |f| %>
  <%= f.text_area :comment %>
  <%= f.submit "Reply", :disable_with => 'Replying...' %>
<% end %>
