<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h3>user profile </h3>
    </div>
    <div class="col-md-9">
      <h2>Tweets</h2>
      <div class="col-md-12 border">
        <%= @tweet.user.name %>
        <br>
        <%= @tweet.description %>
      </div>
      
      <h2>Replying....</h2>
      <% @replies.each do |reply| %>
        <div class="col-md-12 border">
          <%= reply.user.name %>,
          <%= reply.created_at %>
          <br>
          <%= reply.comment %>
        </div>
      <% end %>
      <%= form_for [@tweet, @reply] do |f| %>
        <div class="form-group">
          <%= f.text_area :comment, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.submit "Reply", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
