 <div class="container">
  <div class="row">

 <%= render partial: "shared/user_intro" %>

<div class="col-md-8">
 <h2>Tweets</h2>

 <%= image_tag (@tweet.user.avatar), class: "usertweet-avatar" %>
     <h5>@<%= link_to @tweet.user.name, tweets_user_path(@user) %>,<%= @tweet.created_at.to_date %>,<%= @tweet.created_at.strftime("%k:%M") %></h5>
      <%= simple_format @tweet.description, style: "color:#808080" %>

      <%= link_to tweet_replies_path(@tweet) do %>
      Reply (<%= @tweet.replies_count %>)
      <% end %>


    <h2>Replies</h2>
      <% @replies.each do |reply| %>
        <div class="panel panel-default twpanel">
          <%= image_tag (reply.user.avatar), class: "usertweet-avatar" %>
          <h5>@<%= link_to reply.user.name, tweets_user_path(@user) %>,<%= reply.created_at.to_date %>,<%= reply.created_at.strftime("%k:%M") %></h5>
          <%= simple_format reply.comment, style: "color:#808080" %>
        </div>
      <% end %>

      <%= form_for [@tweet, @reply] do |f| %>
            <div class="form-group">
              <%= f.text_area :comment, class: "form-control", rows: "5" %>
            </div>
            <div class="form-group">
              <%= f.submit "Reply", class: "btn btn-primary movebtn" %>
            </div>
          <% end %>

  </div>
</div>