<p>
<%= @tweet.description %>
<%= @tweet.created_at %>
<%= render partial: "shared/like", locals:{tweet: @tweet}%>
<%= @tweet.replies_count%>
<%= @tweet.likes_count%>
</p>
<p>Profile
<p>avatar</p>
<%= @user.name %> 
<p> @user.introduction</p>
<p> Tweet Count:<%= @tweets.size%></p>
<p> Followcount</p>
<p> Followercount</p>
<%= link_to "Like Count: #{@user.likes_count}",likes_user_path(@user)%>
<%= link_to "Edit Profile", edit_user_path(@user) %>
<p>
  <h4>Reply Index</h4>
    <ul>
      <% @replies.each do |r| %>
        <li>
          <%= r.comment %>
          <%= r.created_at%>
        </li>
      <%end%>
    </ul> 
</p>

<%= form_for [:tweet,@reply] do |r|%>
  <%= r.text_area :comment%>
  <%= r.submit %>
<% end %>

<%= link_to "index",tweets_path%>