<h1>Replies index</h1>
<div class="container">
  <div class="col-sm-4">

    <%= render partial: "shared/user_dashboard", locals: {user: @tweet.user} %>

  </div>
</div>


<div class="container">
  <div class="col-sm-8">
    <div>
      <h3>Tweets</h3>
      <div>
        <%= image_tag(@tweet.user.avatar, hight: 80, width: 80, class: "img-responsive img-rounded") %>
        <!-- 格式化日期時間 time.strftime("%Y-%m-%d %H:%M:%S") -->
        <p>
          <%= link_to tweets_user_path(@tweet.user) do %>
            <%= "@" + @tweet.user.name %>
          <% end %>
          <%= ", " + @tweet.updated_at.strftime("%Y-%m-%d , %H:%M") %>
        </p>
        <p><%= simple_format @tweet.description %></p>
        <div>
          <%= link_to tweet_replies_path(@tweet) do %>
            Reply(<%= @tweet.replies.size %>)
          <% end %>
          <%= render partial: "shared/like", locals: {tweet: @tweet} %>
        </div>
      </div>
    </div>

    <div> 
      <h3>Replies</h3>
      <% @replies.each do |reply| %>
        <%= image_tag(reply.user.avatar, hight: 80, width: 80, class: "img-responsive img-rounded") %>
        <p><%= "@" + reply.user.name %><%= ", " + reply.created_at.strftime("%Y-%m-%d, %H:%M") %></p>
        <p class="text-meuted">
          <%= simple_format reply.comment %>
          <% if current_user.admin? || current_user == reply.user %>
            <span class="label label-warning"><%= link_to " Delete", tweet_reply_path(@tweet, reply), method: :delete, data: {confirm: "Are you sure?"} %></span>
          <% end %>
        </p>
      <% end %>
    </div>

    <div>
      <%= form_for [@tweet, @reply] do |f| %>
        <div class="from-group">
          <%= f.text_area :comment, placeholder: "Plz, leave your reply.", class: "form-control" %>
        </div>
        <div class="from-group">
          <%= f.submit "Reply", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>

  </div>
</div>