<div class= "col-md-4">
  <%= image_tag @tweet.user.avatar, style: 'max-height: 200px', class: "img-responsive img-rounded" %>
  <h5><%= link_to @tweet.user.name, tweets_user_path(@tweet.user) %></h5>
  <p><%= @tweet.user.introduction %></p>
  <h5>Tweets <%= @tweet.user.tweets.count %>  </h5>
  <% if current_user == @tweet.user %>
    <%= link_to "Edit Profile", edit_user_path(@tweet.user), class: "btn btn-primary" %>
  <% else %>
    leave it for follow button
  <% end %>
</div>
<div class= "col-md-8">
  <h4>Tweet</h4>
    <%= image_tag @tweet.user.avatar, style: 'max-height: 140px', class: "img-responsive img-circle" %>
    <h5><%= link_to @tweet.user.name, tweets_user_path(@tweet.user) %>, <%= @tweet.created_at %></h5>
    <p><%= @tweet.description %></p>
    <h5>
      <%= link_to tweet_replies_path(@tweet) do %>
      Reply(<%= @tweet.replies.count %>)
      <% end %>
    </h5>
    <br/>
    <h4>Reply</h4>
    <% @replies.each do |reply| %>
      <%= image_tag reply.user.avatar, style: 'max-height: 140px', class: "img-responsive img-circle" %>
      <h5><%= link_to reply.user.name, tweets_user_path(reply.user) %>, <%= reply.created_at %></h5>
      <p><%= reply.comment %></p>
    <% end %>
    <br/>
    <%= form_for [@tweet, @reply] do |f| %>
    <div class="form_group">
      <%= f.text_area :comment, maxlength: 140, placeholder: "reply here!", class: "form-control" %>
    </div>
    <div class="form_group">
      <%= f.submit class: "btn btn-primary" %>
      <%= f.button "Cancel", type: :reset, class: "btn btn-default" %>
    </div>
  <% end %>
</div>