<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">

      <div class="col-left col-sm-4 col-md-3">
        <div class="avatar-md">
         <img src="http://via.placeholder.com/150x150"></a>
        </div>
        <h3><%= @tweet.user.name %></h3>
        <p><%= @tweet.user.introduction %></p>
        <ul>
          <li><%= link_to 'Tweet', user_path(@tweet.user) %> </li>
          <li><%= link_to 'Following', followings_user_path(@tweet.user) %> </li>
          <li><%= link_to 'Follower', followers_user_path(@tweet.user) %></li>
          <li><%= link_to 'Likes', likes_user_path(@tweet.user) %> </li>
         </ul>
    
        <% if @tweet.user.email == current_user.email %>
          <%= link_to 'Edit Profile', edit_user_path(@tweet.user), class: "btn btn-primary" %>
        <% else %>
         <!--follow-->
          <%= render partial: "shared/follow", locals: {user: @user}  %>
        <% end %> 
      </div>

      <div class="col-right col-sm-8 col-md-9">
        <!--Tweet lust-->
      <%= render partial: "tweets/tweet" %>

        <!--reply list-->
        <div class="col-reply">
          <h3>Replies</h3>
          <% @tweet.replies.each do |reply| %>
          <div class="reply-list">
            <div class="avatar">
              <img src="http://via.placeholder.com/50x50"></a>
            </div>
            
            <div class = "reply-content">
              
              <p><%= reply.comment %></p>
              
            </div>
            <div class="clearfix"></div>
            <br>
            <% end %>
          </div> 
        <!--reply form-->
          <div calss = "reply-form">
          <%= form_for [@tweet, @reply] do |f| %>
            <%= f.text_area :comment %>
            <%= f.submit 'Reply', class: "btn btn-primary" %>
          <% end %>
          </div>
        </div>


    </div>
  </div>
</div>