<div class="row">
  <div class="col-xs-3">
    <%= render partial: "shared/profile", locals: { user: @tweet.user } %>
  </div>
  <div class="col-xs-8 col-xs-offset-1">
    <div class="tweets col-xs-12">
      <h2>Tweets</h2>
      <%= render partial: "shared/msg", locals: { msg: @tweet, msg_content: @tweet.description, msg_btn: true } %>
    </div>
    <div class="col-xs-12">
      <h2>Replies</h2>
      <div id="replies">
      <% @replies.each do |reply| %>
        <%= render partial: "shared/msg", locals: { msg: reply, msg_content: reply.comment, msg_btn: false } %>
      <% end %>
      </div>
    </div>
    <%= form_for [@tweet, @reply], remote: true do |f| %>
      <div class="form-group">
        <%= f.text_area :comment, class: "form-control text-area" %>
      </div>
      <div class="form-group pull-right">
        <%= f.submit "Reply", :disable_with => 'Replying...' , remote: true, class: "btn btn-default my-btn btn-lg"%>
      </div>
    <% end %>
  </div>
</div>