<div class="container-fluid auth-form">
  <div class="container-fluid text-center">
    <h2>修改帳號密碼</h2>
  </div>
  <div class="container-fluid">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>

      <div class="form-group">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", :class=> 'form-control' %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="form-group">
        <%= f.label "新密碼" %> <i>( 如果不修改請留白 )</i><br />
        <%= f.password_field :password, autocomplete: "off", :class => "form-control" %>      
          <% if @minimum_password_length %>          
            <em>長度最小 <%= @minimum_password_length %>個字元</em>
          <% end %>  
      </div>

      <div class="form-group">
        <%= f.label '新密碼確認' %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off", :class => 'form-control' %>        
      </div>

      <div class="form-group">
        <%= f.label '舊密碼' %> <i>( 需要做身份驗證 )</i><br />
        <%= f.password_field :current_password, autocomplete: "off", :class => 'form-control' %>
      </div>

      <div class="form-group">
        <div class="actions">
          <%= f.submit "更新" , :class => 'btn btn-primary form-control' %>
        </div>
      </div>

      
    <% end %>
  </div>
</div>
