<div class="container text-center">
  <h2>Change <%= resource_name.to_s.humanize %> Password</h2>
  <br />
  <hr>

  <div>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>
      
      <form class="form-group" role="form">
        <div class="field">
          <%= f.label :new_Password %>
          <% if @minimum_password_length %>
            <em>( <%= @minimum_password_length %> characters minimum )</em>
          <% end %>
          <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Enter New Password" %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "Enter New Password Again" %>
        </div>

        <div class="field">
          <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
          <%= f.password_field :current_password, autocomplete: "off", class: "form-control", placeholder: "Enter Original Password" %>
        </div>

        <div class="actions">
          <%= f.submit "更新密碼", class: "btn btn-primary" %> | 
          <%= f.button "取消變更", type: :reset, class: "btn btn-default" %>
        </div>
      </form>
      
    <% end %>
  </div>

  <br />
  <hr>
  <div>
    <%= link_to "回上一頁", :back, class: "btn btn-primary" %>
  </div>


</div> <!-- /.container -->