<% @tweets.each do |t| %>
 
        <div class="card">
          <div class="card-block">
 
            <div class="tweet-avatar">
              <div class="card-pic-width">
                <div class="card-pic-height">
                  <div class="card-pic-position">
                    <img src="<%= t.user.avatar %>" alt="" class="card-picture">
                  </div>
                </div>
              </div>
            </div>
 
            <div class="card-tittle">
              <div class="tweeter-name"><h5><%= t.user.name %></h5></div>
              <p href="#" class="time-log pull-right"><%=time_ago_in_words t.updated_at %> ago</p>
              <hr>
            </div>
 
           
            <div class="card-text">
              <p><%= t.description %></p>
            </div>
            <hr>
            <form>
              <div class="input-group">
                <button class="btn btn-secondary"><i class="far fa-thumbs-up"></i>(5)</button>
                <button class="btn btn-secondary"><i class="far fa-comment-alt"></i>(5)</button>
                <button class="btn btn-secondary"><i class="far fa-share-square"></i></button>
              </div>
            </form>
            </div>
         </div>
 <%end%>

         <div class="text-center margin-10-10">
          <%= paginate @tweets,  window: 2 %>
        </div>