<div class="row">
  <div class="col-md-8">
    <%= form_for @tweet do |f| %>
      <div class="form-group">
        <%= f.text_area :description, placeholder: "What's on your mind?", class:"form-control" %>
      </div>
      <div class="form-group clearfix">
        <%= f.submit "Tweet", class:"btn btn-primary pull-right" %>
      </div>
    <% end %>

    <%= render partial: "shared/tweet", locals: {tweets: @tweets} %>
  </div>

  <div class="col-md-4">
    <h1>all user</h1>
    <%= render partial: "shared/user", locals: {users: @users} %>
  </div>
</div>
