<div class="container">
  <div class="row">
    <div class="col-md-7">
      <%= form_for @tweet do |f| %>
        <%= f.text_area :description, placeholder: "Say it Out!!"%>
        <%= f.submit "Tweet", class: "btn btn-primary" %>
      <% end %>
      <hr>
      <% @tweets.each do |tweet|%>

        <p><%= link_to tweet.user.name, tweets_user_path(tweet.user) %>, <%= tweet.created_at.time.strftime("%Y-%m-%d %H:%M") %></p>
        <p><%= tweet.description %><p>
      <% end %>
    </div>
    <div class="col-md-5">
      <h3>Popular</h3>
      <% @tweets.each do |tweet|%>

        <p><%= link_to tweet.user.name, tweets_user_path(tweet.user) %>, <%= tweet.created_at.time.strftime("%Y-%m-%d %H:%M") %></p>
        <p><%= tweet.description %><p>
      <% end %>
    </div>
  </div>
</div>
