
<h1>首頁</h1>

<div class="container">
  <div class="row">
    <div class = "col-md-5">
      <%= form_for [@tweet] do |f| %>

        <div class="form-group">
          <%= f.text_area :description ,class: "form-control", value: "What's on your mide?", size: "30x5" %>
        </div>

        <div class="form-group">
          <%= f.submit "Tweet", class: "btn-primary"  %>
        </div>
      <% end %>

      <% @tweets.each do |tweet| %>
        <div class="tweet-item">
          <div class="tweet-user-image">
            <% if tweet.user.avatar? %>
               <%= image_tag tweet.user.avatar, class: "img-responsive center-block" %>
            <% else %>
               <span class="glyphicon glyphicon-picture"></span>
            <% end %>
          </div>
          <div class="caption">
            <p><%= tweet.user.name %></p>
            <p><%= tweet.created_at %></p>
            <p><%= tweet.description %></p>
          </div>
        </div>
      <% end %>
    </div><!-- col -->
  
  </div> <!-- row -- >
</div>  <!-- container -- >