<div class="container">
  <div class="row">
    <% if @tweet.errors.any? %>
      <h2>We have some errors here !</h2>
      <ul>
        <% @tweet.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
      <hr>
    <% end %>
    <div class="col-md-8">
      <%= form_for @tweet do |f| %>
        <div class="form-group">
          <%= f.label :description, "Description" %>
          <%= f.text_area :description, placeholder: "What's on your mind?", class: "form-control" %>
        </div>
        <%= f.submit "Tweet",class: "btn btn-primary" %>
      <% end %>
      <% @tweets.each do |tweet| %>
      <div class="panel panel-default">
        <div class="row">
          <div class="col-md-2">
            <%= image_tag(tweet.user.avatar.url, height: 100, width: 100) %>
          </div>
          <div class="col-md-10">
            <h4><%= tweet.user.name %></h4>
            <p><%= simple_format tweet.description %></p>
            <p class="text-muted">
              <em><%= tweet.created_at.to_time.to_s.split('+').first %> </em>
            </p>
            <%= link_to "Reply", tweet_replies_path(tweet) %>
            <%= link_to "like", like_tweet_path(tweet), method: :post %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
    <div class="col-md-4">
      <h3></strong>Popular</h3>
        <% @users.each do |user| %>
        <div class="panel panel-default">
          <div class="row">
            <div class="col-md-4">
              <%= image_tag(user.avatar.url, height: 100, width: 100) %>
            </div>
            <div class="col-md-8">
              <h4><%= link_to user.name, tweets_user_path(user) %></h4>
              <p><%= user.introduction %></p>
            </div>
          </div>
        </div>
        <% end %>
      </ul>
    </div>
  </div>
</div>
