
<div class="container">
  <div class="row">
    <div class = "col-md-6">
      <%= form_for [@tweet] do |f| %>

        <div class="form-group tweet-content">
          <%= f.text_area :description ,class: "form-control", value: "What's on your mide?", size: "30x5", color:  "#e3f2fd" %>
        </div>

        <div class = "col-xs-offset-10 col-sm-offset-10 col-md-offset-10 col-lg-offset-10">
          <div class="form-group tweet-btn">
            <%= f.submit "Tweet", class: "btn-primary"  %>
          </div>
        </div>
      <% end %>

      <br>
      <% @tweets.each do |tweet| %>
        <%= render partial: "shared/tweets", locals: {tweet: tweet, admin: false} %>
      <% end %>

    </div> <!-- col -->

    <!-- Popular -->
    <div class = "col-md-6">
      <h3 class="header-item">*Popular*</h3>
      <br>
      <% @users.each do |user| %>
        <div class = "col-md-12">
          <%= render partial: "shared/userblock", locals: {user: user, long_block: true} %>
        </div>
      <% end %>
    </div> <!-- col -->
  
  </div> <!-- row -- >
</div>  <!-- container -- >