<div class="row">
  <!-- your tweets -->
  <div class="col-xs-12 col-sm-8 tweet-col">

    <!-- tweets form -->
    <div class="tweet-form">
      <%= form_for @tweet do |f| -%>
        <div class="form-group">
          <%= f.text_area :description, class: "form-control", id: "message", placeholder: "What's on your mind?" %>
        </div>
        <div class="form-group text-right">
          <%= f.submit 'Tweet', class: "btn btn-primary" %>
        </div>
      <% end -%>
    </div>

    <!-- show tweets -->
    <%= render partial: "shared/collapse_btn", locals: {title: 'Tweets', collapse_target: 'tweets', class_name: 'hidden-sm hidden-md hidden-lg', btn_class: ''} %>
    <div class="collapse in" id="tweets">
      <% @tweets.each do |tweet| %>
        <%= render partial: "shared/message", locals: {message: tweet, is_tweet: true, with_reply: false} %>
      <% end %>
      <div class="text-center"><%= paginate @tweets %></div>
    </div>
  </div>

  <!-- popular -->
  <div class="padding-left15"><%= render partial: "shared/collapse_btn", locals: {title: 'Popular', collapse_target: 'popular', class_name: 'hidden-sm hidden-md hidden-lg', btn_class: ''} %></div>
  <div class="col-xs-12 col-sm-4 collapse in" id="popular">
    <h1>Popular</h1>
    <% @users.each do |user| %>
      <%= render partial: "shared/user_card", locals: {user: user} %>
    <% end %>
  </div>

</div>
