<div class="container">

  <% if @tweet.errors.any? %>
  <h3>We have some errors here!</h3>
  <ul>
  <% @tweet.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  </ul>
  <% end %>

  <div class="col-left">
    <div class="my-tweet">
      <%= form_for @tweet do |f| %>
      <%= f.text_area :description, placeholder: "What's on your mind?" %>
      <%= f.submit 'Tweet', class: "btn btn-primary"%>
      <% end %>
      </div>
    <br>
    
    <!--tweet-->
      <%= render partial: "tweets/tweet" %>

 
  </div>

  <div class="col-right">
    
  </div>


</div>