<div class="container">
   <div class="row">

<h1>tweet index</h1>
<div class="col-md-9 col-sm-8">

            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title"></h3>
              </div>
              <div class="panel-body">

              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title"></h3>
              </div>
              <div class="panel-body">
              <% @tweets.each do |tweet| %>
              <%= tweet.user.name %>
              <%= tweet.time %>
              <%= tweet.description %>

<%= link_to 'Delete', admin_tweets_path(tweet), method: :delete, data: {confirm:"Are you sure?"} %>
                <%= link_to restaurant_path(restaurant) do %>
                <div class="my-restaurant">
                  <div>

                      <% if restaurant.image? %>
                        <%= image_tag restaurant.image, class: "img-rounded img-responsive" %>
                      <% else %>
                        <img src="http://via.placeholder.com/90x60" class="img-rounded img-responsive">

                      <% end %>




                      <h5><%= restaurant.name %></h5>

                    <div class="text-center">
                    <%= render partial: 'shared/favorite', locals: { restaurant: restaurant } %>
                    </div>
                   </div>

                  </div>
                <% end %>

                <% end %>
              </div>
            </div>

          </div>


          <div class="col-md-3 col-sm-4">

            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title"><strong><%= @followings.count %></strong> Followings</h3>
              </div>
              <div class="panel-body">
                <% @followings.each do |following| %>

                <%= link_to user_path(following) do %>
                 <div class="my-restaurant">
                  <div>
                    <% if following.avatar? %>
                      <%= image_tag following.avatar, class: "img-circle", size: "80" %>
                    <% else %>
                      <img src="http://via.placeholder.com/80x80" class="img-circle">
                    <% end %>

                    <!-- <%= image_tag(following.avatar, height: 30, width: 30, class: "img-circle") %> -->
                    <!-- <%= image_tag "http://via.placeholder.com/120x120", class: "img-responsive center-block img-rounded"  %> -->
                  </div>
                  <h5><%= following.name %></h5>
                  <%= link_to 'Unfollow', user_path(following), method: :delete, class:"btn btn-info"%>

                </div>
                <% end %>

                <% end %>
              </div>
            </div>


            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title"><strong><%= @followers.count %></strong> Followers</h3>
              </div>
              <div class="panel-body">
                <% @followers.each do |follower| %>

                <%= link_to user_path(follower) do %>
                 <div class="my-restaurant">
                  <div>
                    <% if follower.avatar? %>
                      <%= image_tag follower.avatar, class: "img-circle", size: "80" %>
                    <% else %>
                      <img src="http://via.placeholder.com/80x80" class="img-circle">
                    <% end %>
                    <!-- <%= image_tag(follower.avatar, height: 30, width: 30, class: "img-circle") %> -->
                    <!-- <%= image_tag "http://via.placeholder.com/120x120", class: "img-responsive center-block img-rounded"  %> -->
                  </div>
                  <h5><%= follower.name %></h5>
                </div>
                <% end %>

                <% end %>
              </div>
            </div>
            </div>






              <div class="clearfix"></div>

            </div>
          </div>




</div>
</div>
