<h1>前台</h1>
<%= form_for  @tweet do |f| %>
<div class="field">
  <% f.label :description%>
  <%= f.text_area :description ,placeholder:"What's on your mind?" %>
</div>
<%= f.submit "tweet" %>
<% end %>

<div>

<% @tweets.each do |tweet| %>
<ul>
  <!-- 推文者圖片
  推文者name有超連結 -->
  <%= tweet.created_at.strftime("%Y-%m-%d, %T") %>
  <%= tweet.description %>
</ul>
<% end %>
<div>
