<div class="row">
  <div class="col s8">
    <div class="new-tweet">
      <%= form_for [@user, @tweet] do |f| %>
        <textarea maxlength="140" placeholder="Hey, what's up?" name="tweet[description]" id="textarea2" data-length="140"></textarea>
        <div class="submit-block">
          <%= f.button class: "btn-floating btn-large waves-effect waves-light cyan right", type: :submit do %>
            <i class="material-icons">mode_edit</i>
          <% end %>
        </div>

        <% if @tweet.errors.any? %>
          <%= @tweet.errors.full_messages.to_sentence %>
        <% end %>
      <% end %>
    </div>

    <% @tweets.each do |tweet| %>
    <div class="tweet-stream">
      <div class="u-avatar" id="avatar">
        
      </div>
      
      <div class="col m10 u-tweet" id="tweet-content">
        <h5><%= tweet.user.name %></h5>
        <%= tweet.description %></p>
      </div>
    </div>
    <% end %>

    <div class="center-align">
      <%= paginate @tweets %>
    </div>

  </div>

  <div class="col s4">
  <h3>Popular</h3>
  <% @users.each do |user| %>
    <div class="pop-user">
      <div class="u-avatar" id="avatar">
        
      </div>
      <div class="user-info">
        <h6><%= user.name %></h6>
        <span><%= user.introduction %></span>
      </div>
    </div>
  <% end %>
  </div>
</div>