<div class="container">
	<div class="row">

		<div class="col-xs-8">
			<div>
				<!-- 以下是 Tweet 的輸入框 -->
        		<%= form_for @tweet do |f| %>
        			<!-- 用 form-group 包成一個群組，在 description 屬性套用了 text-area css風格-->
        			<div class="form-group">
        				<%= f.text_area :description, placeholder: "What's on your mind ?", class: "form-control text-area" %>
        			</div>
        			<!-- 在 Tweet 這個按鈕套用 btn btn-primary/造型 btn-lg/放大 pull-right/置右-->
        			<div class="form-group tweet-button">
        				<%= f.submit "Tweet", class: "btn btn-primary btn-lg pull-right", style: "color:black" %>
        			</div>
        		<% end %>	
			</div>
			
			<!-- 以下是顯示全部 Tweet 的內容 -->
			<% @tweets.each do |tweet| %>
				<div class="row tweet-item">
					<!-- 以下是顯示照片 -->
					<div class="col-xs-3">
						<div class="row img">
							<img src="http://via.placeholder.com/120x120">
						</div>
					</div>

					<!-- 以下是 Tweet 的內容，有姓名、發文時間、發文內容 -->
					<!-- 時間輸出轉換 to_s(:db)-->
					<div class="col-xs-9">
						<div class="row name">
							<%= link_to tweet.user.name, "#" %>
							<%= tweet.created_at.strftime ("%Y-%m-%d, %k:%M") %>
						</div>
						<div class="row desc">
							<%= tweet.description %>
						</div>
						<div class="row reke">
							<%= link_to "Reply", "#" %>
							<%= link_to "Like", "#" %>
						</div>
					</div>
				</div>
			<% end %>	
		</div>
	
	</div>
</div>