<div class="row">
  <!-- your tweets -->
  <div class="col-xs-8">

    <!-- tweets form -->
    <div class="tweet-form">
      <%= form_for @tweet do |f| -%>
        <div class="form-group">
          <%= f.text_area :description, class: "form-control", placeholder: "What's on your mind?" %>
        </div>
        <div class="form-group">
          <%= f.submit 'Tweet', class: "btn btn-primary" %>
        </div>
      <% end -%>
    </div>

    <!-- show tweets -->
    <% @tweets.each do |tweet| %>
      <%= render partial: "shared/tweet", locals: {tweet: tweet} %>
    <% end %>
    <div class="text-center"><%= paginate @tweets %></div>

  </div>

  <!-- popular -->
  <div class="col-xs-4">
    
  </div>
</div>
