<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8">
      <div class="col-xs-12 col-md-12">
        <%= form_for [@tweet] do |f| %>
          <div class="form-group">
            <%= f.text_area :description,  placeholder: "What's on your mind?", class: "form-control form-style", style: 'height: 150px' %>
         
            <%= f.submit 'Tweet', class: "navbar-right btn btn-primary button-tweet" %>
          </div>
        <% end %>
      </div>

      <% @tweets.each do |tweet| %>
        <div class="col-xs-12 col-md-12">
          <div class="media tweet-item">
            <div class="media-left">
              <%= image_tag tweet.user.avatar , class: "tweet-avatar"%>
            </div>
            <div class="media-body">
              <h4 class="media-heading"> @<%= tweet.user.name %>, <%= tweet.created_at.strftime("%Y-%m-%d, %H:%M") %>
              </h4>
              <p><%= tweet.description %></p>
            </div> 
          </div> 
        </div>
      <% end %>
    </div>
    <div class="col-xs-6 col-md-4">
      <h3>Popular</h3>
      <% @users.each do |user| %>
        <div class="media tweet-item">
          <div class="media-left">
            <%= image_tag user.avatar , class: "tweet-avatar"%>
          </div>
          <div class="media-body">
            <h4 class="media-heading"> <%= link_to user.name, tweets_user_path(user) %>  
            </h4>
            <p><%= user.introduction %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

