<div class="container">
  <div class="row">
    
    <div class="col-sm-8 col-md-8">
      <div>
        <%= form_for @tweet do |f| %>
          <div class="form-group">
            <%= f.text_area :description, placeholder: "What's your mind?", class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.submit "Tweet", class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>

      <div>
        <% @tweets.each do |tweet| %>
          <%= render partial: "shared/tweet_wall", locals: {tweet: tweet} %>
        <% end %>
      </div>

      <div class="text-center">
        <%= paginate @tweets %>
      </div>
    </div>

    <div class="col-sm-4 col-md-4">
      <h2>Popular</h2>
      <% @users.each do |user| %>
        <div class="popular-item">
          <div class="clearfix">
            <%= image_tag(user.avatar, height: 100, width: 100, class: "img-responsive img-rounded") %>
            <div class="content">
              <%= link_to tweets_user_path(user) do %>
                <h4>@<%= user.name %></h4>
              <% end %>
              <p><%= simple_format user.introduction %></p>
              <div class="follow"><%= render partial: "shared/follow", locals: {user: user} %></div>
            </div>
          </div>
        </div>
      <% end %>
    </div>

  </div>
</div>
