<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="tweet-form clearfix">
        <%= form_for @tweet do |f| %>
          <div class="form-group">
            <%= f.text_area :description, placeholder: "What's on your mind?", rows: "6",class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.submit "Tweet", class: "btn btn-primary btn-right" %>
          </div>
        <% end %>
      </div>
      
      <div class="tweet-list">
        <% @tweets.each do |tweet| %>
          <div class="tweet-well clearfix">
            <div class="tweet-avatar">
              <%= image_tag tweet.user.avatar %>
            </div>
            <div class="tweet-item">
              <%= link_to tweet.user.name, tweets_user_path(tweet.user) %>,
              <%= time_tag tweet.created_at %>
              <p class="wrap"><%= tweet.description %></p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-md-4">
      <h2>Popular</h2>
    </div>
  </div>
</div>

