<div class="container">
  <div class="row">
    <div class="col-md-7">
      <div class="form-group">
        <%= form_for @tweet do |f| %>
          <%= f.text_area :description, placeholder: "What's on your mind?", class: "form-control", rows: "10" %>
          <div class="text-right">
            <%= f.submit class: "btn btn-primary" %>
            <%= f.button "Cancel", type: :reset, class: "btn btn-outline-primary" %>
          </div>
        <% end %>
      </div>
      <hr>
      <% @tweets.each do |tweet| %>
        <div class="col-md-12 border-style">
          <div class="col-md-3">
            <% if tweet.user.avatar?%>
              <%= image_tag tweet.user.avatar, class: "img-responsive img-rounded" %>
            <%else %>
              <img src="http://via.placeholder.com/350x350" class="img-responsive img-rounded">
            <% end %>
          </div>
          <div class="col-md-9 text-left">
            <%= link_to tweets_user_path(tweet.user) do%>
              <h4>@<%= tweet.user.name %>,<%= tweet.created_at.strftime("%Y-%m-%D, %H:%M") %></h4>
            <% end %>
            <h4><%= tweet.description %></h3>
            <div class="like-btn">
              <h4><%= link_to "Reply(#{tweet.replies.count})", tweet_replies_path(tweet), method: :get %></h4>
              <% if tweet.is_liked?(current_user) %>
                <h4><strong><%= link_to "Like(#{tweet.likes.count})", unlike_tweet_path(tweet), method: :post, class: "btn-color" %></strong></h4>
              <% else %>
                <h4><%= link_to "Like(#{tweet.likes.count})", like_tweet_path(tweet), method: :post, class: "btn-color" %></h4>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-md-5">
      <% @users.each do |user| %>
        <div class="col-md-12 ">
          <div class="border-style clearfix">
            <div class="col-md-4 ">
              <% if user.avatar?%>
                <%= image_tag user.avatar, class: "img-responsive img-rounded" %>
              <%else %>
                <img src="http://via.placeholder.com/350x350" class="img-responsive img-rounded">
              <% end %>
            </div>
            <div class="col-md-8">
              <%= link_to tweets_user_path(user) do%>
                <h4>@<%= user.name %> <%= "#{user.followers.count}" %> <%= "#{user.followers_count}" %></h4>
              <% end %>
              <h4><%= user.introduction %></h4>
              <div class="following-btn text-right">
                <% if current_user.following?(user)%>
                  <%= link_to "Unfollow", followship_path(user), method: :delete, class: "btn btn-primary  btn-lg" %>
                <% else %>
                  <%= link_to "Follow", followships_path(following_id: user.id), method: :post, class: "btn btn-primary btn-lg" %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
