<h1>Tweets 前台</h1>

<%= form_for @tweet do |f| %>

  <%= f.text_area :description, placeholder: "What's on your mind?" %>

  <%= f.submit "Tweet" %>
<% end %>



<ul>
  <% @tweets.each do |tweet|%>
  <li>
  Name: <%= tweet.user_id %> <br>
  Tweets: <%= tweet.description %> <br>
  </li>
  <% end %>
</ul>
