

<div class="row">
  <div class="col-xs-8">
    <div>
      <%= form_for @tweet do |f| %>
        <%= f.text_area :description, class: "form-control" %>
        <%= f.submit class: "tweet-button btn btn-primary" %>
        <br>
        <br>
      <% end %>
    </div>
    <% @tweets.each do |tweet| %>
      <div class="row tweet-box">
        <%= render partial: "share/tweet", locals: {tweet: tweet} %>
      </div>
    <% end %>
  </div>
  <div class="col-xs-4">
    
    <% @users.each do |user| %>
      <%= render partial: "share/user_box", locals: {user: user} %>
    <% end %>
    
  </div>


</div>

