<% if @tweet.errors.any? %>
  <h2>We have some errors here !</h2>
  <ul>
    <% @tweet.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>


<%=form_for [@user, @tweet] do |f|%>
  <%= f.label :description, "Description" %>
  <%= f.text_area :description %>

  <%= f.submit %>
<% end %>


<br>

<% @tweets.each do |tweet| %>

  <%= image_tag (tweet.user.avatar), class: "usertweet-avatar" %>

  <h5><%= link_to tweet.user.name %>,<%= tweet.created_at.to_date %>,<%= tweet.created_at.strftime("%k:%M") %></h5>

  <%= simple_format tweet.description, style: "color:#808080" %>

  <%= link_to tweet_replies_path(tweet) do %>
  Reply<!-- (<%= tweet.replies_count %>) -->
  <% end %>

  <!-- & like undo -->

<% end %>

