index 頁面
看見站內所有的推播，以及跟隨者最多的使用者（設為前台首頁）

<ul class="">所有的tweet
      <% @allTweets.each do |tweet| %>
        <li ><%= tweet.description %></li>
      <% end %>
</ul>

<ul class="">最多follower的人
      <% @users.each do |user| %>
        <li ><%= user.name %> <%= user.followers_count %></li>
      <% end %>
</ul>

<ul class="">全部的人
      <% @allusers.each do |user| %>
        <li ><%= user.name %></li>
      <% end %>
</ul>
<%= current_user.id %>
<%= form_for(@tweet) do |f| %>
    <div class="form-group">
      <%= f.text_area :description, placeholder: "留個言吧", class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.submit class: "btn btn-primary" %>
      <%= f.button "Cancel", type: :reset, class: "btn btn-default" %>
    </div>
    <% end %>