<div class="container">
  <div class="row">

<!--------------------------------------- 左邊區塊 --------------------------------------->

    <div class="col-md-8">

      <br />

      <!-- 新增推播失敗的錯誤提示 -->
      <% if @tweet.errors.any? %>
        <%= @tweet.errors.full_messages.to_sentence %>
      <% end %>

      <!-- 新增推播表格 -->
      <%= form_for @tweet do |f| %>
        <div class="form-group">
          <%= f.text_area :description, placeholder: "What's on your mind?", class: "form-control" %>
          <br />
          <%= f.submit class: "btn btn-primary" %>
        </div>
      <% end %>

      <br />

      <!-- 站內所有推播(最新的在前) -->

      <h3>最新推播</h3>

      <div class="tweet-item">

        <% @tweets.each do |tweet| %>
          <%= link_to user_tweets_path(tweet.user) do %>
            <h5><%= tweet.user.name %></h5>
          <% end %>

          <p><%= tweet.description %></p>
        <% end %>

      </div><!-- tweet-item -->


    </div><!-- col-md-6 -->

<!--------------------------------------- 右邊區塊 --------------------------------------->
    
    <div class="col-md-4">

      <!-- 跟隨者最多的使用者 -->
      <h3>Popular</h3>

      <div class="popular-user">

        <% @users.each do |user| %>
          <%= link_to user_tweets_path(user) do %>
            <h5><%= user.name %>
          <% end %>

          <p><%= user.introduction %></p>
        <% end %>

      </div>

    </div><!-- col-md-4 -->





  </div><!-- row -->
</div><!-- container -->