<div class="container">
  <div class="col-sm-7">
        <div class="tweet-input">
          <%= form_for (@tweet) do |f| %>
              <%= f.text_area :description, placeholder: "What's on your mind?", class: "form-control" %>
              <%= f.submit "Tweet", class: "btn btn-primary" %>
          <% end %>
        </div>
        <br>
            <!-- 顯示Tweet-->
        <div class="index-tweet-content">
          <% @tweets.each do |tweet| %>
            <div class="tweet-item clearfix">
              <div class ="col-xs-2">
                <%= image_tag (tweet.user.avatar if tweet.user.avatar?),size: "75" %>
              </div>

              <div class="col-xs-10">
                <%= tweet.user.name %>,<em><%=tweet.created_at%></em>
                <p><%=tweet.description %></p>
                <%= link_to 'Replay', method: :post, class: "btn btn-info" %>
                <%= render partial: "shared/like", locals: {tweet: tweet} %>
              </div>

            </div> 
          <% end %>
        </div>
  </div>

  <div class="col-sm-5">
        <h1>Popular</h1>
          <%= @users.each do |user| %>
            <div class="user-item clearfix">
              <div class ="col-xs-4">       
                <%= image_tag user.avatar, class: "img-responsive center-block" %>
              </div>

              <div class="col-xs-8">
                <%= simple_format user.introduction, length: 200 %>
                <%= render partial: "shared/follow", locals: {user: user} %>
              </div>
                
            </div> 
          <% end %>      
            
    
  </div>
</div>
