<div class="container">
  <div class="row">
    <% if @tweet.errors.any? %>
      <h2>We have some errors here !</h2>
      <ul>
        <% @tweet.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
      <hr>
    <% end %>
    <div class="col-md-8">
      <%= form_for @tweet do |f| %>
        <div class="form-group">
          <%= f.label :description, "Description" %>
          <%= f.text_area :description, maxlength: 140, placeholder: "What's on your mind?", class: "form-control" %>
        </div>
        <%= f.submit "Tweet",class: "btn btn-primary" %>
      <% end %>
      <p></p>
      <% @tweets.each do |tweet| %>
        <%= render partial: "shared/tweet", locals: {tweet: tweet} %>
      <% end %>
    </div>
    <div class="col-md-4">
      <h3></strong>Popular</h3>
        <% @users.each do |user| %>
        <%= render partial: "shared/userlist", locals: {user: user} %>
        <% end %>
      </ul>
    </div>
  </div>
</div>
