<div class="container">
  <div class="row">
    <div class="col-md-8">     
      <%= form_for @tweet, as: :x do |f| %>
        <div class="form-group"> 
          <%= f.text_area :description, placeholder: "說些事情吧...", class: "form-control", rows: "5" %>
        </div>
        <div class="form-group">
          <%= f.button "Cancel", type: :reset, class: "btn btn-default" %>
          <%= f.submit class: "btn btn-primary" %>
        </div>
      <% end %>
      <ul>
        <% @tweets.each do |tweet| %>
        <li>
          <%= link_to tweet.user.name, tweets_user_path(tweet.user.id) %>
          <%= tweet.created_at.to_s[0..15] %>
          <%= tweet.description %>
          <%= link_to tweet_replies_path(tweet.id) do %>
          Relpy(<%= tweet.replies.count %>)
          <% end %>
          <span>like</span>
        </li>
        <% end %>
      </ul>  
    </div>
    <div class="col-md-4">
      <h1>popular</h1>
    </div>
  </div>
</div>

