<div class="container-fluid">
	<div class="row">
		<div class="col-md-8">
			<%= form_for @tweet do |t| %>
				<div class="form_group">
					<%= t.text_area :description, placeholder: "What's on your mind?", class: "form-control", rows: "5"%>
				</div>
				<br>
				<div class="form_group">
					<%= t.submit "Tweet", class: "btn btn-primary"%>
				</div>
			<% end %>
			<br>
			<div>
				<%- @tweets.each do |f| %>
				<div class="thumbnail">
					<%= image_tag f.user.avatar, width:'100px', id:"tweet-avatar" %>
					<div id="tweet-details-block">
						<h5 class="text-primary">@<%= f.user.name %>, <%= f.created_at %></h5>
						<p><%= simple_format f.description %></p>
					</div>
				</div>
				<% end %>
			</div>
		</div>
		<div class="col-md-4">
			
		</div>
	</div>
</div>
