<h1>Tweets index</h1>

<%=form_for @tweet  do |f|%>
  <%= f.text_field :description  %>
  <%=f.submit %>
  
<%end%>

<ul>
  <% @tweets.each do |t| %>
    <li>
      <%= link_to t.user.try(:name),tweets_user_path(t.user_id)%>
      <%=t.description%>
      <%=t.created_at%>
      <%=link_to "reply", tweet_replies_path(t)%>
      <%= link_to "like", like_tweet_path(t), method: :post %>
      <%= link_to "unlike",unlike_tweet_path(t), method: :post %>
    </li>
  <%end%>
</ul>

<%= link_to "admin",admin_tweets_path %>