<div class="container">
  <div class="col-md-10 col-md-offset-1">
    <div class="col-md-7">
      <%= form_for @tweet do |f| %>
        <div class="form-group">
          <%= f.text_area :description, placeholder: "What's on your mind?", class: "form-control", id: "tweet-new" %>
        </div>
        <div class="form-group clearfix">
          <%= f.submit 'Tweet', class: "btn btn-primary tweet-button" %>
        </div>
      <% end %>
      
      <% @tweets.each do |tweet| %>
        <%= render partial: "shared/tweet_list", locals: {object: tweet, flag: false} %>
        <br>
      <% end %>
    </div>

    <div class="col-md-5">
      <h2 class="sub-title" id="popular">Popular</h2><br>
      <% @users.each do |user| %>
        <div class="user-item clearfix">
          <div class="user-image">
            <%= link_to tweets_user_path(user) do %>
              <% if user.avatar? %>
                <%= image_tag user.avatar %>
              <% else %>
                <img src="http://via.placeholder.com/80x80">
              <% end %>
            <% end %>
          </div>
          
          <div class="user-content">
            <h4><%= link_to user.name, tweets_user_path(user) %></h4>
            <p><%= truncate(user.introduction, length: 100) %></p>
            <div>
              <%= render partial: "shared/follow", locals: {object: user} %>
            </div>       
          </div>
        </div>
        <br>
      <% end %>
    </div>
  </div>
</div>