<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">

      <div class="col-xs-7">
        <div class="col-xs-12">
          <%= form_for @tweet do |f| %>
            <div class="form-group">
              <%= f.text_area :description, placeholder: "What's on your mind?", :cols => 55, :rows => 5,  class: "form-control" %>

            </div>

            <div class="form-group">
              <%= f.submit class: "btn btn-info" , style: 'float: right' %>
            </div>
            <% end %>
        </div>

        <div class="col-xs-12">

          <!--TWEET BODY  -->
          <div class="tweet-item row">
            <div class="col-xs-3">
             <!-- Reply BUTTON-->
            </div>
            <div class="col-xs-9">
              <p>
              <% @tweets.each do |t| %>
    <%= t.created_at %>
                  <!-- USER NAME-->
                  <!-- created_at TIME -->
              </p>
              <p>
             <%= t.description %>
                 <!-- msg_content -->
              </p>
     <% end %>
            </div>
           
              <div class="col-xs-9 col-xs-offset-3">
                  <!-- Reply BUTTON-->
                   <!-- like BUTTON--> 
              </div>
             
          </div>

        </div>
      </div>

      <div class="col-xs-5">
        <div class="col-xs-12">
          <h2>Popular</h2>
          <div class="panel-body">
            <!--POPULAR -->
          </div>
        </div>
      </div>
    </div>


  </div>
</div>
