<%= form_for @tweet do |f| %>
  <div class="form-group">
    <%= f.text_field :description, placeholder: "What's on your mind?",  class: "form-control" %>
  </div>
  <%= f.submit 'Tweet', class: "btn btn-primary" %>
  <% if @tweet.errors.any? %>
    <%= @tweet.errors.full_messages.to_sentence %>
  <% end %>
<% end %>

<% @tweets.each do |tweet| %>
  <%= tweet.user.avatar %>
  <%= tweet.user.name %>
  <%= tweet.created_at.strftime("%Y-%m-%d %T") %>
  <%= tweet.description %>
<% end %>
