<h1>前台入口</h1>


<% if @tweet.errors.any? %>
  <h2>We have some errors here !</h2>
  <ul>
    <% @tweet.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>


<%= form_for @tweet do |f| %>
  <div class="field">
    <%= f.text_area :description%>
  </div>

  <%= f.submit "發表推特",class:"btn btn-primary" %>
<% end %>

<% @tweets.each do |tweet| %>
  <%= tweet.description  %>
<% end %>