<h1>推特前台</h1>


<%= link_to 'New Tweet', new_tweet_path, class: "btn btn-primary" %>

<ul>
  <% @tweets.each do |tweet| %>
    <li>
      <%= tweet.user.name %>
      <%= tweet.description %>
      <%= tweet.created_at %>
    </li>
  <% end %>
</ul>

<ul>
  <% @users.each do |user| %>
    <li>
      <%= user.name %>
      <%= user.introduction %>
      <%= user.avatar %>
    </li>
  <% end %>
</ul>