<div class="content col-md-8">
  <%=form_for @tweet, html: {class: "col-md-12"}  do |f|%>
    <div class="form-group">
      <%= f.text_area :description, class: "form-control text-area"%>
    </div>
    <div class="text-right">
      <%=f.submit class: "btn btn-primary" %>
    </div>
  <%end%>
  <br/>
  <br/>
  <% @tweets.each do |t| %>
    <div class="media">
      <%= image_tag t.user.avatar , class: "align-self-center mr-3 avatar rounded"%>
      <%= render partial: "shared/tweet", locals:{tweet: t}%>
    </div>
  <%end%>  
</div>
<div class="content col-md-4">
  <h4>Popular</h4>
  <% @users.each do |u| %>
    <div class="media small-profile">
      <%= image_tag u.avatar, class: "align-self-center mr-3 avatar rounded" %>
      <div class="media-body">
        <h5 class="mt-0"><%= link_to "#{u.name}",tweets_user_path(u) %></h5>
        <p><%= truncate(u.introduction,:length => 60)%></p>
        <%= render partial: "shared/follow", locals:{user: u}%>
      </div>
    </div>
  <%end%>
</div>

