<div class="container">
  <div class="row">
    
    <div class="col-xs-6 col-sm-7 col-lg-8">
      <div>
        <%= form_for @tweet do |f| %>
          <div class="form-group">
            <%= f.text_area :description, placeholder: "What's your mind?", class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.submit "Tweet", class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>

      <div>
        <% @tweets.each do |tweet| %>
          <%= render partial: "shared/tweet_wall", locals: {tweet: tweet} %>
        <% end %>
      </div>

      <div class="text-center">
        <%= paginate @tweets %>
      </div>
    </div>

    <div class="col-xs-6 col-sm-5 col-lg-4">
    <h2>Popular</h2>
      <% @users.each do |user| %>
        <%= render partial: "shared/user_infor", locals: {user: user} %>
      <% end %>
    </div>

  </div>
</div>
