<div id="index" class="container">
  <div class="row">
    <div class="col-xs-12 tweets">
      <%= form_for @tweet do |f| %>
      <div class="form-group">
        <%= f.text_area :description, placeholder: "What's on your mind?", class: "form-control text-area" %>
      </div>
      <div class="form-group button-group">
        <%= f.submit "Tweet", class: "pull-right btn btn-primary my-btn btn-lg" %> 
      </div>
      <% end %>
    </div>
    <hr>

    <div class="content">
      <% @tweets.each do |tweet| %>
      <%= render partial: "shared/tweet", locals: { tweet: tweet} %>
      <% end %>       
    </div>

  <div class="col-md-4 col-right">
    <h3 class="title">Popular</h3>
    <% @users.each do |u| %>
    <div class="pop-user">
      <div class="row">
        <div class="col-md-4">
          <%= image_tag(u.avatar, class: "img-rounded") %>
        </div>
        <div class="col-md-6">
          <%= link_to "@#{u.name}", tweets_user_path(u), class: "name" %>
          <p><%= u.introduction %></p>
          <div class="button-group">
            <% if u != current_user %>
              <% if current_user.following?(u) %>
                <%= link_to "Unfollow", followship_path(u), method: :delete, class: "btn" %>
              <% else %>
                <%= link_to "Follow", followships_path(following_id: u), method: :post, class: "btn" %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>