<div id="tweets" class="container">
  <div class="row">
    <div class="col-xs-12 tweets-form">
      <%= form_for @tweet do |f| %>
        <div class="form-group">
          <%= f.text_area :description, placeholder: "What's on your mind?", class: "form-control text-area" %>
        </div>
        <div class="form-group button-group">
          <%= f.submit "Tweet", class: "pull-right btn btn-primary my-btn btn-lg" %> 
          <%= f.button "Cancel", type: :reset, class: "pull-right my-btn btn-lg" %>         
        </div>
        <% end %>
      </div>
      <hr>

  <div class="index-tweet-content">
    <% @tweets.each do |tweet| %>
      <div class="tweet-item clearfix">
        <div class="col-xs-2">
          <%=image_tag tweet.user.avatar, class:"img-responsive" %>
        </div>
        <!-- <%=tweet.updated_at.strftime("%Y-%m-%d,%H:%M")%> 顯示'%Y年%m月..日時分'   -->
        <div class="col-xs-8"><p class="item-info"><%="@"+tweet.user.name+ ", "%><%=tweet.updated_at.strftime("%Y-%m-%d,%H:%M")%></p>
          <p></p>
          <p><%=tweet.description%></p>
          <%= link_to "Reply(#{tweet.replies_count})", tweet_replies_path(tweet) %>
          <% if tweet.is_liked?(current_user) %>
          <%= link_to "Unlike(#{tweet.likes_count})", unlike_tweet_path(tweet), method: :post,class: "unlike" %>
          <% else %>
          <%= link_to "Like(#{tweet.likes_count})", like_tweet_path(tweet), method: :post, class: "like" %>
          <% end %>
        </div>
      </div>
    <%end%>
    </div>
  </div>

   <div class="col-md-4">
      <h3 class="title">Popular</h3>
      <% @users.each do |u| %>
        <div class="pop-user">
          <div class="row">
            <div class="col-md-4">
              <%= image_tag(u.avatar, class: "img-rounded") %>
            </div>
            <div class="col-md-8">
              <%= link_to "@#{u.name}", tweets_user_path(u), class: "name" %>
              <p><%= u.introduction %></p>
              <div class="button-group">
                <% if u != current_user %>
                <% if current_user.following?(u) %>
                  <%= link_to "Unfollow", followship_path(u), method: :delete, class: "btn" %>
                <% else %>
                  <%= link_to "Follow", followships_path(following_id: u), method: :post, class: "btn" %>
                <% end %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>

  </div>
