<div class="row justify-content-md-center">
  <div class="col-md-7">
    <div id="tweet-form" class="mb-5">
      <%= form_for(@tweet) do |f| %>
        <div class="form-group">
          <%= f.text_area :description, class: "form-control", rows: 5 %>
        </div>
        <div class="text-right">
          <%= f.submit "Tweet", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
    <div id="tweets-list">
      <% @tweets.each do |tweet| %>
        <%= render partial: "shared/tweet_card", locals: {tweet: tweet} %>
      <% end %>
    </div>
  </div>
  <div class="col-md-5">
  <h3>Popular</h3>
   <% @users.each do |user| %>
     <%= render partial: "shared/user_card", locals: {user: user} %>
   <% end %>
  </div>
</div>
