


<div class="container">
  <div class="row">

    <div class="col-sm-8"> 


      <%= form_for @tweet do |f| %>

        <div class="form-group">
          <%= f.text_area :description, placeholder: "What's in your mind?", class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.submit class: "btn btn-primary" %>
        </div>
      <% end %>


      <% @tweets.each do |tweet| %>
        <div class="row">
          <div class="tweet-item">
            <div class="col-sm-4">
              <%= image_tag tweet.user.avatar, class: "img-responsive center-block" %>
            </div>
            <div class="col-sm-8">
              <div class="caption">
                <h3><%= link_to tweet.user.name, tweets_user_path(tweet.user) %></h3>
                <h4><%= truncate(tweet.description, length: 80) %></h4>
                <h4><%= link_to 'Reply('+tweet.reply.count.to_s+')', replies_tweet_path(tweet) %></h4>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <div class="col-sm-4"> 
        
          <h2>Popular</h2>


      <% @users.each do |user| %>
        <div class="">
          <div class="tweet-item">
            <%= image_tag user.avatar, class: "img-responsive center-block" %>
            <div class="caption">
              <h3><%= link_to user.name, tweets_user_path(user) %></h3>
            </div>
          </div>
        </div>
      <% end %>
    </div> 




      
  </div>
</div>