<h1>推特前台</h1>


<%= link_to 'New Tweet', new_tweet_path, class: "btn btn-primary" %>

<ul>
  <% @tweets.each do |tweet| %>
    <li>
      <%= link_to tweet.user.name, tweets_user_path(tweet.user), class: "btn btn-primary" %>
      <%= tweet.description %>
      <%= tweet.created_at %>
      <%= link_to "Reply(#{tweet.replies.count})" , tweet_replies_path(tweet), class: "btn btn-primary" %> 

      <% if tweet.is_liked?(current_user) %>
        <%= link_to 'Unlike', unlike_tweet_path(tweet), method: :post, class: "btn btn-info" %>
      <% else %>
        <%= link_to 'Like', like_tweet_path(tweet), method: :post, class: "btn btn-primary" %>
      <% end %>

    </li>
  <% end %>
</ul>

<h1>user</h1>
<ul>
  <% @users.each do |user| %>
    <li>
      <%= user.name %>
      <%= user.introduction %>
      <img class="img-circle" src="http://via.placeholder.com/60x60">
    </li>
  <% end %>
</ul>