<div class="container">
  <div class="row">
    
    <div class="col-md-7 left">
      
      <div class="tweeting">
        <%= form_for @tweet do |t|%>
          <div class="form-group tweet-input">
            <%= t.text_area :description, placeholder: "What's on your mind?",  class: "form-control" %>
          </div>
          <div class="form-group">
            <%= t.submit "Tweet", class: "pull-right btn btn-primary" %>
          </div>
        <% end %>
      </div>
      <div class="tweets-list">
        <% @tweets.each do |tweet| %>
            
            <div class="row">
              <div class="col-md-3">
                <img src="http://via.placeholder.com/90x90" class="img-responsive img-rounded">
              </div>
              <div class="col-md-8">
              <ul>
                <li><%= @users.name  %></li>
                <li><%= tweet.description %></li>
                <h4><%= link_to "Reply", tweet_replies_path(tweet.id) %>
                  
                </h4>
              </ul>
                
              </div>
            </div>          
        
            <hr>
          <%end%>  
      </div>  
      
    </div>

    <div class="col-md-5 right">
      <h1>Popular</h1>
      <% @users.each do |user|%>
            <div class="row">
              <div class="col-md-3">
                <img src="http://via.placeholder.com/90x90" class="img-responsive img-rounded">
              </div>
              <div class="col-md-8">
                <h4><%= link_to user.name, user_path(user) %></h4>
                <!-- truncate 可截斷文字限定字數。simple_format 可讓文字自動換行 -->
                <P><%= truncate(user.introduction, length: 50) %></P>
                <button>follow%unfollow</button>
              </div>
            </div>
            <hr>
          <% end %>
    </div>

  </div>
</div>