
  <div class="container">
    <div class="row">
      <div class="col-md-8">
       <%= form_for @tweet do |f| %>
        <div class="form-group">
          <%= f.text_area :description, placeholder: "What's on your mind?", class: "form-control text-area" %>
        </div>
        <div class="form-group">
          <%= f.submit "Tweet", class: "btn btn-primary" %>
        </div>
      <% end %>

        <div class="panel panel-default">
          <% @tweets.each do |tweet| %>
            <div class="panel-avatar">
              <%= image_tag tweet.user.avatar, size: "100" if tweet.user.avatar? %>
            </div>
            <div class="panel-body">
              <p>
                <%= link_to tweet.user.name, user_path(tweet.user) %>
                <%= tweet.created_at.strftime("%Y-%m-%d, %H:%M") %>
              </p>
              <p>
                <%= tweet.description %>
              </p>
              <div>
                <%= link_to 'Reply', tweet_replies_path(tweet) %>
              </div>
            </div>
          <% end %>
          <br>
        </div>


    </div>
    </div>
  </div>



<div class="col-md-4">
  <h2>top 10 replies</h2>
</div>
