<h1>frontend</h1>

<div class="container">
  <div class="row">
   <%= form_for @tweet do |f| %>
    <div class="form-group">
      <%= f.text_area :description, placeholder: "What's on your mind?", class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.submit "Tweet", class: "btn btn-primary" %>
    </div>
  <% end %>
  </div>
</div>

</div>

<div class="tweets">
  <% @tweets.each do |tweet| %>
    <div class="avatar">
    </div>
    <div class="tweet-item">
      <%= tweet.user.name %>
      <%= tweet.created_at.strftime("%Y-%m-%d, %H:%M") %>
      <%= tweet.description %>
      <%= link_to 'Reply'  %>
    </div>
  <% end %>
</div>
