<div class="container">
  <div class="row">

      <%= form_for [@user, @tweet] do |f| %>
        <div class="form-group">
          <%= f.text_area :description, placeholder: "What's on your mind?", class: "form-control", rows: "10" %>
        </div>
        <div class="form-group">
          <%= f.submit "Tweet", class: "btn btn-primary btn-lg movebtn" %>
        </div>
      <% end %>

<br>
<br>
<br>
    
    <% @tweets.each do |tweet| %>
      <div class="panel panel-default twpanel">
          <%= image_tag (tweet.user.avatar), class: "usertweet-avatar" %>
          <h5>@<%= tweet.user.name %>,<%= tweet.created_at.to_date %>,<%= tweet.created_at.strftime("%k:%M") %></h5>
          <%= simple_format tweet.description, style: "color:#808080" %>     
      </div>
    <% end %>

  </div>
</div>
