<%= form_for @tweet do |f| %>
  <%= f.text_area :description, placeholder: "What's on your mind?" %>
  <%= f.submit "Tweet" %>
<% end %>

<% @tweets.each do |tweet| %>
  <hr>
  <div class="col-sm-6 col-md-4">
    <div class="tweet-item">
      <div class="caption">
        <%= link_to tweet.user.name, tweets_user_path(tweet.user) %>
        <%= time_ago_in_words(tweet.created_at) %> ago
        <p><%= truncate(tweet.description, length: 80) %></p>
      </div>
    </div>
  </div>
<% end %>