<!-- 左半部 -->
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-7 col-lg-8">
<!-- 新增tweet區 -->
      <%= form_for @tweet do |f| %>
        <div class="form-group">
          <%= f.text_area :description, placeholder: "What's on your mind?", class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.submit "Tweet", class: "btn btn-primary" %>
        </div>
      <% end %>
  
<!-- 顯示tweets區 -->
      <div class="form-group">
        <% @tweets.each do |tweet| %>
          <%= render partial: "shared/tweeter", locals: {tweeter: tweet}%>
        <% end %> 
      </div>
    </div>
<!-- 右半部 -->
<!-- popular -->

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-5 col-lg-4">
    <h2>Popular</h2>
    <br>   
      <% @users.each do |user| %>
        <div class="form-group clearfix tweet-item">
          <div class="col-md-5">
            <%= render partial: "shared/avatar", locals: {user_avatar: user}%>
          </div>
          <div class="col-md-7">
            <h5><%= link_to "#{user.name}", tweets_user_path(user)  %></h5>
          <p>
            <%= user.introduction %>
          </p>
          <p class="update-btn">
            <%= render partial: "shared/follow", locals: {user: user} %>
          </p>
          </div>
        </div>
      <% end %>
        
      
    </div>
  </div>
</div>

