<div class="container">
  <div class="row">

    <div class="col-xs-8">

      <div class="tweets-area col-xs-12">
        <%= form_for @tweet do |t|%>
          <div class="form-group">
            <%= t.text_area :description, placeholder: "What's on your mind?",  class: "form-control" %>
          </div>
          <div class="form-group">
            <%= t.submit "Tweet", class: "pull-right btn btn-primary" %>
          </div>
        <% end %>  
      </div>

      <div class="tweets-list col-xs-12">
        <div class="panel panel-default">          
          <div class="panel-body">
            <% @tweets.each do |tweet| %>
              
              <div class="row">
                <div class="col-sm-3">
                  <img src="http://via.placeholder.com/70x70" class="img-responsive img-rounded">
                </div>
                <div class="col-sm-8">
                  <h4><%= tweet.user.name%>, <%= tweet.created_at.strftime("%Y-%m-%d, %H:%M") %></h4>
                  <p><%= tweet.description %></p> 
                </div>
              </div>          
          
              <hr>
            <%end%>  
          </div>    
        </div>
      </div>

    </div>
  
 
    <div class="col-xs-4">
      <div class="popular-user col-xs-12">
      <h2>Popular</h2>
      <div class="panel panel-default">
        <div class="panel-body">
          <% @users.each do |user|%>
            <div>
              <h4><%= link_to user.name, user_path(user)%></h4>
              <!-- truncate 可截斷文字限定字數。simple_format 可讓文字自動換行 -->
              <P><%= truncate(user.introduction, length: 100) %></P>
            </div>
            <hr>
          <% end %>
        </div>
      </div>
    </div>
    </div>
      

  </div>
</div>
