<div class="container-fluid"> 
  <div class="row">
    <div class="col-md-6">
      <div class="container-fluid">
        <%= form_for :tweet , :url => {:controller=>'tweets', :action => 'create' } do |f| %>
        <div class="form-group">
          <%= f.text_area :description, placeholder: "What's on your mind?", class: "form-control", maxlength: 140, rows: 4, style: 'resize: none'%>
        </div>
        <div class="form-group">
          <%= f.submit 'Tweet', class: "btn btn-primary pull-right" %>
        </div>
        <% end %>
        <div class="clearfix"></div>
        <% @tweets.each do |tweet| %>
        <div class="tweet-item">
          <div class="caption">
            <h4>@<%= tweet.user.name %>, <%= tweet.created_at.strftime("%Y-%m-%d, %H:%M") %></h4>
            <p><%= tweet.description %></p>
            <%= link_to "Reply(#{tweet.replies_count})", tweet_replies_path(tweet) %>
            <br>
          </div>
        </div>
        <% end %>
      </div>
    </div>
    <div class="col-md-6">
      <h1>Popular</h1>
    </div>
  </div>
</div>
