<div class="row justify-content-md-center">
  <div class="col-md-7">
    <div id="tweet-form" class="mb-5">
      <%= form_for(@tweet) do |f| %>
        <div class="form-group">
          <%= f.text_area :description, class: "form-control", rows: 5 %>
        </div>
        <div class="text-right">
          <%= f.submit "Tweet", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
    <%= render partial: "shared/tweets_list" %>
  </div>
  <div class="col-md-5">
  <h3>Popular</h3>
   <% @users.each do |user| %>
    <div class="card mb-3">
      <div class="card-body">
        <p class="card-title"><%= link_to "@"+user.name, tweets_user_path(user) %></p>
        <p class="card-text"><%= user.introduction %></p>
        <p class="text-right"><%= render partial: "shared/follow_button", locals: {user: user} %></p>
      </div>
    </div>
   <% end %>

  </div>
</div>
