<div class="row">
	<div class="col-sm-8">
		<%= form_for @tweet do |f| %>
			<%= f.text_area :description, class: 'form-control my-3 py-3', placeholder: 'What is in your mind? ', maxlength: 140, rows: '8' %>
			<%= f.submit 'Tweet' %>
		<% end %>
		<% @tweets.each do |tweet| %>
			<div class="row border border-secondary rounded my-3 py-3">
				<div class="col-sm-4">
					<%= image_tag tweet.user.avatar, class: 'img-fluid' %>
				</div>
				<div class="col-sm-8">
				<div class="d-flex flex-column">
					<div class="p-2">
					<span class="text-primary"><%= tweet.user.name %><%= ", #{tweet.created_at}" %></span></br>
					<%= tweet.description %>
					</div>
					<div class="p-2">
					<%= link_to "Reply (#{tweet.replies.count})", tweet_replies_path(tweet_id: tweet.id), class: 'btn btn-info'%>
					</div>
					<div class="p-2">
					<%= render partial: 'share/like-btn' , locals: {object: tweet}%>
					</div>
				</div>
				</div>
			</div>
		<% end %>
	</div>

	<div class="col-sm-4">
	<div class="ml-4">
		<% @users.each do |user| %>
			<div class="row border border-secondary rounded my-3 py-3">
				<div class="col-sm-4">
					<%= image_tag user.avatar, class: 'img-fluid' %>
				</div>
				<div class="col-sm-8">
					<%= link_to user.name, tweets_user_path(user) %></br>
					<%= user.introduction %></br>
					<%= render partial: 'share/follow-btn' , locals: {object: user}%>
				</div>
			</div>
		<% end %>
	</div>
	</div>
</div>

<div class="d-flex justify-content-center">
  <%= paginate @tweets %>
</div>