<h1>Tweets 前台</h1>

<%= form_for @tweet do |f| %>

  <%= f.text_area :description, placeholder: "What's on your mind?" %>

  <%= f.submit "Tweet" %>
<% end %>



<ul>
  <% @tweets.each do |tweet|%>
  <li>
  Name: <%= link_to tweet.user.name, tweets_user_path(tweet.user) %> <br>
  Tweets: <%= tweet.description %> <br>
  <%= link_to "Reply(#{tweet.replies_count})", tweet_replies_path(tweet) %>
  </li>
  <% end %>
</ul>
