<div class="container-fluid">
	<div class="row">
		<div class="col-md-8">
			<%= form_for @tweet do |t| %>
				<div class="form_group">
					<%= t.text_area :description, placeholder: "What's on your mind?", class: "form-control", rows: "5"%>
				</div>
				<br>
				<div class="form_group">
					<%= t.submit "Tweet", class: "btn btn-primary"%>
				</div>
			<% end %>
			<br>
			<div>
				<%= render partial: "shared/showTweets.html.erb", locals: {tweets: @tweets}%>
			</div>
		</div>
		<div class="col-md-4">
			<% @users.each do |user|%>
				<div class="thumbnail followships">
					<%= image_tag user.avatar, width:'100px', id:"tweet-avatar followships" %>
					<div class="caption">
						<h3><%= user.name%></h3>
						<p><%= user.introduction%></p>
						<% if not user == current_user %>
							<% if not current_user.following?(user)%>
								<%= link_to "Follow", followships_path(following_id: user), method: :post, class: "btn btn-primary" %>
							<% else %>
								<%= link_to "Unfollow", followship_path(id: user), method: :delete, class: "btn btn-primary" %>
							<% end %>
						<% end %>
					</div>
				</div>
			<%end%>
		</div>
	</div>
</div>
