<div class="container">
   <div class="row">
    <div class="col-md-8">
      <%= form_for(@tweet) do |f| %>
        <div class="form-group">
          <%= f.text_area :description, placeholder: "What's on your mind?", class: 'form-control' %>
         </div>

         <div class="form-group">
          <%= f.submit "Tweet", class: "btn btn-primary" %>
         </div>
       <% end %>
      
      <!--partial-->
      <%= render "shared/tweets", tweets: @tweets %>
    </div>
 
    <div class="col-md-4">
      <h1>Popular</h1>
      <% @users.each do |user| %>
        <div class="col-md-12 border">
          <%= link_to user.name, tweets_user_path(user) %>
          <br>
          <%= user.introduction %>
          <br>
          <%= render partial: "shared/follow", locals: {user: user} %>
        </div>
      <%end%>
    </div>
  </div>
</div>