<ul>
  <% @users.each do |user| %>
    <li>
      <%= user.name %>
      <%= user.avatar %>
    </li>
    <% end %>
</ul>
<ul>
  <% @tweets.each do |tweet| %>
    <li>
      <%= tweet.user_id %>  
      <%= tweet.updated_at %>
      <%= tweet.description %>
      <%= tweet.replies_count %>
    </li>
    <% end %>
</ul>