<h1>前台首頁</h1>

<div class="hgp padding-20 h-gap-10">
 
  <div class="vgp padding-10 v-gap-10">
   
    <div class="vgp padding-0 v-gap-10"> 
      <%= form_for @tweet, as: :x do |f| %>    
        <%= f.text_area :description %>
        <%= f.submit %>    
      <% end %> 
    </div> 
     
    <ul>
      <% @tweets.each do |tweet| %>
      <li>
        <%= tweet.description %>
        <%= tweet.user.name %>
        <%= tweet.created_at.to_s[0..15] %>
        <%= link_to "Reply", tweet_replies_path(tweet.id) %>
      </li>
      <% end %>
    </ul>
    
  </div>  
  
  <div class="com">
    <h1>popular</h1>
  </div>
  
</div>

