<div class="col-md-12">
        <div class="col-md-8">    
          
          <div class="form-group">
            
             <div class="form-inline" >
              <%= form_for @tweet do |f| %>
                <div class="form-group">
                  <%= f.text_field :description, placeholder: "What's on your mind?",  class: "form-control" %>
                </div>
                <%= f.submit "tweet", class: "btn btn-primary" %>
                  <% if @tweet.errors.any? %>
                <%= @tweet.errors.full_messages.to_sentence %>
                <% end %>
              <% end %>

          </div>
  
           <% @tweets.each do |tweet| %>

          <div class="tweet-item">
            <img src="http://via.placeholder.com/80x80" class="avatar">
            <%= link_to tweet.user.name, tweets_user_path(tweet.user) %>, 
            <span class="time">  <%= time_ago_in_words(tweet.created_at) %> </span>
            <div class="content"><%= tweet.description %></div>
            <%= link_to "Reply(#{tweet.replies_count})" , tweet_replies_path(tweet) %> 
            <%= link_to "Like(#{tweet.likes_count})" , like_tweet_path(tweet), method: :post, class: "like"%> 
         
          </div>
 
          <% end %>


        </div>

        <div class="col-md-4">
          <h3>popular</h3>
          
          <div class="user-item">
             <img src="http://via.placeholder.com/80x80" class="avatar">
             <a href="#"> @username </a>
             <div class="descript"> user info </div>
             <button> Follow </button>

          </div>

        </div>


    </div>
  

  </div>


</div>
