<div class="container">
  <div class="row">
    <h1>前台</h1>
    
    
    <div class="col-md-8">
      <% @tweets.each do |tweet| %>
          <div class="seinbg">
            <%= image_tag(tweet.user.avatar, height: 60, width: 60, class: "img-circle") %>
            <h4><%= link_to tweet.user.name, tweet_path(tweet) %></h4>
            <p><%= truncate(tweet.description, length: 80) %></p>
          </div>
      <% end %>
    </div>

    <div class="col-md-4">
      <ul>

  <% @users.each do |user| %>
    <div class="seinbg">
      <%= image_tag(user.avatar, height: 60, width: 60, class: "img-circle") %>
      <h4><%= user.name %></h4>
        

      <% if current_user.following?(user)%>
        <%= link_to 'Unfollow', followship_path(user), method: :delete %>
      <% else %>
        <%= link_to 'Follow', followships_path(following_id: user), method: :post %>
      <% end %>

      
    </div>

  <% end %>

</ul>
    </div>
    
  </div>
</div>

<style>
  .seinbg{
    
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #eee;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
  }
</style>

