<h1>Wellcom to AplhaTweets</h1>
<%= form_for @tweet do |f| %>
	<div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>

	<div class="actions">
    <%= f.submit "Tweet" %>
  </div>
<% end %>

<% @tweets.each do |tweet| %>
	<%= link_to tweet.user.name, user_path(tweet.user.id) %>
	<%= tweet.description %>
	<%= link_to 'Show', tweet_path(tweet)  %>
	<% if current_user.admin? %>
		<%= link_to 'Delete', admin_tweet_path(tweet), method: :delete, data:{ confirm: "Are you sure?" }  %>
	<% end %>
	<br>
<% end %>