<!-- 左半部 -->
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-7 col-lg-8">
<!-- 新增tweet區 -->
      <%= form_for @tweet do |f| %>
        <div class="form-group">
          <%= f.text_area :description, placeholder: "What's on your mind?", class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.submit "Tweet", class: "btn btn-primary" %>
        </div>
      <% end %>
  
<!-- 顯示tweets區 -->
      <div class="form-group">
        <% @tweets.each do |tweet| %>
          <%= render partial: "shared/tweeter", locals: {tweeter: tweet}%>
<!-- like button -->
        <% end %> 
      </div>
    </div>
<!-- 右半部 -->
    <div class="col-xs-12 col-sm-6 col-md-5 col-lg-4">
<!-- popular -->
  <h2>Popular</h2>
<!-- follow按鈕 -->
    <div class="form-group">
      <ul>
        <% @users.each do |user| %>
        <li>
            <%= user.name %>
              <%= render partial: "shared/follow", locals: {user: user} %>
          <% end %>
        </li>
      </ul>

    </div>
<!-- follow btn -->
<div class="form-group">
  
</div>

    </div>
  </div>
</div>