<div class="content">
  <div class="content-left">
    <div class="tweet-block">
      <%=form_for @tweet  do |f|%>
        <%= f.text_field :description  %>
        <%=f.submit %>
      <%end%>
    </div>
    <div class="message-blcok">
      <% @tweets.each do |t| %>
        <div class="avatar">
          <%= image_tag t.user.avatar%>
        </div>
        <div class="message">
          <%= link_to t.user.try(:name),tweets_user_path(t.user_id)%>
          <%=t.description%>
          <%=t.created_at%>
          <%=link_to "reply", tweet_replies_path(t)%>
          Reply Count<%= t.replies_count %>
          Like Count <%= t.likes_count%>
          <%= render partial: "shared/like", locals:{tweet: t}%>
        </div>
      <%end%>
    </div>
  </div>
<div class="content-right">
  <h4>Popular</h4>
  <% @users.each do |u| %>
  <div class="avatar">
    <%= image_tag u.avatar %>
  </div>
  <div class="avatar-message">
    <%= u.name %>
    <%= u.introduction%>
    <%= render partial: "shared/follow", locals:{user: u} %>
  </div>
  <%end%>
</div>