<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-8">
      <div class="form-container">
        <%= form_for [@user, @tweet] do |f| %>
          <div class="form-gorup ">
            <%= f.text_area :description , rows:"6", placeholder: "What's on your mind?",class: "form-control"%>
          </div>
          <br>
          <div class="form-gruop">
            <%= f.submit 'Tweet', class: "btn btn-primary pull-right"%>
          </div>
            
          <br>
          <br>
          <br>
          <div class="form-group">
            <% @tweets.each do |tweet| %>
              
              <div class="panel panel-default">
                <div class="panel-body">
                  <div class="col-md-2">
                    <%= image_tag tweet.user.avatar, width: "80px"%>  
                  </div>
                  <div class="col-md-6">
                    <strong>@<%= link_to tweet.user.name, tweets_user_path(tweet.user) %></strong>
                    
                    ,   <em><%= tweet.created_at.strftime("%Y-%m-%d, %H:%M") %></em>
                    <br>
                    <p><%= simple_format(tweet.description)%></p>
                    <%= link_to tweet_replies_path(tweet) do%>
                      Reply (<%= tweet.replies.count %>)
                    <% end %>
                    
                    <%= render partial: "shared/like", locals:{tweet: tweet} %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>

      </div>
 
    </div>
    <div class="col-xs-6 col-md-4">
      <h2>Popular</h2>
      <% @users.each do |user| %>
      <div class="panel panel-default">
        <div class="panel-body">
      
        <%= image_tag user.avatar, width: "80px"%>
        <p>@<%= user.name %> </p>
        <p><%= user.introduction %></p> 
      
        </div>
      </div> 
      <% end %>        
       
        
    </div>
  </div>
</div>