<div class="container">
	<div class="row">

		<div class="col-xs-8">
			<div>
				<!-- 以下是 Tweet 的輸入框 -->
        		<%= form_for @tweet do |f| %>
        			<!-- 用 form-group 包成一個群組，在 description 屬性套用了 text-area css風格-->
        			<div class="form-group">
        				<%= f.text_area :description, placeholder: "What's on your mind ?", class: "form-control text-area" %>
        			</div>
        			<!-- 在 Tweet 這個按鈕套用 btn btn-primary/造型 btn-lg/放大 pull-right/置右-->
        			<div class="form-group tweet-button">
        				<%= f.submit "Tweet", class: "btn btn-primary btn-lg pull-right", style: "color:black" %>
        			</div>
        		<% end %>	
			</div>
			
			<!-- 以下是顯示全部 Tweet 的內容 -->
			<%= render partial: "shared/tweet", locals: {tweet: @tweet} %>
		</div>

		<!-- 以下是顯示跟隨者數量排名前 10 的推薦者使用者名單 -->
		<div class="col-xs-4">
			<h1 class="po">Popular</h1>
			<% @users.each do |user| %>
				<div class="row tweet-item">
					<div class="col-xs-3">
						<div class="row img">
							<img src="http://via.placeholder.com/120x120">
						</div>
					</div>
					<div class="col-xs-9">
						<div class="row follow">
							<%= link_to user.name, tweets_user_path(user) %>
						</div>
						<div class="follow-intro">
								<%= truncate(user.introduction, length: 100) %>
						</div>
						<div class="foll-button">
							<% if current_user.following?(user) %>
								<%= link_to "Unfollow", followship_path(user), method: :delete, class: "btn btn-primary btn-lg pull-right", style: "color:black" %>
							<% else %>
								<%= link_to "Follow", followships_path(following_id: user), method: :post, class: "btn btn-primary btn-lg pull-right", style: "color:black" %>
							<% end %>
						</div>
					</div>
				</div>
			<% end %>
		</div>
	
	</div>
</div>