<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">  


      <div class="col-md-7">
        <%= form_for (@tweet) do |f| %>
            <div class="form-group">
              <%= f.text_area :description, placeholder: "What's on your mind?", class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f.submit class: "btn btn-primary" %>
            </div>
            <!-- 顯示Tweet-->
            <% @tweets.each do |tweet| %>
              <div>
                <h4><%= tweet.user.name %>,<em><%=tweet.created_at %></em></h4>
                  <p><%= simple_format tweet.description %></p>
                   </p>
              </div>
              <hr>
              <% end %>

          <% end %>
        </div>
        <div class="col-md-5">
        </div>

    </div>
  </div>
</div>
