<div class="container">
  <div class="row">

    <div class="rootLeft col-md-8"">      
      <%= form_for @tweet do |t| %>
      <div class="tweet-area"> 
        <div class="form-group ">
          <%= t.text_area :description, placeholder: "What's on your mind?", class: "form-control textarea" %>
        </div>
       <div class="form-group clearfix">
          <%= t.submit "Tweet", class: "btn btn-primary tweet-btn" %>
       </div>
      </div>   
      <% end %>
    
      <div>      
       <% @index_post.each do |twee| %>
        <div class="panel panel-default indexPost clearfix">
          <div class="tweetAvatar">
            <%= image_tag twee.user.avatar %>
          </div>  
          <div class="tweetInformation">
            <%= twee.user.name %><br>
            <%= twee.id %><br>
            <%= twee.created_at.strftime(" %Y-%m-%d, %R") %> <br>
            <%= twee.description %>  <br>
            <h5><%= link_to "Reply( #{twee.replies.count} )", tweet_replies_path(twee.id) %> </h5>
            <h5> 
              <%= render partial: "shared/like", locals: {tweet: twee} %>
             </h5>  
          </div>        
        </div>
        <% end %>
      </div>   
    </div> <!-- rootLeft  -->

    <div class="rootRight col-md-4">
      <h2>Popular</h2>
      <% @users.each do |user| %>
      <div class="panel panel-default popularPanel clearfix">
        <div class="popularAvatar align-middle">
          <%= image_tag user.avatar %>
        </div>
        <div class="popularIntroduction ">
        <h4>  <%= user.name %></h4>
        <%= user.introduction.truncate_words(10) %>
        </div>
        <div class="popularBtn">
          <%= render partial: "shared/follow", locals: {user: user} %> 
        </div>
      </div>
      <% end %>

    </div>

  </div> <!-- row  -->
</div> <!-- container -->