
<div class="container">
  <div class="row">
    <div class = "col-md-6">
      <%= form_for [@tweet] do |f| %>

        <div class="form-group tweet-content">
          <%= f.text_area :description ,class: "form-control", value: "What's on your mide?", size: "30x5", color:  "#e3f2fd" %>
        </div>

        <div class = "col-xs-offset-10 col-sm-offset-10 col-md-offset-10 col-lg-offset-10">
          <div class="form-group tweet-btn">
            <%= f.submit "Tweet", class: "btn-primary"  %>
          </div>
        </div>
      <% end %>

      <br>

      <% @tweets.each do |tweet| %>
        <div class="tweet-item">
          <div class="tweet-user-image">
            <% if tweet.user.avatar? %>
              <%= link_to tweets_user_path(tweet.user) do %>
                <%= image_tag tweet.user.avatar, class: "img-responsive  img-rounded" %>
              <% end %>
            <% else %>
               <span class="glyphicon glyphicon-picture"></span>
            <% end %>
          </div>
          <div class="caption">
            <p><span><%= link_to tweet.user.name, tweets_user_path(tweet.user) %></span>, <span><%= tweet.created_at %></span></p>
            <p><%= truncate(tweet.description, length: 140)%></p>
          </div>
        </div>
      <% end %>
    </div> <!-- col -->
  
  </div> <!-- row -- >
</div>  <!-- container -- >