<h1>user tweets index</h1>

<!-- User can create tweet here -->
<h3>Create New Tweet</h3>
<%= form_for @tweet do |f| %>
  <%= f.label :description, "Tweet Content" %>
  <%= f.text_area :description %>

  <%= f.submit %>
<% end %>


<!-- User can see recent created tweets here -->
<!-- But now still use sample!!!!!!!! Fix it after follow function finished -->
<h3>Recnet Tweets</h3>
<% @tweets.each do |tweet| %>
  <%= render partial: "shared/tweets", locals: { tweet: tweet } %>
<% end %>
