<div class="container">
  <div class="row">    
    
    <div class="col-md-8">
      <%= form_for [@user, @tweet] do |f| %>
        <div class="form-group">
          <%= f.text_area :description, placeholder: "tweet", class: "form-control", rows: "10" %>
        </div>
        <div class="form-group">
          <%= f.submit "Tweet", class: "btn btn-info" %>
        </div>
      <% end %>


      <% @tweets.each do |tweet| %>
          <div class="seinbg">
            <%= image_tag(tweet.user.avatar, height: 60, width: 60, class: "img-circle") %>
            
            <h5>@<%= tweet.user.name %>,<%= tweet.created_at.to_date %>,<%= tweet.created_at.strftime("%k:%M") %>
            </h5>
            <p><%= truncate(tweet.description, length: 80) %></p>
            <p><strong>
              <%= link_to tweet_replies_path(tweet) do %>
              Reply(<%= tweet.replies.count %>)
              <% end %>

           <% if tweet.is_liked?(current_user) %>
             <%= link_to unlike_tweet_path(tweet), method: :post, class: "text-danger" do %>
             Unlike(<%= tweet.likes.count %>)
             <% end %> 
           <% else %>
             <%= link_to like_tweet_path(tweet), method: :post, class: "text-danger" do %>
             Like(<%= tweet.likes.count %>)
             <% end %> 
           <% end %> 
            </strong></p>           

          </div>
      <% end %>
    </div>

    <div class="col-md-4">

      <h2>Popular</h2>

      <% @users.each do |user| %>
        <div class="seinbg">
          <%= image_tag(user.avatar, height: 60, width: 60, class: "img-circle") %>
          <h4><%= link_to user.name, tweets_user_path(user) %></h4>
          <p><%= truncate(user.introduction, length: 80) %></p>
          
            

          <% if user != current_user %>
            <% if current_user.following?(user)%>
              <%= link_to 'Unfollow', followship_path(user), method: :delete, class: "btn btn-default" %>
            <% else %>
              <%= link_to 'Follow', followships_path(following_id: user), method: :post, class: "btn btn-info" %>
            <% end %>
          <% end %>

          
          
          
        </div>

      <% end %>
    


    </div>
    
  </div>
</div>

<style>
  .seinbg{
    
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #eee;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
  }
</style>

