<div class="container">
  <div class="row">

    <div class="rootLeft col-md-8"">      
      <%= form_for @tweet do |t| %>
      <div class="tweet-area"> 
        <div class="form-group ">
          <%= t.text_area :description, placeholder: "What's on your mind?", class: "form-control textarea" %>
        </div>
       <div class="form-group clearfix">
          <%= t.submit "Tweet", class: "btn btn-primary tweet-btn" %>
       </div>
      </div>   
      <% end %>
    
      <div>      
       <% @tweets.each do |tweet| %>
        <div class="panel panel-default indexPost clearfix">
          <div class="tweetAvatar">
            <%= image_tag tweet.user.avatar %>
          </div>  
          <div class="tweetInformation">
            <%= tweet.user.name %><br>
            <%= tweet.created_at.strftime(" %Y-%m-%d, %R") %> <br>
            <%= tweet.description %>  <br>
            <h5><%= link_to "Reply( #{tweet.replies.count} )", tweet_replies_path(tweet.id) %> </h5>
            <h5> 
              <%= render partial: "shared/like", locals: {tweet: tweet} %>
             </h5>  
          </div>        
        </div>
        <% end %>
      </div>   
    </div> <!-- rootLeft  -->

    <div class="rootRight col-md-4">
      <h2>Popular</h2>
      <% @users.each do |user| %>
      <div class="panel panel-default popularPanel clearfix">
        <div class="popularAvatar align-middle">
          <%= image_tag user.avatar %>
        </div>
        <div class="popularRight">
          <div class="popularIntroduction ">
            <h4>  <%= user.name %></h4>
           <%= user.introduction %>
          </div>

          <div class="popularBtn">
            <%= render partial: "shared/follow", locals: {user: user} %> 
          </div>
        </div>
      </div>
      <% end %>

    </div>

  </div> <!-- row  -->
</div> <!-- container -->