前台


<div class="row justify-content-md-center">
  <div class="col-md-6">
    <div id="tweet-form" class="mb-3">
      <%= form_for(@tweet) do |f| %>
        <div class="form-group">
          <%= f.text_area :description, class: "form-control", rows: 6 %>
        </div>
        <div class="text-right">
          <%= f.submit "Tweet", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
    <div id="tweets-list">
      <% @tweets.each do |tweet| %>
        <%= render partial: "shared/tweets_list", locals: {tweet: tweet} %>
        
      <% end %>
    </div>
  </div>
  <div class="card col-md-5  mr-5">
  <h3>Popular</h3>
   <% @tweets.each do |tweets| %>
     <%#= render partial: "shared/user_card", locals: {user: user} %>
     <%= tweets.description %>
   <% end %>
  </div>
</div>