<div class="container">
  <div class="col-sm-6 col-md-8">
    <div class="new-tweet">
      <%= form_for @tweet do |f| %>
        <div class="form-group">
          <%= f.text_area :description, placeholder: "留個言吧", class: "form-control", rows: "5" %>
        </div>
        <div class="form-group">
          <%= f.submit class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>

    <%= render partial: "shared/tweets_item" %>
    
  </div>

  <div class="col-sm-6 col-md-4">
    <h2><%= "Popular"%></h2>
    <% @users.each do |user|%>
        <div class="user-item">
          <div class="col-md-4">
            <%= image_tag user.avatar, width: '100px', height: '100px' %>
          </div>
          <div class="col-md-8">
            <h3><%= user.name %></h3>
            <p><%= user.introduction %></p>
            <div class="follow-button">
              <% if current_user.following?(user) %>
                <%= link_to "Unfollow", followship_path(user), method: :delete, class: "btn btn-default" %>
              <% else %>
                <%= link_to "Follow", followships_path(following_id: user), method: :post, class: "btn btn-primary" %>
              <% end %>
            </div>
          </div>
        </div>
    <% end %>
  </div>
</div>
