<div class="row">
  <div class="col-xs-7">
    <div class="col-xs-12 tweets-form">
      <%= form_for @tweet, remote: true do |f| %>
        <div class="form-group">
          <%= f.text_area :description, placeholder: "What's on your mind?", class: "form-control text-area" %>
        </div>
        <div class="form-group">
          <%= f.submit "Tweet", :disable_with => 'Tweeting...', remote: true, class: "pull-right btn btn-default my-btn btn-lg" %>
        </div>
      <% end %>
    </div>
    <div class="tweets col-xs-12" id="tweets">
      <% @tweets.each do |tweet| %>
        <%= render partial: "shared/msg", locals: {msg: tweet, msg_content: tweet.description, msg_btn: true} %>
      <% end %>
    </div>
  </div>
  <div class="col-xs-5">
    <div class="popular col-xs-12">
      <h2>Popular</h2>
      <% @users.each do |user| %>
        <div class="user-item row">
          <div class="col-xs-4">
            <%= render partial: "shared/avatar", locals: {avatar: user.avatar} if user.avatar? %>
          </div>
          <div class="col-xs-8">
            <%= link_to user.name, tweets_user_path(user) %><br/>
            <%= truncate user.introduction, length: 200 %>
          </div>
          <%= render partial: "shared/follow_btn", locals: { user: user } %>
        </div>
      <% end %>
    </div>
  </div>
</div>