<h1>user site</h1>

<div class="container">
  <div class="row">


    <%= form_for(@tweet) do |f| %>
      <div class="form-group" style="width: 40rem;">
        <%= f.text_area :description, placeholder: "What's on your mind?", class: "form-control" %>
      </div>
      <div class="form-group right">
        <%= f.submit "Tweet", class: "btn btn-primary" %>
        <%= f.button "Cancel", type: :reset, class: "btn btn-default" %>
      </div>
    <% end %>    
    <div class="clearfix"></div>

    <hr>



    <%= render partial: "shared/post", locals: {tweets: @tweets} %>

    <%= render partial: "shared/followcard", locals: {users: @users} %>
 

    <br>

 
      
  </div>
</div>