<div class="col m8">
  <div class="new-tweet">
    <%= form_for [@user, @tweet] do |f| %>
      <textarea maxlength="140" placeholder="Hey, what's up?" name="tweet[description]" id="textarea2" data-length="140"></textarea>
      <div class="submit-block">
        <%= f.button class: "btn-floating btn-large waves-effect waves-light cyan right", type: :submit do %>
          <i class="material-icons">mode_edit</i>
        <% end %>
      </div>
    

      <% if @tweet.errors.any? %>
        <%= @tweet.errors.full_messages.to_sentence %>
      <% end %>
    <% end %>
  </div>

  <% @tweets.each do |tweet| %>
  <div class="tweet-stream">
    <div class="col m3 s3 u-avatar">
      <%= image_tag tweet.user.avatar, class: 'responsive-img' %>
    </div>
    
    <div class="col m9 s9 u-tweet">
      <div class="u-tweet-title">
        <p>
          <%= link_to tweet.user.name, tweets_user_path(tweet.user) %>
          <em>-<%= tweet.created_at.to_date %>, <%= tweet.created_at.strftime("%H:%M") %>-</em>
        </p>
          
      </div>
      
      <p><%= tweet.description %></p>
      <%= render partial: 'shared/like-btn', locals: {tweet: tweet} %>
    </div>
  </div>
  <% end %>

  <div class="center-align">
    <%= paginate @tweets %>
  </div>

</div>

<div class="col m4">
  <h3>Popular</h3>

  
  <% @users.each do |user| %>
    <div class="pop-user">
      <div class="col m4 s4 p-avatar">
        <%= image_tag user.avatar, class: 'responsive-img' %>
      </div>
      
      <div class="col m8 s8 user-info">
        <h6><%= link_to user.name, tweets_user_path(user) %></h6>
        <p><%= truncate(user.introduction, length: 70) %></p>
      </div>
    </div>
  <% end %>
  


</div>