    <div class="row">

      <div class="col-md-8 col-sm-12">

        <div class="card card-updates">
          <div class="card-block">
            <div class="card-tittle"><h4>What's new?</h4></div>
            <%= form_for @tweet, {class: "my-form"} do |f| %>
                <%= f.text_area :description, :class => "form-control", :style => "padding: 0 0; height: 100px;", :placeholder=> "Update your status" %>
                <%= f.submit "Create", :class => "btn btn-success pull-right" %>
            <% end %>
          </div>
        </div>

        <%= render partial: "manytweets" %>

      </div>

      <div class="col-md-4 col-sm-12">
        <% @users.each do |u| %>
        <%= render partial: "oneuser", locals:{user: u}%>
        <%end%>

      </div>

    </div>