<div class="container-fluid">
  <div class="row">

    <!-- form & tweets list /start -->
    <div class="col-xs-12 col-md-8">
      <h3>進度: tweet發推/tweet list完成，link未完成</h3>
      <!-- form for creating tweet / start -->
      <div class="tweetform" >
        <div class="form-group">
          <br />
          <%= form_for @tweet do |f| %>
            <div class="field">
              <%= f.text_area :description, class: "form-control", placeholder: "有什麼新鮮事想推播呢？(Description輸入上限140字元)", rows: "5", maxlength: "140" %>
            </div>

            <!-- tweet -->
            <div class="action text-right">
              <%= f.submit "Tweet", class: "btn btn-primary" %>            
            </div>

          <% end %> <!-- form_for -->

        </div> <!-- /.form-group -->
      </div> <!-- /.tweetform -->
      <!-- form for creating tweet / end -->
      
      <!-- tweets list /start-->
      <div class="tweetlist">
        
        <% @tweets.each do |tweet| %>
          
          <div class="container"><!-- 包住每一條tweet /start -->

            <!-- Left: user avatar / start-->
            <div class="col-xs-2">
              <div class="tweetavatar">
                <% if tweet.user.avatar? %>
                  <%= image_tag(tweet.user.avatar, width: '100', height: '100',class: 'center-block') %>
                <% else %>
                  <%= image_tag("http://via.placeholder.com/100x100",class: 'center-block') %>
                <% end %>
              </div>
            </div>
            <!-- Left: user avatar / end-->
            
            <!-- Right: user description / start -->
            <div class="col-xs-10">
              
              <!-- base info of user and tweet time / start -->
              <div class="tweetheader">
                <%= link_to '#info' do  %>
                  <strong class="username">@<%= content_tag :span, tweet.user.name %></strong>
                <% end %>
                
                <!-- 判斷tweet時間是否大於24小時，依據結果分別顯示不同表示方式 -->
                <% if (Time.now - tweet.created_at) > 86400  %>
                  <span class="tweettime"><%= tweet.created_at.localtime.to_s(:db) %></span><br />
                <% else %>
                  <span class="tweettime"><%= time_ago_in_words(tweet.created_at).gsub('about','・') %></span><br />
                <% end %>
              </div><!-- base info of user and tweet time / end -->

              <!-- tweet description -->
              <div class="tweettext"><%= tweet.description %></div>

              <!-- reply & like link -->
              <div>
                <%= link_to replies_path(tweet), class: "replylink" do %>
                  Reply <%= content_tag :span, tweet.replies_count, class: "badge" %>
                <% end %>
             
                <%= link_to '#counts', class: "likelink" do  %>
                  Like <%= content_tag :span, tweet.likes_count, class: "badge" %>
                <% end %>
              </div>

            </div>
            <!-- Right: user description / end -->

          </div><!-- 包住每一條tweet /end -->

        <% end %> <!-- tweets.each -->
      </div><!-- tweets list /end-->

    </div><!-- form & tweets list /end -->

    <!-- top 10 users list rank by number of followers /start -->
    <div class="col-xs-12 col-md-4">
      <h3>Popular:施工中</h3>

      <!-- @user.each 呼叫出各個user card/start -->
      <% @users.each do |user| %>
        <div class="usercard clearfix">
          <div class="container">
            <div class="container">
              <!-- Left: user avartar /start -->
              <div class="col-xs-2">
                <div class="usercard-avatar">
                  <% if user.avatar? %>
                    <%= image_tag(user.avatar, width: '60', height: '60',class: 'center-block') %>
                  <% else %>
                    <%= image_tag("http://via.placeholder.com/60x60",class: 'center-block') %>
                  <% end %>
                </div>
              </div>
              <!-- Left: user avartar /end -->

              <!-- Right: user info & introduction /start -->
              <div class="col-xs-10">
                
                <!-- user info -->
                <div class="tweetheader">
                  <%= link_to '#info' do  %>
                    <strong class="username">@<%= content_tag :span, user.name %></strong>
                  <% end %>
                </div>

                <!-- user introduction -->
                <div class="userintro"><%= user.introduction %></div>

              </div>
              <!-- Right: user info & introduction /end -->
            </div> <!-- /.container  -->

            <!-- Bottom: Follow/Unfollow button /start -->
            <div class="follow-button text-right">
              
              <!-- 未完成：判斷followship，顯示follow/unfollow -->
              <%= link_to "Follow(未實裝)", root_path, class: "btn btn-primary" %>

            </div>
            <!-- Bottom: Follow/Unfollow button /end -->

          </div> <!-- /.container  -->
        </div> <!-- /.usercard  -->
      <% end %>
      <!-- @user.each 呼叫出各個user card/end -->

    </div>
    <!-- top 10 users list rank by number of followers /end -->

  </div> <!-- /.row -->
</div> <!-- /.container -->