<div class = "container">
  <div class="col-md-4">
      <%= image_tag @user.avatar, class: "img-responsive" %>
      <h1><%= @user.name %></h1>
      <br>
      <strong>Role:</strong> <%= @user.role %>
      <br>
      <strong>Introduce:</strong> <%= @user.introduction %>     
      <br><br>
      <%= link_to 'Tweets ' + @user.tweets.count.to_s, tweets_user_path(@user), class: "text-primary" %><br>
      <%= link_to 'Followiings ' + @user.followings.count.to_s, followings_user_path(@user), class: "text-primary" %><br>
      <%= link_to 'Followers ' + @user.followers.count.to_s, followers_user_path(@user), class: "text-primary" %><br>
      <%= link_to 'Likes ' + @user.likes.count.to_s, likes_user_path(@user), class: "text-primary" %><br>
      <br>
      <button type="button" class="btn btn-success"><%= link_to('Edit Profile', edit_user_path(@user)) %></button>  
  </div>



  <div>
    <h1> Reply </h1>
    <table class="table table-striped">
          <tbody>
          <% @Replies.each do |reply| %>
            <div class="col-sm-6 col-md-4">
              <div class="user-item">                                
                <%= image_tag reply.user.avatar, class: "img-responsive" %>
                <p><%= reply.user.name %></p>
                <%= simple_format reply.comment %></li>
                <br>                
              </div>
            </div>
          <% end %>
          </tbody>
    </table>

    <hr class="style13">
    <div class="p-3 mb-2 bg-info text-white"><%= flash[:notice] %></div>
    <div class="p-3 mb-2 bg-danger text-white"><%= flash[:alert] %></div>
  </div>
</div>