<div class="container">
  <div class="row">
      <div class="">
        
        <div class="col-md-4 col-sm-4">
          <div class="text-center">
            <%= image_tag (@tweet.user.avatar if @tweet.user.avatar?),height: 200 %>
          </div>
        <h2><%= link_to @tweet.user.name, tweet_path(@tweet) %></h2>
        <p><strong><%= @tweet.user.email %></strong></p>
        <div><%= simple_format @tweet.user.introduction %></div>
        <p><strong>like: <%= @tweet.likes.count %></strong></p>
        

       
        
        <% if @tweet.user.email == current_user.email %>
          <%= link_to 'Edit Profile', edit_user_path(@user), class: "btn btn-info" %>
          <% end %>
        <%= link_to 'Back to index', tweets_path %>
        </div>

      <div class="col-md-8 col-sm-8">
        <h2>Tweets</h2>
        <div class="seinbg">
            <%= image_tag (@tweet.user.avatar if @tweet.user.avatar?),height: 100,class: "img-circle" %>
            <h4><%= link_to @tweet.user.name, tweet_path(@tweet) %>
             <em><%= @tweet.created_at %> </em>
            </h4>
            
            <%= @tweet.description %><br>
            <p><strong>
              Reply: <%= @tweet.replies.count %>
              like: <%= @tweet.likes.count %>
            </strong></p>
        
        </div>

        <h2>Reply</h2>

        <div class="seinbg">
          <% @tweet.replies.each do |reply| %>
          <div>

            <h4><%= link_to reply.user.name, tweet_path(@tweet) %></h4>
            <p><%= simple_format reply.comment %></p>
            <p class="text-muted">
              <em><%= time_ago_in_words(reply.created_at) %> </em>
              <% if current_user.admin? %>
                <%= link_to "Delete", tweet_reply_path(@tweet, reply), method: :delete %>
              <% end %>
            </p>
          </div>
          <hr>
          <% end %>
        </div>

        
         <%= form_for [@tweet, @reply] do |f| %>
          <div class="form-group">
            <%= f.text_area :comment, placeholder: "留個言吧", class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.submit class: "btn btn-info" %>
            <%= f.button "Cancel", type: :reset, class: "btn btn-default" %>
          </div>
        <% end %>  

      </div>
      </div>

  </div>
</div>

<style>
  .seinbg{
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #eee;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
  }
</style>
