<div class="avatar-md">
  <img src="http://via.placeholder.com/150x150"></a>
</div>
  <h3><%= user.name %></h3>
  <p><%= user.introduction %></p>
  <ul>
    <li><%= link_to 'Tweet', user_path(user) %> <%= @tweets.count %>  </li>
    <li><%= link_to 'Following', followings_user_path(user) %> <%= @followings.count %></li>
    <li><%= link_to 'Follower', followers_user_path(user) %> <%= @followers.count %></li>
    <li><%= link_to 'Likes', likes_user_path(user) %> <%= @likes.count %></li>
  </ul>
    
  <% if user.email == current_user.email %>
    <%= link_to 'Edit Profile', edit_user_path(user), class: "btn btn-primary" %>
  <% else %>
    <!--follow-->
    <%= render partial: "shared/follow", locals: {user: @user}  %>
  <% end %> 