<h1>Simple Twitter前台</h1>

<div class="container">
  <div class="row">

    <ul class="nav nav-tabs">
      <li role="presentation">
        <%= link_to 'Index', root_path %>
      </li>
      <li role="presentation">
        <%= link_to 'Tweets', tweets_path %>
      </li>
      <li role="presentation" class="active">
        <%= link_to 'Users', users_path %>
      </li>
    </ul>

  </div>
</div>

<div class="container">
  <div class="row">

    <div class="col-md-6 col-md-offset-3">

      <ul><h3>Edit Profile</h3></ul>

      <%= form_for @user do |f| %>
        <div class="form-group">
          <% if @user.avatar? %>
            <ul><%= image_tag @user.avatar, :size => "200x200", class: "img-responsive img-rounded" %></ul>
          <% end %>
          <ul><%= f.file_field :avatar %></ul>
        </div>
        <div class="form-group">
          <ul><%= f.text_field :name, :size => "20", class: "form-control" %></ul>
          <ul><%= f.text_area :introduction, :size => "20x4", class: "form-control" %></ul>
          <ul><%= f.submit "Update", class: "btn btn-primary" %></ul>
        </div>

      <% end %>

    </div>

  </div>
</div>