<div class="container">
	<div class="row">

		<%= form_for @user do |f| %>
			<!-- 以下是照片上傳的區域-->
			<div class="col-xs-4">
				<br>
				<div class="form-group">
					<%= image_tag @user.avatar, width: "100%" if @user.avatar? %>
					<%= f.file_field :avatar, class: "form-control" %>
				</div>
			</div>

			<!-- 以下是個人名字及自傳更新的區域-->
			<div class="col-xs-8">
				<br>
				<div class="form-group">
					<%= f.text_field :name, placeholder: "Name", class: "form-control text-field" %>
				</div>
				<div class="form-group">
					<%= f.text_area :introduction, placeholder: "Type anything about you here.....", class: "form-control text-area" %>
				</div>
				<div class="form-group">
					<%= f.submit "Update", class: "btn btn-primary btn-lg pull-right reply-button", style: "color:black" %>
				</div>
			</div>
		<% end %>	
	
	</div>
</div>
