<div class="container">
  <div class="row">
    <% if @user.errors.any? %>
      <h4>We have some errors here</h4>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
      <hr>
    <% end %>

    <%= form_for @user do |f| -%>
      <div class="from-group">
        <%= f.label :name, "Name" %>
        <%= f.text_field :name, class: "form-control" %>
      </div>

      <div class="from-group">
        <%= f.label :introduction, "Introduction" %>
        <%= f.text_area :introduction, class: "form-control" %>
      </div>

      <div class="from-group">
        <%= f.label :avatar, "Avatar" %>
        <%= image_tag @user.avatar, width:'90px', class: "img-responsive" %>
        <%= f.file_field :avatar %>
      </div>

      <br>

      <div class="from-group">
        <%= f.submit class: "btn btn-primary" %>
        <%= f.button "Cancel", type: :reset, class: "btn btn-default" %>
      </div>

    <% end %>
  </div>
</div>
