<% if @user.errors.any? %>
  <h2>We have some errors here.</h2>
  <ul>
    <% @user.errors.full_messages.each do |msg|%>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<h1>這裡是edit page</h1>

<%= form_for(@user, url: edit_user_path, method: :get) do |f| %>
  <%= f.label :name, 'Name' %>
  <%= f.text_field :name %>

  <%= f.label :introduction, 'Introduction' %>
  <%= f.text_area :introduction %>

  <%= f.label :avatar, 'Upload your photo:' %>
  <%= image_tag @user.avatar if @user.avatar? %>
  <%= f.file_field :avatar %>

  <%= f.submit 'Update', class: 'btn' %>
  <%= link_to 'Cancel', tweets_user_path(@user), class: 'btn' %>
<% end %>