<div class="row">
  <div class="error-msg">
    <% if @user.errors.any? %>
      <h2>We have some errors here.</h2>
      <ul>
        <% @user.errors.full_messages.each do |msg|%>
          <li><%= msg %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
  
  <div class="center-align">
    <h1>Edit Info</h1>
  </div>

  <div class="col s12 m8 offset-m2 l8 offset-l2">
    <%= form_for(@user, url: user_path) do |f| %>
      <div class="field">
        <%= f.label :name, 'Name' %>
        <%= f.text_field :name %>
      </div>
      <div class="field">
        <%= f.label :introduction, 'Introduction' %>
        <%= f.text_area :introduction, class: "materialize-textarea", id: "textarea2" %>
      <div class="field">
        <%= f.label :avatar, 'Upload your photo:' %>
        <div><%= image_tag @user.avatar, width: '300px' if @user.avatar? %></div>
        <%= f.file_field :avatar %>
      </div>
      
      <div class="field center-align">
        <hr><br>
        <%= f.submit 'Update', class: 'btn' %>
        <%= link_to 'Cancel', tweets_user_path(@user), class: 'btn' %>
      </div>
      
    <% end %>
  </div>

</div>
