<div class="container">
  <div class="row">
    


        <div class="col-md-9 col-sm-8">
          <%= form_for [@user] do |f| %>
            <div class="form-group">
              <%= f.label :name, "Name" %>
              <%= f.text_field :name, class: "form-control" %>
            </div>

            <div class="form-group">
              <%= f.label :introduction, "Intro" %>
              <%= f.text_area :introduction, class: "form-control" %>
            </div>
            
            <%= f.label :avatar, "Photo" %>
            <%= image_tag @user.avatar, width: '300px' if @user.avatar? %>
            <%= f.file_field :avatar %>

            <br>
            
            <div class="form-group">
              <%= f.submit class: "btn btn-primary" %>
            </div>
          <% end %>
        </div>

        <div class="clearfix"></div>


      <br>


  </div>
</div>