<%= form_for @user do |f| %>
  <div class="row">
    <div class="form-group col-md-4">
      <%= f.label :avatar, "avatar" %>
      <%= image_tag @user.avatar, width: '300px' if @user.avatar? %>
      <%= f.file_field :avatar %>
    </div>

    <div class="col-md-8">
      <div class="form-group">
        <%= f.label :name, "Name" %>
        <%= f.text_field :name, class:"form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :introduction, "Introduction" %>
        <%= f.text_area :introduction, class:"form-control" %>
      </div>

      <div class="form-group">
        <%= f.submit "Update", class:"btn btn-primary pull-right" %>
      </div>
    </div>
  </div>
<% end %>
