<div class="row">
  <!-- user avatar -->
  <div class="col-xs-4">
    <div class="avatar">
      <%= image_tag(@user.avatar, class: "img-responsive center-block") %>
    </div>
  </div>

  <!-- form -->
  <div class="col-xs-8">
    <%= form_for @user do |f| %>
        <div class="form-group">
          <%= f.text_field :name, class: "form-control", placeholder: "Name" %>
        </div>
        <div class="form-group">
          <%= f.text_area :introduction, class: "form-control", id: "intro", placeholder: "Type anything about you here..." %>
        </div>
        <div class="form-group text-right">
          <%= f.submit 'Update', class: "btn btn-primary" %>
        </div>
    <% end %>
  </div>
    
</div>