<h1>edit profile</h1>

<p>Profile</p>
<div class="form container">
  <%= form_for @user do |f| %>

    <div class="form-group">
      <%= f.label :name, "Name"%>
      <%= f.text_field :name, class: "form-control"%>
    </div>
    <div class="form-group">
      <%= f.label :introduction, "Introduction" %>
      <%= f.text_field :introduction, class: "form-control"%>
    </div>
    <div class="form-group">
      <%= f.label :avatar, "Photo" %>
      <%= f.file_field :image %>

      <%= f.submit %>

    </div>
    <% end %>
</div>