User Edit Page

<%= form_for @user do |f| %>
  <%= image_tag @user.avatar %>
  <%= f.file_field :avatar %>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :introduction %>
  <%= f.text_area :introduction %>

  <%= f.submit "Update"%>
<% end %>
<li><%= link_to('修改密碼', edit_user_registration_path) %></li>
