<div class="container">
  <div class="row">


    <div class="col-md-4">
      <%= form_for @user, url: {action: "update"} do |f| %>
        <div class="form-group">
          <%= image_tag @user.avatar if @user.avatar? %>
          <%= f.file_field :avatar %>
        </div>
    </div>
      <div class="col-md-8">
        <div class="form-group">
          <%= f.text_field :name, placeholder: "Name", class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.text_area :introduction, placeholder: "Type anything about you here....", class: "form-control", rows: "10" %>
        </div>
        <div class="form-group">
          <%= f.submit "Update", class: "btn btn-primary btn-lg movebtn" %>
        </div>
      <% end %>
     </div> 

  </div>
</div>

