<div class="container">
    <%= form_for @user do |f| %>
  <div class="col-left col-md-4">
    <div class="avatar-lg">
      <%= image_tag @user.avatar, class: "img-responsive img-rounded" %>        
      <%= f.label :avatar, "Avatar" %>
      <%= image_tag @user.avatar, width: '100%' if @user.avatar? %><br>
      <%= f.file_field :avatar, class: "form-control" %>
    </div>
  </div>

  <div class="col-right col-md-8">
    
    <div class="form-group">
    <%= f.label :name, "name" %>
    <%= f.text_field :name, class: "form-control"%>
    </div>

    <div class="form-group">
    <%= f.label :introduction, "introduction" %>
    <%= f.text_area :introduction, class: "form-control"%>
    </div>

    <%= f.submit 'Update', class: "btn btn-primary"%>
    
    <% end %>
    
  </div>
</div>