<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="profile-form">
        <%= form_for @user do |f| %>
          <div class="col-md-4">
            <div class="form-group">
              <%= f.label :avatar, "Avatar" %>
              <%= image_tag @user.avatar, width: "200px" if @user.avatar %>
              <%= f.file_field :avatar %>
            </div>
          </div>
          
          <div class="col-md-8">
            <div class="form-group">
              <%= f.label :name, "Name" %>
              <%= f.text_field :name, class: "form-control" %>
            </div>

            <div class="form-group">
              <%= f.label :introduction, "Intro" %>
              <%= f.text_area :introduction, class: "form-control", rows: "8" %>
            </div>

          </div>
          <div class="form-group btn-right">
            <%= f.submit "Update", class: "btn btn-primary" %>
          </div>   
          
        <% end %>
      </div>
    </div>
  </div>
</div>
