<div class="container">
 <h1>Edit Profile</h1>
 <%= form_for  [@users] do |f| %>
 <table>
     <tr>
         <td>Name :</td>
         <td><%= f.text_field :name %></td>
     </tr>
     <tr>
         <td>自我介紹 :</td>
         <td><%= f.text_area :introduction %></td>
     </tr>
     <tr>
         <td>Photo: </td>
         <td><%= image_tag @users.avatar,width:'300px' if @users.avatar?%>
             <%= f.file_field :avatar %>
         </td>
     </tr>
 </table>
    <%= f.submit%>
    <% end %>
</div>