<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-1">

      <div class="col-xs-4">
        <div class="form-group">
          <%= form_for @user do |f|%>
            <%= image_tag @user.avatar, width: "100%" if @user.avatar? %><br />
            <%= f.file_field :avatar, class: "form-control" %>
          <% end %>
        </div>
      </div>


      <div class="col-xs-8">
        <%= form_for @user do |f|%>
          <div class="form-group">
            <%= f.text_field :name, placeholder: "Name", class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.text_area :introduction, placeholder: "Type anything about you here....", class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.submit class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
      
    </div>
  </div>
</div>