  <div class="content col-md-4">
    <%= form_for @user do |f| %>
      <div class="card" style="">
        <%= image_tag @user.avatar, class: "card-img-top rounded" if @user.avatar? %>
        <br/>
        <br/>
        <button class="btn btn-primary btn-lg">
          Choose a file
        <span style = "display: none;">
          <%= f.file_field :avatar%>
        </span>
        </button>
      </div>
  </div>
  <div class="content col-md-8">
    <div class="form-group">
      <%= f.label :name, "Name"%>
      <%= f.text_field :name, class: "form-control"%>
    </div>
    <div class="form-group">
      <%= f.label :introduction, "Introduction" %>
      <%= f.text_field :introduction, class: "form-control text-area"%>
      <br/>
      <br/>
      <div class="text-right">
        <%= f.submit class: "btn btn-primary"%>
      </div>
    </div>
    <%end%>
  </div>
