<div id="user-edit" class="container">
  <div class="row">
    <%= form_for @user do |f| %>
    <div class="col-md-3">
      <div class="form-group">
        <%= filestack_image @user.avatar, transform: filestack_transform.resize(width:300, height:300) if @user.avatar? %>
        <%= f.label :avatar, class: "none"%>
        <%= f.filestack_field :avatar ,"Browse Files...",pickerOptions: {accept: 'image/*'}, id: "unique-id", class: "btn"%>
      </div>
    </div>
    <div class="col-md-9">
      <div class="form-group">
        <%= f.text_field :name, class: "form-control", placeholder: "Name"%>
      </div>

      <div class="form-group">
        <%= f.text_area :introduction, class: "form-control", placeholder: "Type anything about you here......" %>
      </div>
      <div class="button-group">
        <%= f.submit "Update", class: "btn"%>
        <%= f.button "Cancel", type: :reset, class: "btn" %>
      </div>
    </div>

    <% end %>
  </div>
</div>
