<div class="container">
  <div class="row">
    <% if @user.errors.any? %>
      <h4>We have some errors here !</h4>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
      <hr>
     <% end %>
    <%= form_for [@user] do |f| %>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <%= image_tag(@user.avatar.url, height:300, width: 300) %>
            <%= f.file_field :avatar %>
          </div>
        </div>
        <div class="col-md-8">
          <div class="form-group">
            <%= f.text_field :name, class: "form-control", placeholder:"Name" %>
          </div>
          <div class="form-group">
            <%= f.text_area :introduction, class: "form-control", placeholder:"Type anything about you here..." %>
          </div>
          <div class="form-group">
            <%= f.submit 'Update', class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
