<div class="container">
  <div class="row">


    <%= form_for @user do |f| %>

       <div class="form-group">
        <%= f.label :name, "Name" %>
        <%= f.text_field :name, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :email, "Tel" %>
        <%= f.text_field :email, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :introduction, "Intro" %>
        <%= f.text_area :introduction, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :avatar, "Photo" %><br>
        <%= image_tag @user.avatar, width: '300px' if @user.avatar? %>
        <%= f.file_field :avatar %>
      </div>

      <div class="form-group">
        <%= f.submit class: "btn btn-primary" %>
      </div>
    <% end %>
 
  </div>
</div>
