<div class="container">
  <div class="col-md-offset-2">
    <div class="row">
      <%= form_for [@user] do |f| %>
      <div class="col-md-3">
        <div class="form-gruop">
          <%= image_tag current_user.avatar, size: 120 %>
          <%= f.file_field :avatar %>
          <%= f.label :avatar, "Browse files.." , class: "btn btn-primary" %>
        </div>
      </div>

      <div class="col-md-5">
        <div class="form-gruop">
          <%= f.text_field :name, placeholder: "Name", class: "form-control" %>
        </div>
        
        <div class="form-gruop">
          <%= f.text_area :introduction, placeholder: "Type anything about you here...", class: "form-control" %>
        </div>
        
        <div class="form-gruop">
          <%= f.submit "Update", class: "btn btn-primary" %>
          <%= link_to "Cancel", tweets_user_path(@user), class: "btn btn-default" %>
        </div>   
      </div>
      <% end %>
      
    </div>   
  </div>
</div>