 <img src="http://via.placeholder.com/150x150" class="img-responsive img-rounded">
  <%= @user.name %>
  <%= @user.introduction %>
  <%= link_to 'Edit Profile', edit_user_path %>
  <%= link_to "Tweets(#{@user.tweets.count})", tweets_user_path(@user) %>
  <%= link_to "Following(#{@user.followings.count})", followings_user_path(@user) %>
  <%= link_to "Follower(#{@user.followers.count})", followers_user_path(@user) %>
  
  <h2>Followers</h2>

  <% @followers.each do |follower| %>
    <img src="http://via.placeholder.com/50x50" class="img-responsive img-rounded">
    <%= link_to follower.name, tweets_user_path(follower) %>

    <% if current_user.following?(follower)%>
      <%=  link_to "Unfollow", followship_path(follower), method: :delete %>
    <% else %>
      <%=  link_to "Follow", followships_path(following_id: follower), method: :post %>
    <% end %>
  <% end %>


 

