<div class="col-md-4">
  <ul class="list-unstyled">
    <li><%= image_tag @user.avatar, style: 'max-height: 200px', class: "img-responsive img-circle" %></li>
    <li><strong><h5><%= link_to @user.name, tweets_user_path(@user) %></h5></strong></li>
    <li><h6><%= @user.introduction %></h6></li>
    <li><h6>Tweets <%= @user.tweets.count %></h6></li>
    <li><h6>Following <%= @user.followings.count %></h6></li>
    <li><h6>Follower <%= @user.followers_count %></h6></li>
  </ul>
  <% if current_user == @user %>
    <%= link_to "Edit Profile", edit_user_path(@user), class: "btn btn-primary" %>
  <% else %>
    <% if current_user.following?(@user) %>
      <%= link_to 'Unfollow', followship_path(@user), method: :delete, class: "btn btn-warning" %>
    <% else %>
      <%= link_to 'Follow', followships_path(following_id: @user), method: :post, class: "btn btn-success" %>
    <% end %>
  <% end %>
</div>

<div class="col-md-8">
  <h4>Following</h4>
  <% @followings.each do |following| %>
    <%= image_tag following.avatar, style: 'max-height: 140px', class: "img-responsive img-circle" %>
    <h5><%= link_to following.name, followings_user_path(following) %></h5>
    <p><%= following.introduction %></p>
  <% end %>
</div>