  <%= render partial: "shared/user_profile" %>
  
  <h2>Followers</h2>

  <% @followers.each do |follower| %>
    <!-- <img src="http://via.placeholder.com/50x50" class="img-responsive img-rounded"> -->
    <%= image_tag follower.avatar %>    
    <%= link_to follower.name, tweets_user_path(follower) %>
    <%= follower.introduction %>
    <%= render partial: "shared/follow", locals: {user:follower}%>
  <% end %>


 
    
