<div class="container">
  <div class="row">
    <h1>Followings page</h1>
    <div class="col-md-4">
      <%= image_tag @user.avatar, height: 100, width: 100 %>
      <h3><%= @user.name %></h3>
      <p><%= @user.introduction %></p>

      <!-- user link -->
      <%= link_to (users_tweets_path(@user)) do %>
        <h5>Tweets : <%= @user.tweets.count %></h5>
      <% end %>

      <!-- followings -->
      <%= link_to (following_user_path(@user)) do %>
        <h5>Following : <%= @user.followings.count %></h5>
      <% end %>

      <!-- followers -->
      <%= link_to (user_follower_path(@user)) do %>
        <h5>Follower : <%= @user.followers_count %></h5>
      <% end %>

      <!-- like -->
      <%= link_to (user_likes_path(@user)) do %>
        <h5>Like : <%= @user.likes_count %></h5>
      <% end %>
      
      <%= render partial: "shared/edit", locals: {user: @user} %>

      <hr>
    </div>

    <!-- followings -->
    <div class="col-md-8">
      <h2>Followings</h2>
      <% if @followings != nil %>

        <% @followings.each do |following| %>

          <%= image_tag following.avatar, height: 85, width: 85 %>

          <!-- user link -->
          <%= link_to (users_tweets_path(following)) do %>
            <h5>@<%= following.name %></h5>
          <% end %>

          <p><%= following.introduction %></p>

          <!-- follow / unfollow partial -->
          <%= render partial: "shared/tweets-follow", locals: {user: following} %>

          <hr>

        <% end %>

      <% end %>
    </div>


  </div>
</div>
