Skip to content
This repository
Search
Pull requests
Issues
Marketplace
Explore
 @yvesen
 Sign out
 Watch 0
  Star 0  Fork 72 cindyliu923/simple-twitter
forked from ALPHACamp/simple-twitter
 Code  Pull requests 0  Projects 0  Wiki  Insights
Branch: master Find file Copy pathsimple-twitter/app/views/users/followings.html.erb
81547bb  6 days ago
@cindyliu923 cindyliu923 style followers view
1 contributor
RawBlameHistory     
28 lines (25 sloc)  1004 Bytes
<div class="container">
  <div class="row">

  <%= render partial: "shared/user_intro" %>

    <div class="col-md-8">
      <h2>Following</h2>
        <% @followings.each do |user| %>
          <div class="col-md-6">
          <div class="panel panel-default ppanel">
            <%= image_tag (user.avatar), class: "usertweet-avatar" %>
            <h3>@<%= link_to user.name, tweets_user_path(user) %></h3>
              <%= simple_format user.introduction, style: "color:#808080" %>
            <% if user != current_user %>
              <% if current_user.following?(user)%>
                <%= link_to 'Unfollow', followship_path(user), method: :delete, class: "btn btn-primary btn-lg movebtn" %>
              <% else %>
                <%= link_to 'Follow', followships_path(following_id: user), method: :post, class: "btn btn-primary btn-lg movebtn" %>
              <% end %>
            <% end %>  
            </div>  
          </div>
        <% end %>
    </div>

    </div>
  </div>
</div>
