<div class="container">
  <div class="row">
  
  <%= render partial: "shared/user_intro" %>
  
    <div class="col-md-8">
      <h2>Follower</h2>
        <% @followers.each do |user| %>
          <div class="col-md-6">
            <div class="panel panel-default ppanel">
              <%= image_tag (user.avatar), class: "usertweet-avatar" %>
              <h3>@<%= link_to user.name, tweets_user_path(user) %></h3>
                <%= simple_format user.introduction, style: "color:#808080" %>
              <% if user != current_user %>
                <% if user.following?(current_user)%>
                  <%= link_to 'Unfollow', followship_path(user), method: :delete, class: "btn btn-primary movebtn" %>
                <% else %>
                  <%= link_to 'Follow', followships_path(following_id: user), method: :post, class: "btn btn-primary movebtn" %>
                <% end %>
              <% end %>    
            </div>
          </div>
        <% end %>
    </div>

    </div>
  </div>
</div>