<div class="row">
   <div class="col-md-3">
     <%= render partial: "shared/profile", locals: { user: @user } %>
   </div>
   <div class="col-md-8 col-md-offset-1">
     <div class="tweets row">
       <h2>Followers</h2>
       <% @followers.each_with_index do |follower, index| %>
         <div class="col-md-6 follow-item">

           <div class="col-md-4">
                 <%= image_tag follower.avatar, width: "100%"  if follower.avatar? %>
               </div>
               <div class="col-md-8">
                 <%= link_to follower.name, tweets_user_path(follower) %><br/>

                <%= truncate follower.introduction, length: 80 %>
               </div>

           <%= render partial: "shared/followship", locals: { user: follower } %>
         </div>

       <% end %>
     </div>
   </div>
 </div>
