<div class="container">
  <div class="row">
    <%= render partial: "shared/portfolio" %>
  </div>

  <!-- 顯示該使用者的followings -->
  <div class="pertweet">
    <% @followings.each do |following| %>
      <div class="col-sm-6 col-md-4 user-relative">
        <div class="following-tweets">
          <div class="single-tweet">
            <div class="user-avatar">
              <%= image_tag(following.avatar, height: '128', width: '128') %>
            </div>
            <div class="user-tweet">
              <div class="user-name">
                <strong>
                  <%= link_to "@#{following.name}", tweets_user_path(following), :alt => "Who is this?" %>
                </strong>
              </div>
              <div class="user-description">
                <%= following.introduction.truncate(70) %>
              </div>
              <div class="user-re-li">
                <%= link_to "Unfollow", followship_path(following), method: :delete, class: "btn btn-info btn-group-xs" %>
              </div>
            </div>
          </div>
        </div>
        <hr>
      </div>
      <% end %>
  </div>
</div>