<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">

      <div class="col-sm-4 col-md-3">
        <%= render partial:"shared/tweet_user" %>
      </div>

      <div class="follower col-sm-8 col-md-9">
        <h3>Follower</h3>

        <% @followers.each do |user| %>
          <div class="col-sm-12 col-md-6 ">
            <div class="col-xs-12 col-sm-12 col-md-12 follower-list">

              <div class="col-xs-12 col-sm-12 col-md-3">
                <%= image_tag user.avatar if user.avatar?  %> 
              </div>

              <div class="col-xs-12 col-sm-12 col-md-9">
                <p><%= link_to user.name, tweets_user_path(user) %> </p>
                <p><%= truncate(user.introduction,length:80) %> </p>

                <span class="following-list-follow">
                  <% if user != current_user %>
                    <% unless current_user.following?(user) %>
                      <%= link_to "Follow",followships_path(following_id:user),method: :post,class:"btn btn-primary" %>
                    <% else %>
                      <%= link_to "Unollow",followship_path(user),method: :delete,class:"btn btn-primary" %>
                    <% end %>
                  <% end %>          
                </span>  

              </div>

            </div> 
          </div>
        <% end %>  
      </div>

    </div>
  </div>
</div>

