<div class="container">
  <div class="col-sm-4">
    <%= render partial: "shared/user_dashboard", locals: {user: @user} %>
  </div>
</div>

<div class="container">
  <div class="col-md-4">
    <h2>Following</h2>

    <% @followings.each do |following| %>
      <%= image_tag(following.avatar, height: 80, width: 80, class: "img-responsive img-rounded") %>
      <p><%= following.name %></p>
      <p><%= following.introduction %></p>
      <%= render partial: "shared/follow", locals: {user: following} %>
      <div class="clearfix"></div>
      <br>
    <% end %>

  </div>
</div>