  <%= render partial: "shared/user_profile" %>
  
  <h2>Followerings</h2>

  <% @followings.each do |following| %>
    <!-- <img src="http://via.placeholder.com/50x50" class="img-responsive img-rounded"> -->
    <%= image_tag following.avatar %>
    <%= link_to following.name, tweets_user_path(following) %>
    <%= following.introduction %>
    <%= render partial: "shared/follow", locals: {user:following}%>

  <% end %>


