<div class="row">
	<div class="col-4">
		<%= render partial: 'share/user-panel' %>
	</div>
	<div class="col-8">
		<div class="row">
			<% @followings.each do |following| %>
				<div class="row border border-secondary rounded my-2 py-2">
					<div class="col-sm-12 col-md-4">
						<%= image_tag following.avatar, class: 'img-fluid' %>
					</div>
					<div class="col-sm-12 col-md-8">
						<div class="d-flex flex-column">
							<div class="p-2">
							<%= link_to following.name, tweets_user_path(following) %>
							</div>
							<div class="p-2">
								<%= following.introduction %>
							</div>
							<div class="p-2 justify-content-end">
								<%= render partial: 'share/follow-btn' ,locals: {object: following}%>
							</div>
						</div>
					</div>
				</div>
			<% end %>
		</div>
	</div>
</div>