<div class="col-md-4"> 
  <div class="container">
    <div>
      <%= image_tag @user.avatar, size: "200", class: "img-responsive center-block"%>
    </div>
    <div>
      <h2><%= @user.name%></h2> 
    </div>
    <div>
      <p><%= truncate(@user.introduction, length:100 ) %></p> 
    </div>
      <ul class="list-unstyled list-inline">
        <li> <strong><%= link_to "Tweets:#{@user.tweets.count}",tweets_user_path(@user)%></strong></li>
        <li> <strong><%= link_to "Followings:#{@user.followings.count}",followings_user_path(@user) %></strong></li>
        <li> <strong><%= link_to "Followers:#{@user.followers.count}",followers_user_path(@user) %></strong></li>
        <li> <strong><%= link_to "followings:#{@user.followings.count}",followings_user_path(@user) %></strong></li>
      </ul>
    <div>
      <% if @user.id == current_user.id %>
      <%= link_to "Edit Profile", edit_user_path(current_user),:class => 'btn btn-primary'%>
      <% else %>
        <% if current_user.is_following?(@user) %>
          <%= link_to "Unfollow", followship_path(@user), method: :delete ,:class => 'btn btn-default' %>
        <% else %>
          <%= link_to "Follow", followships_path(following_id: @user), method: :post ,:class => 'btn btn-primary' %>
        <% end %>
      <%end%>
    </div>
  </div>
</div>

<div class="col-md-8">
  <h2>followings</h2>
  <div class="container">
    <div class="row">
      <% @followers.each do |follower|%>
        <div class="tweet-item">
          <div class="col-md-3">
            <%= image_tag follower.avatar, size: "200", class: "img-responsive center-block"%>
          </div>
          <div class="col-md-9">
            <h4><%=link_to follower.name, tweets_user_path(follower) %> <%= follower.created_at.strftime('%Y-%m-%d')%></h4>
            <p><%= truncate(follower.description, length:100 ) %></p>

          </div> 
        </div>   
      <% end %>        
    </div> 
  </div>  
</div>