<div class="container">
  <div class="col-md-offset-1">
    <div class="row">
      <div class="col-md-3">
        <%= render partial: "shared/userinfo" %>         
      </div>

      <div class="col-md-8">
        <h2>Following</h2>
        <% @followings.each do |following| %>
          <div class="col-md-6">
            <div class="user-item">
              <div class="row">
                <div class="col-md-4">
                  <%= image_tag following.avatar, class: "img-responsive" %>
                </div>
                <div class="col-md-8">
                  <h4><%= link_to following.name, tweets_user_path(following) %></h4>
                  <%= simple_format truncate(following.introduction, length: 50) %>
                  <!--使用新增追蹤按鈕的prtial-->  
                  <%= render partial: "shared/follow", locals:{user:following} %>
                </div>   
              </div>
            </div>
          </div>
        <% end %>
      </div>
      
      <div class="text-center">
        <%= paginate @followings %>
      </div>
    </div>
  </div>
</div>









