<%= render partial: "shared/user_profile", locals: {profile: @user} %>

<div class="col-md-8">
  <h4>Follower</h4>
  <% @followers.each do |follower| %>
    <%= image_tag follower.avatar, style: 'max-height: 140px', class: "img-responsive img-circle" %>
    <h5><%= link_to follower.name, followers_user_path(follower) %></h5>
    <p><%= follower.introduction %></p>
    <% if current_user.following?(follower) %>
      <%= link_to 'Unfollow', followship_path(follower), method: :delete, class: "btn btn-warning" %>
    <% else %>
      <%= link_to 'Follow', followships_path(following_id: follower), method: :post, class: "btn btn-success" %>
    <% end %>
  <% end %>
</div>