<div class="col-md-12">

  <div class="col-md-4">    

    <img src="http://via.placeholder.com/350x350" class="avatar">
    <div><%= @user.name %></div>
    <div><%= @user.introduction %> </div>

    <%= link_to "Tweet #{@user.tweets.count}" , tweets_user_path(@user) %> 
    <%= link_to "Following #{@user.followings.count}" , followings_user_path(@user) %> 
    <%= link_to "Follower #{@user.followships.count}" , followers_user_path(@user) %> 
    <%= link_to "Like #{@user.likes.count}" , likes_user_path(@user) %> 

    

  </div>

  <div class="col-md-8">    

    <h3>Followers</h3>
     
     <% @followers.each do |follower| %>

      <div class="Following-item">
        <img src="http://via.placeholder.com/80x80" class="avatar">
        <%= link_to "@#{follower.name}" , tweets_user_path(follower) %></a>, 
        <div class="descript"> <%= follower.introduction %></div>
      
      </div>


    <% end %>
  
  </div>

</div>