
<div class="container-fluid">
	<div class="row">
		<div class="col-md-3">
			<img alt="Bootstrap Image Preview" src="http://lorempixel.com/140/140/" class="img-thumbnail" /> 
            
			<p><a>
				<%= @user.name %>
			</a></p>
			<ul>
				<li>
					tweets(<%= @tweet_count %>)
				</li>
				<li>
					following(<%= @following_count %>)
				</li>
                <li>
					follower(<%= @follower_count %>)
				</li>
                <li>
					like(<%= @like_count %>)
				</li>
				
			</ul> <% if @is_own_profile %>
			 <a href=<%= edit_user_url %> class="btn" type="button">edit profile</a>
			 <%else%>
			 <% if current_user.following?(@user) %>
    	 							<%= link_to 'Unfollow', followship_path(@user), method: :delete, class: "btn btn-default" %>
									
  									<% else %>
   	 								<%= link_to 'Follow', followships_path(following_id: @user), method: :post, class: "btn btn-default" %>
									
  									<% end %>
			 <%end%>
		</div>
 
		<div class="col-md-9" style="padding-top:50px">
   <% @followings.each do |following| %>
			<div class="row">
						<div class="col-md-12">
							<div class="row" style="margin-top:15px">
								<div class="col-md-2">
									<img alt="Bootstrap Image Preview" src="http://lorempixel.com/140/140/" class="img-thumbnail" />
								</div>
								<div class="col-md-10">
									<h3 class="text-primary">
									
										<%= following.following.name %>
									</h3>
									<p>
										<%= following.following.introduction %>
									</p>
									
								</div>
							</div>
						</div>
			</div>
      <%end%>
		</div>
	</div>
</div>