<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="user-avatar">
        <% if @user.avatar?%>
          <%= image_tag @user.avatar, class: "img-responsive img-rounded" %>
        <% else %>
          <img src="http://via.placeholder.com/350x350" class="img-responsive img-rounded">
        <% end %>
      </div>
      <div class="user-profile">
        <h1><%= @user.name %></h1>
        <h4><%= @user.introduction %></h4>
      </div>
      <div class="user-item">
        <ul class="list-unstyled">
          <% if @user == current_user %>
            <li><strong><%= link_to "Tweets #{@user.tweets.count}", tweets_user_path(@user)  %></strong></li>
            <li><strong><%= link_to "Following #{@user.followings.count}", followings_user_path(@user) %></strong></li>
            <li><strong><%= link_to "Follower #{@user.followers.count}", followers_user_path(@user)  %></strong></li>
            <li><strong><%= link_to "like #{}"  %></strong></li>
          <% else %>
            <li><strong><%= "Tweets #{@user.tweets.count}"  %></strong></li>
            <li><strong><%= "Following #{@user.followings.count}"  %></strong></li>
            <li><strong><%= "Follower #{}"  %></strong></li>
            <li><strong><%= "like #{}"  %></strong></li>
          <% end %>
        </ul>
      </div>
      <div class="edit-btn">
        <% if @user == current_user %>
          <%= link_to "Edit profile", edit_user_path(@user), class: "btn btn-primary btn-block btn-lg" %>
        <% end %>
      </div>
    </div>
    <div class="col-md-9">
      <div class="title-fonts">
        <p>Follower</p>
      </div>
      <% @user.followers.each do |follower| %>
        <div class="col-md-6">
          <div class="border-style clearfix">
            <div class="col-md-4">
              <% if follower.avatar?%>
                <%= image_tag follower.avatar, class: "img-responsive img-rounded" %>
              <%else %>
                <img src="http://via.placeholder.com/350x350" class="img-responsive img-rounded">
              <% end %>
            </div>
            <div class="col-md-8">
              <%= link_to tweets_user_path(follower) do%>
                <h4>@<%= follower.name %></h4>
              <% end %>
              <h4 class="fix-height"><%= follower.introduction %></h4>
              <div class="following-btn text-right">
                <% if current_user.following?(follower)%>
                  <%= link_to "Unfollow", followship_path(follower), method: :delete, class: "btn btn-primary  btn-lg" %>
                <% else %>
                  <%= link_to "Follow", followships_path(following_id: follower.id), method: :post, class: "btn btn-primary btn-lg" %>
                <% end %>
              </div>
            </div>

          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
