<div class="container">
  <div class="row">
    <div class="col-xs-6 col-md-3">
    <%= image_tag @user.avatar, width: "80px"%>
    <p>@<%= link_to @user.name, tweets_user_path(@user) %> </p>
    <p><%= @user.introduction %></p>
    
    <br>
    <%= render partial: "shared/count", locals:{user: current_user} %>
    <% if @user.email ==  current_user.email %>
      <%= link_to "Edit Profile", edit_user_path(@user), class: "btn btn-primary" %>
    <% end %>
    <%= render partial: "shared/follow", locals:{user: @user} %>
    
    
    
    </div>
    
    <div class="col-xs-12 col-sm-6 col-md-8">
      <h2>Following</h2>
      <% @followings.each do |user| %>
      <div class="col-sm-6 col-md-4">
        
      </div>
      
      <ul class= "list-group clearfix">
        <li class="list-group-item">
          <div class="media-left">
            <%= image_tag user.avatar, width: "120px"%>
          </div>
          <div class="media-body">
            <h4 class="media-heading"><strong>@<%= link_to user.name, tweets_user_path %></h4></strong>
            <%= truncate(user.introduction, length: 80) %>
            

            <br>
            <br>
            <br>
            <%= render partial: "shared/follow", locals:{user: user} %>
          </div>
        </li>
      </ul>

        
      <% end %>
    </div>
    <div class="text-center">
      <%= paginate @followings %>
    </div>
    
     
  </div>
</div>


