<div class="row">
  <div class="col-md-3">
    <%= render partial: "shared/user_profile" %>
  </div>
  
  <div class="col-md-9">
    <h2>Followers</h2>
    <% @followers.each do |follower| %>
      <div class="col-md-6">
        <div class="avatar-list float-left">
          <!-- <img src="http://via.placeholder.com/50x50" class="img-responsive img-rounded"> -->
          <%= image_tag follower.avatar, width: "40%" %>      
        </div>
        <div class="small-box">
          <h3><%= link_to follower.name, tweets_user_path(follower) %></h3>
          <h4><%= truncate follower.introduction,length: 150  %></h4> 

          <div class="float-right">
            <%= render partial: "shared/follow", locals: {user:follower}%> 
          </div>       
        </div>
        <div class="clearfix"></div>
        <hr>
      </div>
    <% end %>
  </div>
</div>  
  


  
  
 
    
