<div class="container-fluid">
	<div class="row">
		<div class="col-md-2">
			<%= render partial: "shared/userProfile.html.erb", locals: {user: @user}%>
		</div>
		<div class="col-md-10">
			<h3>Followings</h3>
			<%- @followings.each do |f| %>
				<div class="thumbnail followships">
					<%= image_tag f.avatar, width:'100px', id:"tweet-avatar followships" %>
					<div class="caption">
						<h3><%= f.name%></h3>
						<p><%= f.introduction%></p>
						<% if not f == current_user %>
							<% if not current_user.following?(f)%>
								<%= link_to "Follow", followships_path(following_id: f), method: :post %>
							<% else %>
								<%= link_to "Unfollow", followship_path(following_id: f), method: :delete %>
							<% end %>
						<% end %>
					</div>
				</div>
			<% end %>
		</div>
	</div>
</div>
