<h1>Followings</h1>

<ul>

  <% @users.each do |user| %>
    <%= render partial: "shared/profile", locals: { user: @user} %>
    <li>
      <%= user.name %>
        <%= render partial: "shared/avatar", locals: {avatar: user.avatar} if user.avatar? %>
        <%= user.introduction %>
        <%= render partial: "shared/follow", locals: {user: @user} %>
    </li>
  <% end %>

</ul>
