<h1>Users#like</h1>


<p>Profile</p>
<p>avatar</p>
<%= @user.name %>
<p><%=@user.introduction%></p>
<p><%= link_to "tweetscount:#{@tweets.count}",tweets_user_path(@user)%></p>
<p> Followcount</p>
<p> Followercount</p>
<p><%= link_to "Like Count : #{@user.likes.count}",likes_user_path(@user)%></p>
<p>Follow</p>



<ul>
<% @likes.each do |like|%>
  <li>
    <%= like.tweet.user.name%>
    <%= like.created_at%>
    <%= like.tweet.description  %>
    <%=link_to "reply", tweet_replies_path(like.tweet_id)%>
      Reply Count: <%= like.tweet.replies.count%>
      Like Count : <%= like.tweet.likes_count%>
    <%= render partial: "shared/like", locals:{tweet: like.tweet}%>
  
    </li>
  </li>
<% end %>
</ul>