<div class="col-md-12">

  <div class="col-md-4">    

    <img src="http://via.placeholder.com/350x350" class="avatar">
    <div><%= @user.name %></div>
    <div><%= @user.introduction %> </div>

    <%= link_to "Tweet #{@user.tweets.count}" , tweets_user_path(@user) %> 
    <%= link_to "Following #{@user.followings.count}" , followings_user_path(@user) %> 
    <%= link_to "Follower #{@user.followers.count}" , followers_user_path(@user) %> 
    <%= link_to "Like #{@user.likes.count}" , likes_user_path(@user) %> 

    <button> Follow </button>

  </div>

  <div class="col-md-8">    

    <h3>Like</h3>
      <div class="tweet-item">
        <img src="http://via.placeholder.com/80x80" class="avatar">
        <a href="#"> @username </a>, <span class="time"> time </span>
        <div class="content">tweet content</div>
        <a href="#">Reply(2)</a> <span class="like-info">like(2)</span>
      </div>
   
  
  </div>

</div>