<div class="col-md-4"> 
  <div class="container">
    <div>
      <%= image_tag @user.avatar, size: "200", class: "img-responsive center-block"%>
    </div>
    <div>
      <h2><%= @user.name%></h2> 
    </div>
    <div>
      <p><%= truncate(@user.introduction, length:100 ) %></p> 
    </div>
      <ul class="list-unstyled list-inline">
        <li> <strong><%= link_to "Tweets:#{@user.tweets.count}",tweets_user_path(@user)%></strong></li>
        <li> <strong><%= link_to "Followings:#{@user.followings.count}",followings_user_path(@user) %></strong></li>
        <li> <strong><%= link_to "Followers:#{@user.followers.count}",followers_user_path(@user) %></strong></li>
        <li> <strong><%= link_to "likes:#{@user.likes.count}",likes_user_path(@user) %></strong></li>
      </ul>
    <div>
      <% if @user.id == current_user.id %>
      <%= link_to "Edit Profile", edit_user_path(current_user),:class => 'btn btn-primary'%>
      <% else %>
        <% if current_user.is_following?(@user) %>
          <%= link_to "Unfollow", followship_path(@user), method: :delete ,:class => 'btn btn-default' %>
        <% else %>
          <%= link_to "Follow", followships_path(following_id: @user), method: :post ,:class => 'btn btn-primary' %>
        <% end %>
      <%end%>
    </div>
  </div>
</div>

<div class="col-md-8">
  <h2>likes</h2>
  <div class="container">
    <div class="row">
      <% @likes.each do |like|%>
        <div class="tweet-item">
          <div class="col-md-3">
            <%= image_tag like.user.avatar, size: "200", class: "img-responsive center-block"%>
          </div>
          <div class="col-md-9">
            <h4><%=link_to like.user.name, tweets_user_path(like.tweet.user) %> <%= like.created_at.strftime('%Y-%m-%d')%></h4>
            <p><%= truncate(like.tweet.description, length:100 ) %></p>
            <%= link_to "reply(#{like.tweet.replies.count})", tweet_replies_path(like)  %> 
            <% if current_user.is_liking?(like.tweet) %>
              <%= link_to "unlike(#{like.tweet.likes.count})", unlike_tweet_path(like.tweet), method: :delete  %>
            <% else %>
              <%= link_to "like(#{like.tweet.likes.count})", like_tweet_path(like.tweet), method: :post  %>
            <% end %> 
          </div> 
        </div>   
      <% end %>        
    </div> 
  </div>  
</div>