<div class="container">
  <div class="col-sm-4">
    <%= render partial: "shared/user_profile", locals: {user: current_user} %>
    <%= render partial: "shared/user_dashboard", locals: {user: current_user} %>
  </div>
</div>

<h2>Like</h2>

<div class="container">
  <div class="col-sm-8">
    <div>
      <% @likes.each do |like| %>
        <%= image_tag like.user.avatar %>
        <p><%= "@" + like.user.name + ", " %><%= like.updated_at.strftime("%Y-%m-%d, %H:%M") %></p>
        <p><%= like.description %></p>
        <div>
          <%= link_to tweet_replies_path(like) do %>
            Reply(<%= like.replies.size %>)
          <% end %>
          <%= render partial: "shared/like", locals: {tweet: like} %>
        </div>
      <% end %>
    </div>
    
  </div>
</div>