<div class="container">
  <div class="col-sm-4">
    <%= image_tag @user.avatar %>
    <p><%= @user.name %></p>
    <p><%= @user.introduction %></p>
    <% if @user == current_user %>
      <%= link_to "Edit Profile", edit_user_path(@user), class: "btn btn-primary" %>
    <% end %>

    <ul class="list-unstyled">
      <li><strong>
        <%= link_to tweets_user_path(current_user) do %>
          Tweets <%= current_user.tweets.count %>
        <% end %>
      </strong></li>
      <li><strong>
        <%= link_to likes_user_path(current_user) do %>
          like <%= current_user.likes.count %>
        <% end %>
      </strong></li>
    </ul>
  </div>
</div>

<h2>Like</h2>

<div class="container">
  <div class="col-sm-8">
    <div>
      <% @likes.each do |like| %>
        <%= image_tag like.user.avatar %>
        <p><%= "@" + like.user.name + ", " %><%= like.updated_at.strftime("%Y-%m-%d, %H:%M") %></p>
        <p><%= like.description %></p>
        <div>
          <%= link_to tweet_replies_path(like) do %>
            Reply(<%= like.replies.size %>)
          <% end %>
          <%= render partial: "shared/like", locals: {tweet: like} %>
        </div>
      <% end %>
    </div>
    
  </div>
</div>