<h1>Simple Twitter前台</h1>

<div class="container">
  <div class="row">

    <ul class="nav nav-tabs">
      <li role="presentation">
        <%= link_to 'Index', root_path %>
      </li>
      <li role="presentation">
        <%= link_to 'Tweets', tweets_path %>
      </li>
      <li role="presentation" class="active">
        <%= link_to 'Users', users_path %>
      </li>
    </ul>

  </div>
</div>

  <ul>
    <li>
      <%= image_tag @user.avatar, :size => "100x100", class: "img-responsive img-rounded" %>
      <%= @user.name %>
      <%= @user.introduction %>
      <%= link_to 'Tweets', tweets_user_path(@user) %>
        <% if @user.tweets.count > 0 %>
          (<%= @user.tweets.count %>)
        <% end %>
      <%= link_to 'Following', followings_user_path(@user) %>
      <%= link_to 'Follower', followers_user_path(@user) %>
      <%= link_to 'Like', likes_user_path(@user) %>

    <% if @user == current_user %>
      <%= link_to 'Edit Profile', edit_user_path(@user) %>
      <h2>My Tweets</h2>
    <% else %>
      <%= link_to 'Follow' %>
      <h2>His Tweets</h2>
    <% end %>
    </li>
  </ul>

  <ul>
    <% @tweets.each do |tweet| %>
      <li>
        <%= image_tag tweet.user.avatar, :size => "100x100", class: "img-responsive img-rounded" %>
        <%= link_to tweet.user.name, tweets_user_path(tweet.user.id) %>
        <%= tweet.updated_at %>
        <%= tweet.description %>
        <%= link_to 'Reply', tweet_replies_path(tweet) %>
          <% if tweet.replies_count > 0 %>
            (<%= tweet.replies_count %>)
          <% end %>
        <%= link_to 'Like', likes_tweet_path(tweet) %>
          <% if tweet.likes_count > 0 %>
            (<%= tweet.likes_count %>)
          <% end %>
      </li>
    <% end %>
  </ul>
