<div class="container">
  <div class="row">
    <%= render partial: "shared/portfolio", locals: { user: @user } %>
  </div>

  <!-- 顯示該使用者的likes -->
  <div class="pertweet">
    <% @likes.each do |like| %>
    <div class="col-sm-12 col-md-8 user-relative">
        <div class="following-tweets">
          <div class="single-tweet">
            <div class="user-avatar">
              <%= image_tag(like.user.avatar, height: '128', width: '128') %>
            </div>
            <div class="user-tweet">
              <div class="user-name">
                <strong>
                  <%= link_to "@#{like.user.name}", tweet_replies_path(like), :alt => "Who is this?" %>
                </strong>
              </div>
              <div class="user-description">
                <%= like.description.truncate(70) %>
              </div>
              <%= render  "shared/action", object: like %>
            </div>
          </div>
        </div>
        <hr>
      </div>
      <% end %>
  </div>
</div>