<div class="container">
  <div class="row">
      <div class="col-md-3">
        <%= image_tag @user.avatar, class: "img-responsive center-block" %>

        <h1><%= @user.name %></h1>
        <h4><%= @user.email %></h4>
        <hr>

        <% if @user.introduction == nil %>
          <p>未新增自我介紹</p>
        <% else %>
          <p><%= @user.introduction %></p>   
        <% end %>
        <br>
        <h4 style="color:grey;">Tweet <%= @user.tweets.length %></h4>
        <br>
        <% if @user==current_user %>
          <%= link_to 'Edit Profile', edit_user_path(@user), class: "btn btn-primary" %>
        <% end %>

      </div>
      <div class="col-md-1">
      </div>

      <div class="col-md-8">
        <% @tweets.each do |tweet| %>
            
            <div class="row rank-item">
              <div class="col-md-3 col-sm-3 col-lg-3">
                <%= image_tag @user.avatar, class: "img-responsive center-block" %>
              </div>
              <div class="col-md-9 col-sm-9 col-lg-9">
                <h4><%= @user.name %></h4>
                <h5><small><%= tweet.created_at %></small></h5>
                <p><%= tweet.description %></p>
                <h5 style="color:blue;"><% tweet.count_replies %><%= link_to "回覆數(#{tweet.replies_count})", tweet_path(tweet) %></h5>
              </div>
            </div>
        <% end %>


      </div>
  </div>
</div>