<h1>Profile</h1>
    <div class ="col-md-9 col-sm-8">
      <div class="form-group">
        <%= image_tag @user.avatar, class: "img-responsive center-block" %>
      </div>

         <br>
          <h1><%= @user.name %></h1>
          <p><strong><%= @user.email %></strong></p>
          <p><%= simple_format @user.introduction %></p>
          <% if @user.email == current_user.email %>
            <%= link_to 'Edit', edit_user_path, class:"btn btn-primary" %>
          <% end %>
        </div>
        <div class="clearfix"></div>
      </div>

      <br>


    </div>
  </div>
</div>
