<div class="container">
  <div class="row">
      <div class="col-md-4">
        <%= image_tag @user.avatar, class: "img-responsive center-block" %>

        <h1><%= @user.name %></h1>
        <h3><%= @user.email %></h3>
        <hr>

        <% if @user.introduction == nil %>
          <h3>未新增自我介紹</h3>
        <% else %>
          <h3><%= @user.introduction %></h3>   
        <% end %>
        <%= link_to 'Edit Profile', edit_user_path(@user), class: "btn btn-primary" %>

      </div>

      <div class="col-md-8">
        <% @tweet.each do |tweet| %>
            
            <div class="row rank-item">
              <div class="col-md-3 col-sm-3 col-lg-3">
                <%= image_tag @user.avatar, class: "img-responsive center-block" %>
              </div>
              <div class="col-md-9 col-sm-9 col-lg-9">
                <h4><%= @user.name %></h4>
                <h5><small><%= tweet.created_at %></small></h5>
                <p><%= tweet.description %></p>
              </div>
            </div>
        <% end %>


      </div>
  </div>
</div>