<div class="container">
  <div class="row">
    <div class="col-md-10">
      <div class="">
        
        <div class="col-md-3 col-sm-4">
          <div class="text-center">
            <%= image_tag (@user.avatar if @user.avatar?),height: 200 %>
          </div>
        <h2><%= @user.name %></h2>
        <p><strong><%= @user.email %></strong></p>
        <div><%= simple_format @user.introduction %></div>
        <p>
          <strong>followings: <%= @followings.count %></strong>
        </p>
        <p>
          <strong>followers: <%= @followers.count %></strong>
        </p>


        <% if @user.email == current_user.email %>
          <%= link_to 'Edit Profile', edit_user_path(@user), class: "btn btn-info" %>
          <% end %>

        </div>
      <div class="col-md-9 col-sm-8">
        
            
            

          </div>
      </div>
      </div>

    </div>
  </div>
</div>