<div class="container">
  <div class="row">


    <!-- user's info -->
    <div class = "col-md-5">
      <%= render partial: "shared/userinfo", locals: {user: @user} %>
    </div>


    <!-- user's tweets -->
    <div class = "col-md-6">
      <% @tweets.each do |tweet| %>
        <div class="tweet-item">
          <div class="tweet-user-image">
            <% if tweet.user.avatar? %>
              <%= link_to tweets_user_path(tweet.user) do %>
                <%= image_tag tweet.user.avatar, class: "img-responsive  img-rounded" %>
              <% end %>
            <% else %>
               <span class="glyphicon glyphicon-picture"></span>
            <% end %>
          </div>
          <div class="caption">
            <p><span><%= link_to tweet.user.name, tweets_user_path(tweet.user) %></span>, <span><%= tweet.created_at %></span></p>
            <p><%= truncate(tweet.description, length: 140)%></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>