<div>
  <%= @user.name %>
  <%= @user.introduction %>
  <%= @user.avatar %>
  <%= link_to 'Edit', edit_user_path(@user) %>
</div>
<hr />
<div>
  <% @tweets.each do |tweet| %>
    <%= tweet.description %>
  <% end %>
</div>
