<div class="container">
  <div class="col-md-offset-1">
    <div class="row">
      <div class="col-md-4">
        <%= image_tag @user.avatar, size: 100, class:"img-responsive img-rounded" %>
        <h2><%= @user.name %></h2>
        <h4><%= simple_format @user.introduction %></h4>       
        <p>Tweet <%= @user.tweets.size %></p>
        <p><%= link_to "Following", followings_user_path %> <%= @user.followings.size %></p>
        <p>Follower  <%= @user.followers_count %></p>
        <p>like</p>
        <% if @user.email == current_user.email %>
          <%= link_to 'Edit Profile', edit_user_path(current_user), class: "btn btn-primary" %>
          <%= link_to '修改密碼', edit_user_registration_path(current_user), class: "btn btn-primary" %>
        <% else %>
          <%= render partial: "shared/follow", locals:{user: @user} %>
        <% end %>                  
      </div>

      <div class="col-md-6">
        <%= render partial: "shared/tweet", locals:{tweet: @tweets}  %>
      </div>
    </div>

  </div>
</div>