<div class="container">
  <div class="row">
    <div class="col-xs-6 col-md-4">
      <div>
        <%= image_tag @user.avatar ,class:"img-responsive img-rounded" if @user.avatar?%>
         <%= image_tag "http://via.placeholder.com/250x250", class: "img-responsive img-rounded"  unless @user.avatar?%>
      </div>
      <h2><%= @user.name %></h2>
      <div><%= simple_format @user.introduction %></div>
      <h4><strong>Tweets  &nbsp;<%= @user.tweets.count %></strong></h4>
      <%= link_to "Edit Profile", edit_user_path(@user) , class:'btn button-style' %>
    </div>
    <% @tweets.each do |tweet| %>
        <div class="col-xs-12 col-md-8">
          <div class="media tweet-box">
            <div class="media-left">
              <%= image_tag @user.avatar if @user.avatar?%>
                <%= image_tag "http://via.placeholder.com/60x60"  unless @user.avatar?%>
            </div>
            <div class="media-body">
              <h4 class="media-heading">
                <%= link_to tweet.user.name, tweets_user_path(tweet.user) %>
                <%= tweet.created_at %>
              </h4>
              <p><%= tweet.description %></p>
              <ul class="list-unstyled list-inline">
                <li>
                  <%= link_to tweet_replies_path(tweet) do  %>
                    <h4 class="reply-style">Reply (<%= tweet.replies_count %>)</h4>
                  <% end %>
                </li>
                <li>
                  <%= render partial: "shared/like", locals: {tweet: tweet} %>
                </li>
              </ul>
            </div>
          </div>
        </div>
    <% end %>

  </div>
</div>