<div class="container">
  <div class="col-md-4 ">
    <%= render partial: "shared/user_intro", locals: {user: @user}%>
  </div>
  
  <div class="col-md-8">
    <% @tweets.each do |tweet|%>
      <div class="tweet-item">
        <div class="col-md-3">
          <%= link_to tweets_user_path(tweet.user) do%>
            <%if !tweet.user.avatar?%>
              <%= image_tag "https://openclipart.org/download/247319/abstract-user-flat-3.svg", class:"img-responsive img-rounded " %>
            <% else%>
              <%= image_tag tweet.user.avatar, class:"img-responsive img-rounded" %>
            <% end %>
          <% end %>
        </div>
        
        <div class="col-md-9">
          <h4>
            <%= link_to tweets_user_path(tweet.user) do%>
            <%= tweet.user.name %>
            <em><%= tweet.created_at %> </em>
            <% end %>
          </h4>
          
          <p><%= truncate(tweet.description, length: 200)%></p>
          <%= link_to "Reply(#{tweet.replies.size})" ,tweet_replies_path(tweet) %>
        </div>
        <div class="clearfix"></div>
      </div>
    <% end %>
  </div>
  
</div>