<div class="container">
  <div class="row">
    <div class="col-md-4">
      <%= image_tag(@user.avatar.url, height: 100, width: 100) %>
      <h4><%= @user.name %></h4>
      <p><%= @user.introduction %></p>
      <% if @user == current_user %>
        <%= link_to 'Edit Profile', edit_user_path(current_user), class: "btn btn-primary" %>
      <% end %>
    </div>
    <div class="col-md-8">
      <% @tweets.each do |tweet| %>
      <div class="panel panel-default">
        <div>
          <h4><%= tweet.user.name %></h4>
          <p><%= simple_format tweet.description %></p>
          <p class="text-muted">
            <em><%= tweet.created_at.to_time.to_s.split('+').first %> </em>
          </p>
          <p><%= link_to "Reply", tweet_replies_path(tweet) %></p>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
