<h1>This is users#tweet</h1>


<p>Profile</p>
<p>avatar</p>
<%= @user.name %>
<p> @user.introduction</p>
<p> tweetscount</p>
<p> Followcount</p>
<p> Followercount</p>
<p><%=@user.likes.count%></p>
<p>Follow</p>

<ul>
<% @tweets.each do |t| %>
  <li>
  <%= t.description %>
  <%= t.created_at%>
  <%=link_to "reply", tweet_replies_path(t)%>
  </li>
<% end %>
</ul>