<%= render partial: "shared/user_profile", locals: {profile: @user} %>

<div class="col-md-8">
  <% @tweeted_tweets.each do |tweet| %>
    <%= image_tag tweet.user.avatar, style: 'max-height: 140px', class: "img-responsive img-circle" %>
    <h5><%= link_to tweet.user.name, tweets_user_path(tweet.user) %>, <%= tweet.created_at %></h5>
    <p><%= tweet.description %></p>
  <% end %>
</div>