 <!--content-->
  <div class="container-fluid">
  <div class="row">
  <div > 
<!--person info-->
<div class=" col-md-2 col-lg-2 container">
  <div class="row">
    <div id="profile-pic" >
              <%= image_tag @users.avatar ,class:" img-responsive "%>
    </div>
      <div class="form-group">
        <div>
         <h4><%=@users.name%></h4>
          <div class="help-block"><%= @users.introduction %></div> 
        <%if current_user.profile?(@users) %>      
              <div>
               <%= link_to "Tweets : #{@user_tweets.count}" , tweets_user_path(@users),class:"help-block"%>
              <%= link_to "Following : #{@users.followings.count}" , followings_user_path(@users),class:"help-block"%> 
              <%= link_to "Follower : #{@users.followers_count}" , followers_user_path(@users),class:"help-block"%>
              <%= link_to "likes : #{@users.likes_count}" , likes_user_path(@users),class:"help-block"%>
              </div>
              
   <%= link_to "Edit Profile" , edit_user_path(current_user),class:"btn btn-primary"%>  
   <%else %>

              <div>
              <div class="help-block">Tweets : <%= @user_tweets.count%></div> 
              <div class="help-block">Following : <%= @users.followings.count%></div> 
              <div class="help-block">Follower :<%= @users.followers_count%></div> 
              <div class="help-block">likes : <%= @users.likes_count%></div> 
              </div>
  
     <%= render partial: "shared/follow", locals: {users: @users}%>
  <% end %>
             
            </div>
        
      </div> 
  </div>
</div>

<!--tweets-->
  <div class="col-md-8 col-lg-8 container">
    <h3>Tweets</h3>
    <% @user_tweets.each do |tweet| %>
    <div id="tweets-list" >
    <div class="row">
      
<div class="form-group">
  
   
  
    <div id="user-pic" class="col-xs-3 col-sm-3 col-md-3 col-lg-2">
    <%= image_tag tweet.user.avatar ,class:"img-circle img-responsive img-profile"%>
    </div>
    
    <div class="col-xs-12 col-sm-7 col-md-8 col-lg-10">
    <h4><%= link_to "@#{tweet.user.name}" , tweets_user_path(tweet.user)%>, <%= tweet.created_at.strftime("%F")%>, <%=tweet.created_at.strftime(" %H:%M ")%></h4>
      <p><%= truncate(tweet.description, length: 300)%></p>
     <div> <%= link_to "Replay(#{tweet.replies_count})" , replies_tweet_path(tweet),class:"btn btn-link"%>
      <%= render partial: "shared/like", locals: {tweet: tweet} %> 
              </div>
    </div>

  </div>

</div>
    </div>   
  <% end %>
 </div>
 </div>