<div class="row">
  <div class="col-md-3">
    <div>
      <%= image_tag @user.avatar, width: "260px" %> 
      <h2 class="text-center"><%= @user.name %></h2>
      <p><%= @user.introduction %></p>
      <h4>Tweets <span class="badge"><%= @user.tweets.count %></span></h4>
      <h4>Following <span class="badge"><%=  %></span></h4>
      <h4>Followship <span class="badge"><%=  %></span></h4>
      <h4>Like <span class="badge"><%=  %></span></h4>
      <br>
      <div class="text-center">
        <% if @user == current_user %>
          <%= link_to "Edit Profile", edit_user_path(@user), class: "btn btn-primary btn-lg btn-block" %>
        <% end %> 
      </div>
    </div>
  </div>

  <div class="col-md-8 col-md-offset-1">
    <% @user.tweets.each do |tweet| %>
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="media">
            <div class="media-left">
              <%= image_tag @user.avatar, class: "media-object", width: "100px" %>
            </div>
            <div class="media-body">
              <h4 class="media-heading">
                <%= link_to @user.name, tweets_user_path(@user) %> &nbsp;
                <%= tweet.created_at %> 
              </h4>
              <p><%= tweet.description %></p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>