<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="col-md-12">
        <%= image_tag @user.avatar, class: "img-responsive center-block"%>
        <br>
        <h4><%= @user.name %></h4>
        <p><%= @user.introduction %></p>
        <br>
        <p><%= link_to "Tweets", "#" %></p>
        <p><%= link_to "following", "#" %></p>
        <p><%= link_to "Follower", "#" %></p>
        <p><%= link_to "Like", "#" %></p>

        <% if @user == current_user %>
          <%= link_to "Edit Profile", "#", class: "btn btn-primary" %>
        <% else %>
          <%= link_to "Follow", "#", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
    <div class="col-md-9">
      <h2>Tweets</h2>
        <% @tweets.each do |tweet| %>
          <div class="col-md-12 border">
            <% debugger %>
            <%= link_to tweet.user.name, tweets_user_path(tweet.user.id) %>
            <br>
            <%= tweet.description %>
          </div>
        <% end %>
    </div>
  </div>
</div>