<div class="row">
	<div class="col-4 px-3">
		<%= render partial: 'share/user-panel' %>
	</div>
	<div class="col-8">
		<% @tweets.each do |tweet| %>
			<div class="row border border-secondary rounded my-3 py-3">
				<div class="col-sm-4">
					<%= image_tag tweet.user.avatar, class: 'img-fluid' %>
				</div>
				<div class="col-sm-8">
					<span class="text-primary"><%= tweet.user.name %><%= ", #{tweet.created_at}" %></span></br>
					<%= tweet.description %></br>
					<%= link_to "Reply (#{tweet.replies.count})", tweet_replies_path(tweet), class: 'btn btn-info'%>
					<%= render partial: 'share/like-btn' , locals: {object: tweet}%>
				</div>
			</div>
		<% end %>
	</div>
</div>