<h1>User's own tweets</h1>

<!-- User can see profile of other(or own) users -->
<h3>Profile</h3>
<ul>
  <li><%= image_tag @user.avatar %></li>
  <li><%= @user.name %></li>
  <li><%= @user.introduction %></li>
  <%= link_to "Edit Profile", edit_user_path %>
  <%= render partial: "shared/follow", locals: { user: @user } %>
</ul>


<!-- User can see tweets of other(or own) users -->
<h3>Tweets</h3>
<%= render partial: "shared/tweets", locals: { tweets: @tweets } %>
