<h3>Profile</h3>
<ul>
  <li><%= image_tag @user.avatar, size: '150x150'%></li>
  <li><%= @user.name %></li>
  <li><%= @user.introduction %></li>
  <li>tweets <%=@user.tweets.size %></li>
</ul>


<% @tweets.each do |tweet| %>
<ul>
  <%= image_tag tweet.user.avatar, size: '150x150'%>
  <%= link_to tweet.user.name, tweets_user_path(tweet.user)%>
  <%= tweet.created_at.strftime("%Y-%m-%d, %T") %>
  <%= tweet.description %>
  <%= link_to "Reply(#{tweet.replies.size})", tweet_replies_path(tweet) %>
</ul>
<%end%>
