<div class="container">
  <div class="row">

<!------------------------------------------ 左半邊（使用者簡介）------------------------------------------>

    <div class="col-md-4">

      <% if @user.avatar? %>
        <%= image_tag @user.avatar.url, width: '200px' %>
      <% else %>
        <%= image_tag ("800x600.png"), width: '200px' %>
      <% end %>

      <h4><%= @user.name %></h4>
      <p><%= @user.introduction %></p>

      
      <div class="user-interaction"><!-- tweets/followings/followers/like -->
        <p>Tweets(<%= @user.tweets.count %>)</p>
        <p><%= link_to "Following(#{@user.followings.count})", user_followings_path(@user) %></p>
        <p><%= link_to "Followers(#{@user.followers.count})", user_followers_path(@user) %> </p>
        <p><%= link_to "Like(#{@user.liked_tweets.count})", user_likes_path(@user) %></p>
      </div><!-- user-interaction -->


      <% if @user == current_user %>
        <%= link_to 'Edit', edit_user_path(@user), class: "btn btn-primary" %>
      <% end %>

      <!-- 呼叫follow/unfollow button -->
      <%= render partial: "shared/follow", locals: {user: @user} %>

    </div>

<!------------------------------------------------- 右半邊 ------------------------------------------------->

    <div class="col-md-8">

      <% @tweets.each do |tweet| %><!-- 前面不要加 = -->
        <h4><%= @user.name %></h4>
        <p class="text-muted">
          <em><%= time_tag(tweet.created_at) %></em>
        </p>
        <p><%= simple_format tweet.description %></p>
        <br />
      <% end %>

    </div>



  </div>
</div>