<h1>看見某一使用者的推播牆，以及該使用者簡介</h1>



<div class="hgp padding-20 h-gap-10">
 
  <div class="vgp padding-10 v-gap-10" style="width:200px">
    <div class="com"><%= @user.name %></div>
    <div class="com"><%= @user.introduction %></div>
    <div class="com">Tweets 32</div>
    <div class="com">Following 14</div>
    <div class="com">Follower 10</div>
    <div class="com">like 23</div>
    <% if current_user.following?(@user) %>
      <%= link_to 'Unfollow', followship_path(following_id: @user), method: :delete, class: "btn btn-danger" %>
    <% else %>
      <%= link_to "Follow", followships_path(following_id: @user), method: :post,class: "btn btn-primary" %>
    <% end %>   
  </div>  
  
  <div class="vgp padding-10 v-gap-10">
    <h1>popular</h1>
    <ul>
      <% @tweets.each do |tweet| %>
      <li>
        <div class="com">
        <%= tweet.description %>
        <%= tweet.user.name %>
        </div>
      </li>
      <% end %>
    </ul>
  </div>
  
</div>

<h3></h3>

