<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render partial: "shared/user-info" %>
    </div>
    <div class="col-md-9">
      <div class="tweet-section">
        <% @tweets.each do |tweet|%>
          <div class="tweet-item clearfix" >
            <div class="tweet-icon">
              <%= image_tag(tweet.user.avatar, class: "img-responsive center-block") %>
            </div>
            <div class="tweet-caption">
              <p><%= link_to tweet.user.name, tweets_user_path(tweet.user) %>, <%= tweet.created_at.time.strftime("%Y-%m-%d %H:%M") %></p>
              <p><%= tweet.description %><p>
              <div class="tweet-button">
                <p><%= link_to "Reply(#{tweet.replies_count})", tweet_replies_path(tweet) %>&nbsp; &nbsp; &nbsp; &nbsp;<%= render partial: "shared/like", locals: {tweet: tweet} %></p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
