<div class="container">
  <div class="row">
    <%= render :partial => "shared/userColunm" %>

    <div class="col-md-8">

      <% @tweets.each do |tweet| %>
      <div class="panel panel-default indexPost clearfix">
        <div class="tweetAvatar">
         <%= image_tag tweet.user.avatar %>
        </div> 
        <div class="tweetInformation">
          <%= tweet.user.name %>,
          <%= tweet.created_at.strftime(" %Y-%m-%d, %R") %> <br>
          <%= tweet.description %>  
          <br>
          <h5><%= link_to "Reply( #{tweet.replies.count} )", tweet_replies_path(tweet.user_id) %> </h5>
          <h5> 
            <%= render partial: "shared/like", locals: {tweet: tweet} %>
          </h5>     
        </div>     <!-- tweetInformation -->     
      </div>      <!-- indexPost --> 
    <% end %>  
  </div>

  </div>  
</div>