<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="user-avatar">
        <% if @user.avatar?%>
          <%= image_tag @user.avatar, class: "img-responsive img-rounded" %>
        <% else %>
          <img src="http://via.placeholder.com/350x350" class="img-responsive img-rounded">
        <% end %>
      </div>
      <div class="user-profile">
        <h1><%= @user.name %></h1>
        <h4><%= @user.introduction %></h4>
      </div>
      <div class="user-item">
        <ul class="list-unstyled">
          <li><strong><%= link_to "Tweets #{}"  %></strong></li>
          <li><strong><%= link_to "Following #{}"  %></strong></li>
          <li><strong><%= link_to "Follower #{}"  %></strong></li>
          <li><strong><%= link_to "like #{}"  %></strong></li>
        </ul>
      </div>
      <div class="edit-btn">
        <% if @user = current_user %>
          <%= link_to "Edit profile", edit_user_path(@user), class: "btn btn-primary btn-block btn-lg" %>
        <% end %>
      </div>
    </div>
    <div class="col-md-8">
      <% @tweets.each do |tweet| %>
        <div class="col-md-12 border-style">
          <div class="col-md-3 ">
            <% if tweet.user.avatar?%>
              <%= image_tag tweet.user.avatar, class: "img-responsive img-rounded" %>
            <%else %>
              <img src="http://via.placeholder.com/350x350" class="img-responsive img-rounded">
            <% end %>
          </div>
          <div class="col-md-9 text-left">
            <%= link_to tweets_user_path(tweet.user) do%>
              <h4>@<%= tweet.user.name %>,<%= tweet.created_at.strftime("%Y-%m-%D, %H:%M") %></h4>
            <% end %>
            <h4><%= tweet.description %></h3>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
