<div class="container">
  <div class="user-profile">
    <% for img_id in 0..26 %>
      <% if image_path(@user.avatar).include?('/user'+img_id.to_s+'.jpg') %>
        <%= image_tag('/avatar/user'+img_id.to_s+'.jpg', class: "profile-avatar") %>
      <% end %>
    <% end %>
    <h2><%= @user.name %></h2>
    <p><%= simple_format @user.introduction %></p>
    <%= link_to "Tweets "+@user.tweets.count.to_s, tweets_user_path(@user) %><br>
    <%= link_to "Following "+@user.followings.count.to_s, followings_user_path(@user) %><br>
    <%= link_to "Follower "+@user.followers.count.to_s, followers_user_path(@user) %><br>
    <%= link_to "Like "+@user.likes.count.to_s, likes_user_path(@user) %><br>
    <%= render partial: "shared/follow", locals: {user: @user} %>
    <% if current_user == @user %>
      <%= link_to "Edit Profile", edit_user_path(@user), class: "btn btn-default" %>
    <% end %>
  </div>

  <div class="user-tweet">
    <% @user.tweets.reverse.each do |tweet| %>
      <div class="tweet-block">
        <% for img_id in 0..26 %>
          <% if image_path(tweet.user.avatar).include?('/user'+img_id.to_s+'.jpg') %>
            <%= image_tag('/avatar/user'+img_id.to_s+'.jpg', class: "user-avatar") %>
          <% end %>
        <% end %>
        <div class="user-text">
          <h4><%= link_to tweet.user.name, tweets_user_path(tweet.user) %></h4>
          <p class="text-muted"><em><%= tweet.created_at.to_s(:db) %></em></p>
          <p><%= simple_format tweet.description %></p>
          <%= link_to 'Reply('+tweet.replies.length.to_s+')', tweet_replies_path(tweet) %>
          <%= 'Like('+tweet.liked_users.length.to_s+')' %>
          <%= render partial: "shared/like", locals: {tweet: tweet} %>
        </div>
      </div>
    <% end %>
  </div>
</div>