<div class="col-md-12">

  <div class="col-md-4">    

    <img src="http://via.placeholder.com/350x350" class="avatar">
    <div><%= @user.name %></div>
    <div><%= @user.introduction %> </div>

    <%= link_to "Tweet #{@user.tweets.count}" , tweets_user_path(@user) %> 
    <%= link_to "Following #{@user.followings.count}" , followings_user_path(@user) %> 
    <%= link_to "Follower #{@user.followers.count}" , followers_user_path(@user) %> 
    <%= link_to "Like #{@user.likes.count}" , likes_user_path(@user) %> 

    <% if @user == current_user  %>
      <%= link_to "Edit Profile" , edit_user_path(@user), Class: "btn btn-primary" %> 
    <% else %>
      
      <% if @user.following?(current_user) %>
      
        <%= link_to "Unfollow" , followship_path(following), method: :delete, class: "btn btn-primary"%>
      <% else %>
        <%= link_to "Follow" , followships_path(), method: :post, class: "btn btn-primary"%>
  current_    
      <% end %>
  
    <% end %>
    
  </div>

  <div class="col-md-8">    

        <% @tweet.each do |tweet| %>

          <div class="tweet-item">
            <img src="http://via.placeholder.com/80x80" class="avatar">
            <%= link_to tweet.user.name, tweets_user_path(tweet.user) %>, 
            <span class="time">  <%= time_ago_in_words(tweet.created_at) %> </span>
            <div class="content"><%= tweet.description %></div>
            <%= link_to "Reply(#{tweet.replies_count})" , tweet_replies_path(tweet) %> 
            <%= link_to "Like(#{tweet.likes_count})" , like_tweet_path(tweet),  method: :post, class: "like"%> 
          </div>
 
        <% end %>

  
  </div>

</div>