<div class="container">
  <div class="row">
    <div class="col-md-4">
      <%= image_tag(@user.avatar.url, height: 100, width: 100) %>
      <h4><%= @user.name %></h4>
      <p><%= @user.introduction %></p>
      <% if @user == current_user %>
        <%= link_to 'Edit Profile', edit_user_path(current_user), class: "btn btn-primary" %>
      <% end %>
      <%= render partial: "shared/follow", locals: {user: @user} %>
    </div>
    <div class="col-md-8">
      <% @tweets.each do |tweet| %>
        <%= render partial: "shared/tweet", locals: {tweet: tweet} %>
      <% end %>
    </div>
  </div>
</div>
