<div class="col-md-3 col-sm-4">
  <div class="text-center">
    <%= image_tag @user.avatar, class: "img-responsive img-rounded" %>
  </div>

  <h2>
    <%= @user.name %>
  </h2>
  <p><strong><%= @user.email %></strong></p>
 
  <div>
    <%= @user.introduction %>
  </div>
  
  <div>
    <h4>Tweets <strong><%= @tweets.count %></strong>   </h4>
    <h4>Following <strong><%= @tweets.count %></strong>   </h4>
    <h4>Follower <strong><%= @tweets.count %></strong>   </h4>
    <h4>Like <strong><%= @tweets.count %></strong>   </h4>
  </div>
 
    
      <% if @user.email == current_user.email %>
    <%= link_to 'Edit Profile', edit_user_path(@user), class: "btn btn-primary" %>
      <% end %>
</div>




<div class="col-xs-7 col-xs-offset-1">
    <div class="row">
      <% @tweets.each do |tweet| %>
         <div class='col-xs-12 tweet-box'>
            <div class="col-xs-3">
               <%= image_tag tweet.user.avatar, class: "img-responsive img-rounded center-block" %>
            </div>
            <div class="col-xs-9">


              <div class="caption">

                <p>
                  <%= link_to tweet.user.name, tweets_user_path(tweet.user) %>
                    <%= tweet.created_at.strftime("%Y-%m-%d, %H:%M") %>
                </p>
                <p>
                  <%= truncate(tweet.description, length: 80) %>
                </p>

              </div>


            </div>
          </div>
      <% end %>
    </div>
</div>