<div class="container">
  <div class="row">
    <%= render partial: "shared/portfolio", locals: { user: @user } %>
  </div>

  <!-- 顯示該使用者所有的tweets -->
  <div class="pertweet">
    <% @tweets.each do |tweet| %>
      <div class="col-sm-12 col-md-8 user-relative">
        <div class="following-tweets">
          <div class="single-tweet">
            <div class="user-avatar">
              <%= image_tag(tweet.user.avatar, height: '128', width: '128') %>
            </div>
            <div class="user-tweet">
              <div class="user-name">
                <strong>
                  <%= link_to "@#{tweet.user.name}", tweets_user_path(tweet.user), :alt => "Who is this?" %>
                </strong>
                <em>,
                  <%= tweet.created_at.strftime("%Y-%m-%d") %>,
                    <%= tweet.created_at.strftime("%I:%M%p") %>
                </em>
              </div>
              <div class="user-description">
                <%= tweet.description %>
              </div>
              <%= render  "shared/action", object: tweet %>
            </div>
          </div>
        </div>
        <hr>
      </div>
      <% end %>
  </div>
</div>