<h6>看見某一使用者的推播牆，以及該使用者簡介</h6>
<div class="container">
  <div class="row">
   
    <div class="col-md-4">
      <div><%= @user.name %></div>
      <div><%= @user.introduction %></div>
      <div>
        <%= link_to tweets_user_path(@user), method: :get do %>tweet <%= @user.tweets.count %>
        <% end %>
      </div>
      <div>
        <%= link_to followings_user_path(@user), method: :get do %>following <%= @user.followings.count %>
        <% end %> 
      </div>
      <div>
        <%= link_to followers_user_path(@user), method: :get do %>follower <%= @user.followers.count %>
        <% end %> 
      </div>
      <div>
        <%= link_to likes_user_path(@user), method: :get do %>like <%= @user.likes.count %>
        <% end %>      
      </div>
      <% if current_user != @user %>
        <% if current_user.following?(@user) %>
          <%= link_to 'Unfollow', followship_path(following_id: @user), method: :delete, class: "btn btn-danger" %>
        <% else %>
          <%= link_to "Follow", followships_path(following_id: @user), method: :post, class: "btn btn-primary" %>
        <% end %>
      <% else %>
        <%= link_to "Edit", edit_user_path(@user), method: :get, class: "btn btn-primary" %>
      <% end %>     
    </div>
     
    <div class="col-md-8">
      <ul>
        <% @tweets.each do |tweet| %>
        <li>
          <div>
          <%= tweet.description %>
          <%= tweet.user.name %>
          </div>
        </li>
        <% end %>
      </ul>
    </div>
    
  </div>
</div>