<div class="container">
  <div class="row">

<!------------------------------------------ 左半邊（使用者簡介）------------------------------------------>

    <div class="col-md-4">

      <!-- 呼叫user partial -->
      <%= render partial: "shared/user", locals: {user: @user} %>

      <!-- 呼叫follow/unfollow button -->
      <%= render partial: "shared/follow", locals: {user: @user} %>

    </div>

<!------------------------------------------------- 右半邊 ------------------------------------------------->

    <div class="col-md-8">

      <% @tweets.each do |tweet| %><!-- 前面不要加 = -->
        <h4><%= @user.name %></h4>
        <p class="text-muted">
          <em><%= time_tag(tweet.created_at) %></em>
        </p>
        <p><%= simple_format tweet.description %></p>
        <br />
      <% end %>

    </div>



  </div>
</div>