<h1>user tweets</h1>
<div class="container">
  <div class="portfolio">
    <div class="row">
      <%= render partial: "shared/portfolio" %>
    </div>
  </div>
  <div class="pertweet">
    <div class="row">
      <% @tweets.each do |tweet| %>
        <div class="col-sm-6 col-md-4 all-tweets">
          <div class="single-tweet">
            <%= image_tag(tweet.user.avatar, height: '32', width: '32') %>
            <p>
              <%= tweet.user.name %>
              <em>, <%= tweet.created_at.strftime("%Y-%m-%d") %>, <%= tweet.created_at.strftime("%I:%M%p") %></em>
            </p>
            <p><%= tweet.description %></p>
            <P>
              <%= link_to  "Reply(#{Reply.where(:tweet_id => tweet.id).length})", tweet_replies_path(tweet), class: "btn btn-danger" %>
              <% if tweet.is_liked?(current_user) %>
                <%= link_to "Unlike(#{Like.where(:tweet_id => tweet.id).length})", unlike_tweet_path(tweet), method: :post, class: "btn btn-info" %>
                <% else %>
                <%= link_to "Like(#{Like.where(:tweet_id => tweet.id).length})", like_tweet_path(tweet), method: :post, class: "btn btn-primary" %>
              <% end %>
            </P>
          </div>
        </div>  
      <% end %>
    </div>
  </div>
</div>