<div class="container">
  <div class="row">
    <div class="col-md-4">

      <!-- page-header 裡面顯示個人檔案資料 -->
      <div class="page-header">

        <div class="col-md-6 col-sm-4">
          <div class="text-center">
            <%= image_tag @user.avatar, class: "img-responsive img-rounded" %>
          </div>
          <h2><%= @user.name %></h2>
          <div><%= simple_format @user.introduction %></div>
          <div class="tweet-row">
            <p><%= link_to "Tweets (#{@user.tweets.size})", tweets_user_path(@user) %></p>
            <p><%= link_to "Following (#{@user.followings.size})", followings_user_path(@user) %></p>
            <p><%= link_to "Follower (0)", followers_user_path(@user) %></p>
            <p><%= link_to "Likes (0)", likes_user_path(@user) %></p>
          </div>
          <% if @user.email == current_user.email %>
            <%= link_to 'Edit Profile', edit_user_path(current_user), class: "btn btn-primary" %>
          <% end %>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>

    <div class="col-md-8">
      <% @tweets.each do |tweet| %>
      <div class="tweet">
        <div class="caption">
          <div class="avatar">
            <%= image_tag tweet.user.avatar, size: "100" if tweet.user.avatar? %>
          </div>
          <h4>@<%=link_to tweet.user.name, tweets_user_path %>, <%= tweet.created_at.strftime("%Y-%m-%d, %H:%M") %></h4>
          <p><%= tweet.description %></p>
          <%= link_to "Reply(#{tweet.replies_count})", tweet_replies_path(tweet) %>
          <div class="clearfix"></div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>