<div class="container">
  <div class="row">
    <div class="col-md-4">
      <%= image_tag @user.avatar, width: "200px", class: "img-responsive center-block" %>
      <h1 class="text-center"><%= @user.name %></h1>
      <p class="wrap"><%= @user.introduction %></p>
      <p>Tweets <%= @tweets.count %></p>
      <p>Followers <%= @followers.count %></p>
      <div class="profile-btn text-center">
        <% if @user == current_user %>
          <%= link_to "Edit Profile", edit_user_path(@user), class: "btn btn-primary" %>
        <% else %>
          <%= render partial: "shared/follow_btn", locals: {user: @user} %>
        <% end %>
      </div>
    </div>
    <div class="col-md-8">
      <%= render partial: "shared/tweet_list", locals: {tweets: @tweets} %>

      <div class="text-center">
        <%= paginate @tweets %>
      </div>
    </div>
  </div>
</div>

