<% users.each do |user| %>
  <div class="follow-wall clearfix">
    <div class="tweet-avatar">
      <%= image_tag user.avatar %>
    </div>
    <div class="tweet-item">
      <p class="name"><%= link_to user.name, tweets_user_path(user) %></p>
      <p class="wrap"><%= truncate(user.introduction, length: 100) %></p>
      <p>Followers <%= user.followers.count %></p>
      <div class="follow-btn">
        <% if user != current_user %>
          <%= render partial: "shared/follow_btn", locals: {user: user} %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>