<div class="thumbnail followships">
	<%= image_tag user.avatar, width:'100px', id:"tweet-avatar followships" %>
	<div class="caption">
		<h3><%= user.name%></h3>
		<p><%= user.introduction%></p>
		<% if not user == current_user %>
			<% if not current_user.following?(user)%>
				<%= link_to "Follow", followships_path(following_id: user), method: :post, class: "btn btn-primary" %>
			<% else %>
				<%= link_to "Unfollow", followship_path(following_id: user, id: user), method: :delete, class: "btn btn-primary" %>
			<% end %>
		<% end %>
	</div>
</div>