<div class="col-xs-6 col-md-3">
  <div>
    <%= image_tag user.avatar ,class:"img-responsive img-rounded" if user.avatar?%>
     <%= image_tag "http://via.placeholder.com/250x250", class: "img-responsive img-rounded"  unless user.avatar?%>
  </div>
  <h2><%= user.name %></h2>
  <div><%= simple_format user.introduction %></div>
  <br/>
  <%= link_to tweets_user_path(user) do %>
    <h4><strong>Tweets  &nbsp;<%= user.tweets.count %></strong></h4>
  <% end %>
  <%= link_to likes_user_path(user) do %>
    <h4><strong>Likes  &nbsp;<%= user.likes.count %></strong></h4>
  <% end %>
  <% if user == current_user %>
    <%= link_to "Edit Profile", edit_user_path(user) , class:'btn button-style' %>
  <% end %>
  <%= render partial: "shared/follow" , locals: { user: user } %>
</div>