<div class="col-xs-6 col-md-3">
  <div>
    <%= image_tag user.avatar ,class:"img-responsive img-rounded" if user.avatar?%>
     <%= image_tag "http://via.placeholder.com/250x250", class: "img-responsive img-rounded"  unless user.avatar?%>
  </div>
  <h2><%= user.name %></h2>
  <div><%= simple_format user.introduction %></div>
  <br/>
  <%= link_to tweets_user_path(user) do %>
    <h4 class="intro"><strong><i class="glyphicon glyphicon-comment" aria-hidden="true"></i>&nbsp; Tweets  &nbsp;<%= user.tweets.count %></strong></h4>
  <% end %>
  <%= link_to followings_user_path(user) do %>
    <h4 class="intro"><strong><i class="glyphicon glyphicon-search" aria-hidden="true"></i>&nbsp; Following  &nbsp;<%= user.followings.count %></strong></h4>
  <% end %>
  <%= link_to followers_user_path(user) do %>
    <h4 class="intro"><strong><i class="glyphicon glyphicon-user" aria-hidden="true"></i>&nbsp; Follower &nbsp;<%= user.followers_count %></strong></h4>
  <% end %>
  <%= link_to likes_user_path(user) do %>
    <h4 class="intro"><strong><i class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></i>&nbsp; Like  &nbsp;<%= user.likes.count %></strong></h4>
  <% end %>
  <br/>
  <% if user == current_user %>
    <%= link_to "Edit Profile", edit_user_path(user) , class:'btn button-tweet' %>
  <% end %>

  <%= render partial: "shared/follow" , locals: { user: user } %>
</div>