<div class="row tweet-box">
  <div class="col-xs-3">
    <div class="tweet-avatar">
      <%= user_avatar(message.user.avatar, "img-responsive center-block") %>
    </div>
  </div>
  <div class="col-xs-9">
    <div class="row">
      <div class="col-xs-12">
        <%= link_to "@#{message.user.name}", tweets_user_path(message.user) %><%= ", #{message.created_at}" %>
      </div>
    </div>
    <% if is_tweet %>
      <div class="col-xs-12">
        <%= message.description %>
      </div>
      <div class="col-xs-4">
        <%= link_to "Reply(#{message.replies.count})", tweet_replies_path(message.id) %>
        <% if with_reply %>
        
        <% end %>        
      </div>
      <div class="col-xs-4">
        <%= render partial: "shared/like", locals: {tweet: message} %>
      </div>
      <% if current_user.admin? %>
        <div class="col-xs-4">
          <%= link_to 'Delete', admin_tweet_path(message), method: :delete %>
        </div>
      <% end %>
    <% else %>
      <div class="col-xs-12"><%= message.comment %></div>
    <% end %>
  </div>
</div>