<div class="row tweet-box">
  <div class="col-xs-3">
    <div class="tweet-avatar">
      <%= user_avatar(message.user.avatar, "img-responsive center-block") %>
    </div>
  </div>
  <div class="col-xs-9">
    <p><%= link_to "@#{message.user.name}", tweets_user_path(message.user) %><%= ", #{message.created_at}" %></p>
    <% if is_tweet %>
      <p><%= message.description %></p>
      <div>
        <%= link_to "Reply(#{message.replies.count})", tweet_replies_path(message.id) %>
        <%= render partial: "shared/like", locals: {tweet: message} %>
        <% if current_user.admin? %>
          <%= link_to 'Delete', admin_tweet_path(message), method: :delete %>
        <% end %>
      </div>
    <% else %>
      <p><%= message.comment %></p>
    <% end %>
  </div>
</div>