<div class="tweet-item">
      <div>
       <%= render partial: "shared/avatar", locals: {avatar: message.user.avatar} if message.user.avatar? %>
      </div>
      <div>
        <p>
          <%= link_to message.user.name, tweets_user_path(message.user) %>
          <%= message.created_at.strftime("%Y-%m-%d, %H:%M") %>
        </p>
         <p><%= message_content %></p>
      </div>
      <% if message_btn %>
        <div >
          <div id="reply" class="inline">
            <%= link_to "Reply(#{message.replies_count})", tweet_replies_path(message), class: "links" %>
      </div>
      <%= render partial: "shared/like", locals: {tweet: message} %>
    </div>
  <% end %>
</div>

