  <% tweets.each do |tweet| %>

  <div class="row tweets">
    <div class="col-md-3">
      <img src="<%= tweet.user.avatar %>" alt="" class="avatar">
    </div>
    <div class="col-md-9">
      <div class="tweet_usr">
        <%= link_to users_tweets_path(tweet.user) do %>
          <h3><%= tweet.user.name %>
          ,
          <%= tweet.created_at.strftime("%Y-%m-%d, %H:%M") %>
        </h3>
        <% end %>
      </div>
      <%= simple_format(tweet.description) %>
      <div class="tweet_RL">
        <%= link_to replies_path(tweet.id), class: "tweet_reply" do %>
          Reply(<%= tweet.replies_count %>)
        <% end %>
        <span class="tweet_like">
          <%= render partial: "shared/like",locals:{tweet:tweet} %>
          (<%= tweet.likes_count %>)</span>
      </div>
    </div>
  </div>
  <% end %>
