<% tweets.each do |tweet| %>
  <div class="col-sm-6" >
    <div class="thumbnail postcard">
        <%= render partial: "shared/pic", locals: {user: tweet.user} %>
      <div class="caption">
        <small class="text-muted">
          <%= link_to "#{tweet.user.name}", tweets_user_path(tweet.user) %>
          <%= tweet.created_at.to_formatted_s(:db)%>
        </small>
        <p class="card-text"><%= tweet.description %></p>
      </div>
      <div class="button">
        <%= link_to "Reply (#{tweet.replies_count}) ", tweet_replies_path(tweet) %>
        <%= render partial: "shared/like", locals: {tweet: tweet} %>
      </div>
    </div>
  </div>
<% end %>  