<div class="avatar-md">
  <%= image_tag user.avatar, class: "img-responsive img-rounded" %>  
</div>
  <h3><%= user.name %></h3>
  <p><%= user.introduction %></p>
  <ul>
    <li><%= link_to "Tweet #{user.tweets.size}", tweets_user_path(user) %></li>
    <li><%= link_to "Following #{user.followings.count}", followings_user_path(user) %></li>
    <li><%= link_to "Follower #{user.followers.count}", followers_user_path(user) %></li>
    <li><%= link_to "Likes #{user.likes.count}", likes_user_path(user) %></li>
  </ul>
    
  <% if user.email == current_user.email %>
    <%= link_to 'Edit Profile', edit_user_path(user), class: "btn btn-primary" %>
  <% else %>
    <!--follow-->
    <div class="text-center">
    <%= render partial: "shared/follow", locals: {user: @user}  %>
    </div>
  <% end %> 