<%= image_tag user.avatar, width: "200px", class: "img-responsive center-block" %>
<h1 class="text-center"><%= user.name %></h1>
<p class="wrap"><%= user.introduction %></p>
<p>Tweets <%= link_to user.tweets.count, tweets_user_path(user) %></p>
<p>Followings <%= link_to user.followings.count, followings_user_path(user) %></p>
<p>Followers <%= link_to user.followers.count, followers_user_path(user) %></p>
<p>Like</p>
<div class="profile-btn text-center">
  <% if user == current_user %>
    <%= link_to "Edit Profile", edit_user_path(user), class: "btn btn-primary" %>
  <% else %>
    <%= render partial: "shared/follow_btn", locals: {user: user} %>
  <% end %>
</div>