<table class="table my-tweet">
  <tbody>
    <tr>
      <th scope="row">
        <% if reply.user.avatar? %>
          <%= image_tag reply.user.avatar, width: '100px', class: "rounded m-auto d-block" %>
        <% else %>
          <p class="text-center">No User Image</p>
        <% end %>
      </th>
      <td>      
        <%= link_to tweets_user_path(reply.user) do %>
          <h4 class="card-text">@<%= reply.user.name %><% end %>
          , <%= reply.created_at.strftime("%Y-%m-%d, %H:%M") %>
          </h4>     
        <p class="card-text"><%= reply.comment %></p>
      </td>
    </tr>
  </tbody> 
</table>  
