<% @tweets.each do |tweet| %>
  <div class="col-sm-12 col-md-12 tweet-content">

    <div class="col-sm-4 col-md-3">
      <div class="user-avatar">
        <%= image_tag tweet.user.avatar if tweet.user.avatar?  %>
      </div>
    </div>
 
    <div class="col-sm-8 col-md-9">

      <div class="tweet-title">
        <p><%= link_to tweet.user.name, tweets_user_path(tweet.user) %>,
        <%= tweet.created_at.to_date %>,
        <%= tweet.created_at.strftime("%H:%M") %> </p>
      </div>

      <div class="tweet-description">
        <p><%= simple_format tweet.description %></p>
      </div>

      <div class="tweet-replies tweet-likes">
        <%= link_to tweet_replies_path(tweet) do%>
          <span>Replies (<%= tweet.replies.count %>)</span>
        <% end %>

        <% unless tweet.is_liked?(current_user) %> 
          <%= link_to like_tweet_path(tweet),method: :post,class:"text-danger" do%>
            <span>like (<%= tweet.likes.count %>)</span>
          <% end %>
        <% else %>
          <%= link_to unlike_tweet_path(tweet),method: :post,class:"text-danger" do%>
            <span>unlike (<%= tweet.likes.count %>)</span>
          <% end %>
        <% end %>
      </div>
 

    </div>   
  </div>
<% end %>

