<% tweets.each do |tweet| %>
  <div class="tweet-wall clearfix">
    <div class="tweet-avatar">
      <%= image_tag tweet.user.avatar %>
    </div>
    <div class="tweet-item">
      <%= link_to tweet.user.name, tweets_user_path(tweet.user) %>,
      <%= time_tag tweet.created_at %>
      <p class="wrap"><%= tweet.description %></p>
      <% if tweet.is_liked?(current_user) %>
        <%= link_to "Unlike", unlike_tweet_path(tweet), method: :post, class: "btn btn-info" %>
      <% else %>
        <%= link_to "Like", like_tweet_path(tweet), method: :post, class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
<% end %>