<% tweets_object.each do |tweet| %>
  <div class="row border tweet_content">
    <div class="col-2">
      <!-- <%= image_tag "https://picsum.photos/90/90/?random", class: "text-center" %> -->

      <%= filestack_image tweet.user.avatar, transform: filestack_transform.resize(width:100, height:100) %>
    </div>

    <div class="col-10">
      <%= link_to "#{tweet.user.name}", tweets_user_path(tweet.user) %>,
      <%= tweet.created_at.strftime("%Y-%m-%d") %>,
      <%= tweet.created_at.strftime("%H:%M") %>

      <%= simple_format tweet.description %>

      <!-- reply button -->
      <%= link_to "Reply(#{tweet.replies_count})", tweet_replies_path(tweet.id), data: {disable_with: "Reply(#{tweet.replies_count})"} %>

      <!-- like/unlike button -->
      <% if current_user.is_liked?(tweet) %>
        <%= link_to "unlike(#{tweet.likes_count})", unlike_tweet_path(tweet.id), method: :post, data: {disable_with: "unlike(#{tweet.likes_count})"}, class: "text-secondary" %>
      <% else %>
        <%= link_to "like(#{tweet.likes_count})", like_tweet_path(tweet.id), method: :post, data: {disable_with: "like(#{tweet.likes_count})"}, class: "text-secondary" %>
      <% end %>

      <!-- delete button -->
      <% if current_user.is_admin? %>
        <%= link_to "Delete", admin_tweet_path(tweet.id), method: :delete, data: {disable_with: "waiting.."}, class: "btn btn-danger" %>
      <% end %>

    </div>

  </div>
<% end %>
