<div class="tweet-item">
    
  <div class="col-md-3 col-sm-4">
    <div class="text-center">
      <div class="tweet-avatar">

        <% if tweet.user.avatar? %>
          <%= image_tag tweet.user.avatar.url, height: 100, width: 100 %>
        <% else %>
          <%= image_tag ("800x600.png"), height: 100, width: 100 %>
        <% end %>
      
      </div>
    </div>
  </div>

  <div class="col-md-9 col-sm-8">
    <div class="tweet-content">

      <%= link_to tweets_user_path(tweet.user) do %>     
        <p class="tweet-user-name"><%= tweet.user.name %></p>
      <% end %>

      <p class="time-tag">, <%= time_tag(tweet.created_at) %></p>
      <p><%= simple_format tweet.description %></p>

    </div><!-- tweet-content -->
    
    <%= link_to "Reply(#{tweet.replies_count})", tweet_replies_path(tweet) %>
    <p class="like-item">Like(<%= "#{tweet.likes_count}" %>)</p>
    <!-- å‘¼å«like/unlike button -->
    <%= render partial: "shared/like", locals: {tweet: tweet} %>
    
  </div><!-- col-md-9 -->

  <div class="clearfix"></div>

</div><!-- tweet-item -->