<div class='col-xs-12 tweet-box'>
  <div class="col-xs-3">
    <%= image_tag tweet.user.avatar, class: "img-responsive img-rounded center-block" %>
  </div>
  <div class="col-xs-9">


    <div class="caption">

      <p>
        <%= link_to tweet.user.name, tweets_user_path(tweet.user) %>
          <%= tweet.created_at.strftime("%Y-%m-%d, %H:%M") %>
      </p>
      <p>
        <%= truncate(tweet.description, length: 80) %>
      </p>
      <%= link_to "Reply(#{tweet.replies.count})", tweet_replies_path(tweet), class: "links" %>

        <% if tweet.is_liked?(current_user) %>
         
            <%= link_to "unlike(#{tweet.likes.count})", unlike_tweet_path(tweet), remote: true, method: :post, class: "links btn-danger" %>
         
          <% else %>
           
              <%= link_to "likes(#{tweet.likes.count})", like_tweet_path(tweet), remote: true, method: :post, class: "links btn-danger" %>
           
            <% end %>
    </div>


  </div>
</div>
