<div class="individual-item">
  <% for img_id in 0..20 %>
    <% if image_path(profile.user.avatar).include?('/'+img_id.to_s+'.jpg') %> 
      <%= image_tag('/avatar/'+img_id.to_s+'.jpg', class: "img-responsive img-circle") %>
    <% else %> 
      <%= image_tag profile.user.avatar, class: "img-responsive img-circle" %>
    <% end %>
  <% end %>
  <div class="content">
    <h5><%= link_to profile.user.name, tweets_user_path(profile.user) %>, <%= profile.created_at %></h5>
    <p><%= profile.description %></p>
    <h5>
      <%= link_to tweet_replies_path(profile) do %>
        Reply(<%= profile.replies.size %>)
      <% end %>
      Like(<%= profile.likes_count %>)
    </h5>
    <% if current_user.liked_tweets?(profile) %>
      <%= link_to 'Unlike', unlike_tweet_path(profile), method: :post, class: "btn btn-warning" %>
    <% else %>
      <%= link_to 'Like', like_tweet_path(profile), method: :post, class: "btn btn-success" %>
    <% end %>
  </div>
</div>