<div class="container-fluid">
  <div class="row well">
    <div class="col-md-2">    
        <%= image_tag(tweet.user.avatar, :class => 'img-responsive') %>
    </div>
    <div class="col-md-10 tweet-content">
      <p>
        <%= link_to tweet.user.name, tweets_user_path(tweet.user.id) %>, <%= tweet.created_at.strftime('%F') %>, <%= tweet.created_at.strftime('%R') %> 
      </p>
      <p><%= tweet.description %></p>
      <div class="row">
        <div class="col-md-6">
          <%= link_to "Reply(#{tweet.replies_count})", replies_tweet_path(tweet.id) %>    
        </div>                  
        <div class="col-md-6">
          <%= render partial: "shared/like", locals: {tweet: tweet} %>
        </div>
      </div>
      
    </div>
  </div>
</div>