<div>
  <% @tweets.each do |tweet| %>
    <%= image_tag tweet.user.avatar %>
    <!-- 格式化日期時間 time.strftime("%Y-%m-%d %H:%M:%S") -->
    <p><%= "@" + tweet.user.name + ", " %><%= tweet.updated_at.strftime("%Y-%m-%d, %H:%M") %></p>
    <p><%= tweet.description %></p>
    <div>
      <%= link_to tweet_replies_path(tweet) do %>
        Reply(<%= tweet.replies.size %>)
      <% end %>
      <%= render partial: "shared/like", locals: {tweet: tweet} %>
    </div>
  <% end %>
</div>