<div class="single-tweet">
  <div class="row">
    <div class="col-md-3 col-xs-3">
      <% if object.user.avatar %>
        <%= image_tag object.user.avatar, width: '96px', class: "img img-responsive" %>
      <% else %>
        <%= image_tag 'fallback/default-avatar', width: '96px', class: "img img-responsive" %>
      <% end %>
    </div>
    <div class="col-md-8 col-xs-8">
      <%= render  "shared/created", object_time: object %>
      <div class="user-description">
        <%= object.description %>
      </div>
      <%= render  "shared/action", object_button: object %>
    </div>
  </div>
</div>