<div class="single-tweet">
  <div class="user-avatar">
    <% if object.user.avatar %>
      <%= image_tag object.user.avatar, width: '128px', class: "img img-responsive" %>
    <% else %>
      <%= image_tag 'fallback/default-avatar', width: '128px', class: "img img-responsive" %>
    <% end %>
  </div>
  <div class="user-tweet">
    <%= render  "shared/created", object_time: object %>
    <div class="user-description">
      <%= object.description %>
    </div>
    <%= render  "shared/action", object_button: object %>
  </div>
</div>