<div class="tweet">
  <div class="row clearfix">
    <div class="col-md-2">
      <%= image_tag tweet.user.avatar %>
    </div>
    <div class="col-md-10">
      <%= link_to "@#{tweet.user.name},#{tweet.created_at.to_s(:db)}", tweets_user_path(tweet.user) %>
      <p><%= tweet.description %></p>
      <%= link_to "Reply(#{tweet.replies_count})", tweet_replies_path(tweet) %>
      <% if tweet.is_liked?(current_user) %>
        <%= link_to "Unlike(#{tweet.likes_count})", unlike_tweet_path(tweet), method: :post,class: "unlike" %>
      <% else %>
        <%= link_to "Like(#{tweet.likes_count})", like_tweet_path(tweet), method: :post,class: "like" %>
      <% end %>
    </div>
  </div>
</div>