<div class="userinfor-item clearfix">
  <div class="col-xs-4"><%= image_tag user.avatar, class: "img-responsive img-rounded" %></div>
    <div class="col-xs-8">
      <%= link_to tweets_user_path(user) do %>
        <h4>@<%= user.name %></h4>
      <% end %>
      <div><p><%= truncate(user.introduction, length: 140) %></p></div>
      <div class="btn-follow"><%= render partial: "shared/follow", locals: {user: user} %></div>
    </div>
</div>
