<div class="col-sm-4 col-md-3">
  <div class="user-file">
    <%= image_tag @user.avatar, width: '190px', height: '190px' %>
    <div class="text">
      <h2><%= @user.name %></h2>
      <p><%= @user.introduction%></p>
      <h4>Tweets <%=@user.tweets.count%></h4>
      <h4><%= link_to "Following #{@user.followings.count}",followings_user_path(@user) %></h4>
      <h4><%= link_to "Follower #{@user.followers.count}",followers_user_path(@user) %></h4>
      <h4><%= link_to "Like #{@user.likes.count}", likes_user_path(@user) %></h4>

      <% if @user == current_user %>
        <%= link_to "Edit profile", edit_user_path(@user), class: "btn btn-default" %>
      <% else %>
        <% if current_user.following?(@user) %>
          <%= link_to "Unfollow", followship_path(@user), method: :delete, class: "btn btn-default" %>
        <% else %>
          <%= link_to "Follow", followships_path(following_id: @user), method: :post, class: "btn btn-primary" %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
