<div class="ml-5 mt-3">
<% if @user.avatar? %>
    <%=  image_tag @user.avatar,  width: '250px' ,class: " nav-link img-thumbnail img-fluid mb-3 " %>
  <% else %>
    <i class="fas fa-user fa-10x img-thumbnail" ></i>
 <% end %>
 
<h2 class="tweet_color"><%= @user.name%></h2>
    <div style="word-wrap:break-word">
     <%= @user.introduction %>
     
    </div>
    Following (<%= @user.followships_count %>)
    
  <div>
      <% if @user == current_user %>
        <%= link_to "Edit porfile", edit_user_path(@user), class: "btn btn-primary" %>

        <% elsif current_user.following?(@user)%>
        <%= link_to "Unfollow", followship_path(@user), method: :delete, class: "btn btn-danger"%>
      <% else %>
        <%= link_to "Follow", followships_path(following_id: @user), method: :post, class: "btn btn-primary"%>
      <% end %>
      

  </div>
</div>