<div class="col-md-12 col-sm-12">
  <div class="text-center user-tweet-item">
    <% if user.avatar? %>
    <%= image_tag user.avatar, class: "img-responsive img-rounded" %>
    <% else %>
    <%= image_tag "fallback/avatar.png", class: " img-rounded" %>
    <% end %>
  </div>
</div>
<div class="col-md-12 col-sm-12">
  <h2><strong><%= user.name %></strong></h2>
  <p><%= user.introduction %></p>
  <h3><%= link_to "tweets (#{user.tweets.count})",tweets_user_path(user) %></h3>
  <h3><%= link_to "following (#{user.followings.count})",followings_user_path(user) %></h3>
  <h3><%= link_to "follower (#{user.followers.count})",followers_user_path(user) %></h3>
  <h3><%= link_to "like (#{user.likes_count})",likes_user_path(user) %></h3>
</div>
<% if user == current_user %>
  <%= link_to 'Edit Profile', edit_user_path(user), class: "btn btn-primary" %>
<% end %>      
<% if user != current_user %>
  <% if current_user.following?(user)%>
    <%= link_to 'Unfollow', followship_path(user), method: :delete , class: "btn btn-primary" %>
  <% else %>
    <%= link_to 'Follow', followships_path(following_id: user), method: :post , class: "btn btn-default" %>
  <% end %>
<% end %>