<div class="col-3">
  <div class="user-image">
    <%= image_tag @user.avatar, class: "img-thumbnail ", title: "使用者圖片", alt: "使用者尚未上傳" %>
  </div>
  <h5><%= @user.name %></h5>
  <p class="text-monospace"><%= @user.introduction %></p>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <%= link_to likes_user_path(@user) do %>
        like <%= @user.likes_count %>
      <% end %>
    </li>
    <li class="list-group-item">
      <% if @user == current_user %>
        <%= link_to('Edit Profile', edit_user_path(current_user)) %>
      <% else %>
        <%= link_to 'Follow', followships_path(following_id: @user), method: :post %>
        <%= link_to 'Unfollow', followship_path(@user), method: :delete %>
      <% end %>
    </li>
  </ul>
</div>