<ul class="list-unstyled">
  <li>
    <%= image_tag "https://picsum.photos/300/300/?random", class: "text-center" %>
  </li>

  <br>

  <li>
      <h3><%= user_object.name %></h3>
  </li>

  <li class="text-info">
    <%= user_object.introduction %>
  </li>

  <br>

  <li>
    <%= link_to tweets_user_path(user_object.id) do %>
      <h5>Tweets <%= user_object.tweets_count %></h5>
    <% end %>
  </li>

  <li>
    <%= link_to followings_user_path(user_object.id) do %>
      <h5>Following <%= user_object.followships_count %></h5>
    <% end %>
  </li>

  <li>
    <%= link_to followers_user_path(user_object.id) do %>
      <h5>Follower <%= user_object.followers_count %></h5>
    <% end %>
  </li>

  <li>
    <%= link_to likes_user_path(user_object.id) do %>
      <h5>like <%= user_object.likes_count %></h5>
    <% end %>
  </li>

  <br>
  <li>
    <% if user_object == current_user %>
      <%= link_to "Edit Profile", edit_user_path(current_user.id), class: "btn btn-primary" %>
    <% else %>

      <!-- Follow/Unfollow button -->
      <%= render partial: "shared/follow_button", locals: {follow_object: user_object} %>

    <% end %>
  </li>
</ul>
