  <h4><%=users.name%></h4>
          <div class="help-block"><%= users.introduction %></div> 
  <% if users != current_user %>

              <div>
              <div class="help-block">Tweets : <%= users.tweets.count%></div> 
              <div class="help-block">Following : <%= users.followings.count%></div> 
              <div class="help-block">Follower :<%= users.followers.count%></div> 
              <div class="help-block">likes : <%= users.likes.count%></div> 
              </div>
  
     <%= render partial: "shared/follow", locals: {users: users}%>
      <%else%>

 <div>
               <%= link_to "Tweets : #{users.tweets.count}" , tweets_user_path(users),class:"help-block"%>
              <%= link_to "Following : #{users.followings.count}" , followings_user_path(users),class:"help-block"%> 
              <%= link_to "Follower : #{users.followers.count}" , followers_user_path(users),class:"help-block"%>
              <%= link_to "likes : #{users.likes.count}" , likes_user_path(users),class:"help-block"%>
              </div>
              <div>
   <%= link_to "Edit Profile" , edit_user_path(users),class:"btn btn-primary"%>  
             </div>
              <%end%>
  