<%= image_tag user.avatar, width:'100px', id:"tweet-avatar" %>
<h3><%= user.name%></h3>
<p><%= user.introduction%></p>
<% if user == current_user %>
	<%= link_to "Edit Profile", edit_user_path(current_user) %>
<% else %>
	<% if not current_user.following?(user)%>
		<%= link_to "Follow", followships_path(following_id: user), method: :post %>
	<% else %>
		something else
	<% end %>
<% end %>