<div class="user-profile">
    <% for img_id in 0..26 %>
      <% if image_path(user.avatar).include?('/user'+img_id.to_s+'.jpg') %>
        <%= image_tag('/avatar/user'+img_id.to_s+'.jpg', class: "profile-avatar") %>
      <% end %>
    <% end %>
    <h2><%= user.name %></h2>
    <%= simple_format user.introduction, class: "profile-intro" %>
    <%= link_to "Tweets "+user.tweets.count.to_s, tweets_user_path(user), class: "profile-link" %><br>
    <%= link_to "Following "+user.followings.count.to_s, followings_user_path(user), class: "profile-link" %><br>
    <%= link_to "Follower "+user.followers.count.to_s, followers_user_path(user), class: "profile-link" %><br>
    <%= link_to "Like "+user.likes.count.to_s, likes_user_path(user), class: "profile-link" %><br>
    <div class="profile-btn">
      <%= render partial: "shared/follow", locals: {user: user} %>
    </div>
    <% if current_user == user %>
      <%= link_to "Edit Profile", edit_user_path(user), class: "btn btn-default" %>
    <% end %>
  </div>