<%= image_tag @user.avatar, size: 200, class:"img-responsive" %>
<h2><%= @user.name %></h2>
<h5><%= @user.introduction %></h5>
<div class="user-info">       
  <p><%= link_to "Tweet", tweets_user_path(@user) %> <%= @user.tweets_count %></p>
  <p><%= link_to "Following", followings_user_path(@user) %> <%= @user.followings.size %></p>
  <p><%= link_to "Follower", followers_user_path(@user) %> <%= @user.followers_count %></p>
  <p><%= link_to "like", likes_user_path(@user) %> <%= @user.likes_count %></p>
</div>
<% if @user.email == current_user.email %>
  <%= link_to 'Edit Profile', edit_user_path(current_user), class: "btn btn-primary" %>
  <%= link_to '修改密碼', edit_user_registration_path(current_user), class: "btn btn-primary" %>
<% else %>
  <%= render partial: "shared/follow", locals:{user: @user} %>
<% end %>      