<%= image_tag(user.avatar, height: 160, width: 160, class: "img-responsive img-rounded") %>
<p><%= user.name %></p>
<p><%= user.introduction %></p>
<% if user == current_user %>
  <%= link_to "Edit Profile", edit_user_path(user), class: "btn btn-primary" %>
<% else %>
  <%= render partial: "shared/follow", locals: {user: user} %>
<% end %>

<ul class="list-unstyled">
  <li><strong>
    <%= link_to tweets_user_path(user) do %>
      Tweets <%= user.tweets.size %>
    <% end %>
  </strong></li>
  <li><strong>
    <%= link_to followings_user_path(user) do %>
      Following <%= user.followings.size %>
    <% end %>
  </strong></li>
  <li><strong>
    <%= link_to followers_user_path(user) do %>
      Follower <%= user.followers.size %>
    <% end %>
  </strong></li>
  <li><strong>
    <%= link_to likes_user_path(user) do %>
      like <%= user.likes.size %>
    <% end %>
  </strong></li>
</ul>