<div class="user-avatar">
  <%= image_tag(@user.avatar, class: "img-responsive center-block") %>
</div>
<div class="user-info">
  <h3><%= @user.name%></h3>
  <p><%=@user.introduction%></p>
</div>
<div class="user-button">
  <h4><%= link_to "Tweets(#{@user.tweets.size})", tweets_user_path(@user) %></h4>
  <h4>Following: </h4>
  <h4>Followers: </h4>
  <h4><%= link_to "Like(#{@user.likes_count})", likes_user_path(@user) %></h4>
</div>
<div class="edit-button">
  <%if @user == current_user%>
    <%= link_to 'Edit Profile', edit_user_path(@user), class: "btn btn-info" %>
  <% else %>
    <%= link_to 'Follow', edit_user_path(@user), class: "btn btn-info" %>
  <% end %>
</div>
