<div class="media border p-2 mb-3">
  <% if user.avatar? %>
    <%= image_tag user.avatar, width: '100px', alt: user.name,  class: "rounded mr-3"  %>
  <% else %>
    <img src="https://placeholdit.imgix.net/~text?txtsize=21&txt=No%20User%20Image&w=100&h=100" class="rounded mr-3">
  <% end %>
  <div class="media-body">
    <h5 class="mt-0">
      <%= link_to tweets_user_path(user) do %>
        @<%= user.name %>
      <% end %>
    </h5>
    <p><%= truncate(user.introduction, length:80) %></p>
    <p class="text-right"><%= render partial: "shared/followship", locals: {user: user} %></p>
  </div>
</div>