<div class="user">
  <div class="avatar">
		<%= filestack_image user.avatar, transform: filestack_transform.resize(width:100, height:100), class: "img" %>
	</div>
  <h2><%= link_to user.name, user_path(user) %></h2>
  <h4><%= user.introduction %></h4>
  <h3><%= link_to "Tweets #{user.tweets.size}", tweets_user_path(user) %></h3>
  <h3><%= link_to "Followings #{user.followings.size}", followings_user_path(user) %></h3>
  <h3><%= link_to "Followers #{user.followers_count}", followers_user_path(user) %></h3>
  <h3><%= link_to "Likes #{user.likes_count}", likes_user_path(user) %></h3>
  <%= render partial: "shared/editprofile", locals: {user: user} %>
</div>