<% users.each do |user| %>
  <div class="col-md-6">
  <div class="usercard clearfix">
    <div class="container">
      <div class="container">
        <!-- Left: user avartar /start -->
        <div class="col-xs-2">
          <div class="usercard-avatar">
            <% if user.avatar? %>
              <%= image_tag(user.avatar, width: '60', height: '60',class: 'center-block') %>
            <% else %>
              <%= image_tag("http://via.placeholder.com/60x60",class: 'center-block') %>
            <% end %>
          </div>
        </div>
        <!-- Left: user avartar /end -->

        <!-- Right: user info & introduction /start -->
        <div class="col-xs-10">
          
          <!-- user info -->
          <div class="tweetheader">
            <%= link_to tweets_user_path(user) do  %>
              <strong class="username">@<%= content_tag :span, user.name %></strong>
            <% end %>
          </div>

          <!-- user introduction -->
          <div class="userintro"><%= user.introduction %></div>

        </div>
        <!-- Right: user info & introduction /end -->
      </div> <!-- /.container  -->

      <!-- Bottom: Follow/Unfollow button /start -->
      <div class="follow-button text-right">
        
        <!-- 未完成：判斷followship，顯示follow/unfollow -->
        <% if user != current_user %>
          <% if current_user.is_following?(user) %>
            <%= link_to "Unfollow", followship_path(user) ,method: :delete, class: "btn btn-danger" %>
          <% else %>
            <%= link_to "Follow", followships_path(following_id: user),method: :post, class: "btn btn-primary" %>
          <% end %>
        <% else %>
          <%= link_to "Follow", followships_path(following_id: user),method: :post, class: "btn btn-primary disabled" %>
        <% end %>

      </div>
      <!-- Bottom: Follow/Unfollow button /end -->

    </div> <!-- /.container  -->
  </div> <!-- /.usercard  -->
  </div>
<% end %>