<!-- users list，有多寫user-item的class style -->
<% followings.each do |following| %>
  <div class="col-xs-6 col-md-6">
    <div class="media tweet-item">
      <div class="media-left">
        <%= image_tag following.avatar , class: "tweet-avatar"%>
      </div>
      <div class="media-body">
        <h4 class="media-heading"> <%= link_to following.name, tweets_user_path(following) %>
        </h4>
        <p><%= truncate(following.introduction, length: 140) %></p>

        <% if user != current_user %>
          <% if current_user.following?(following) %>
            <%= link_to 'Unfollow', followship_path(following), method: :delete, class: "btn btn-info" %>
          <% else %>
            <%= link_to 'Follow', followships_path(following_id: following), method: :post, class: "btn btn-primary"%>
          <% end %>
        <% else %>
          <% if user.following?(following) %>
            <%= link_to 'Unfollow', followship_path(following), method: :delete, class: "btn btn-info" %>
          <% else %>
            <%= link_to 'Follow', followships_path(following_id: user), method: :post, class: "btn btn-primary"%>
          <% end %>
        <% end %>

      </div> 
    </div> 
  </div>
<% end %>






