<div class="thumbnail">
  <% if user.avatar.nil? %>  
    <img src="http://via.placeholder.com/300x300" class="img-responsive">
  <% else %>
    <%= image_tag(user.avatar, :class => 'img-responsive') %>  
  <% end %>
  <div class="caption">            
    <h4>
      <%= user.name %>                  
      <% if current_user.id == user.id %>
        <%= link_to 'Edit Profile', edit_user_path(current_user), :class => "btn btn-default "%>
      <% else %>
        <%= render partial: "shared/follow", locals: {user: user} %>
      <% end %>          
    </h4> 
    <hr>
    <p><%= user.introduction %></p>
    <hr>
    <p><%= link_to "Tweets: #{user.tweets.count}", tweets_user_path(user.id)%></p>
    <p><%= link_to "Followings: #{user.followings.count}", followings_user_path(user.id)%></p>
    <p><%= link_to "Followers: #{user.followers.count}", followers_user_path(user.id)%></p>
    <p><%= link_to "Likes: #{user.likes.count}", likes_user_path(user.id) %></p>    

  </div>
</div>
  


