<div class="user-item clearfix">
  <div class="user-image">
    <%= link_to tweets_user_path(object) do %>
      <% if object.avatar? %>
        <%= image_tag object.avatar %>
      <% else %>
        <img src="http://via.placeholder.com/80x80">
      <% end %>
    <% end %>
  </div>
          
  <div class="user-content">
    <h4><%= link_to object.name, tweets_user_path(object) %></h4>
    <p><%= truncate(object.introduction, length: 100) %></p>
    <% if admin %>
      <div class="user-status">
        <span class="label label-info">Tweets：<%= object.tweets.size %></span>
        <span class="label label-info">Following：<%= object.followings.size %></span>
        <span class="label label-info">Follower：<%= object.followers_count %></span>
        <span class="label label-info">Received Likes：<%= object.likes_count %></span>
      </div>
    <% else %>
      <div class="followship">
        <%= render partial: "shared/follow", locals: {object: object} %>
      </div>  
    <% end %>       
  </div>
</div>