<div class="user-item user-avatar">
  <%= image_tag @user.avatar.url, size: "300x300", class: "img-responsive" %>
</div>
<div class="user-item user-texts">
  <!-- @username -->
  <%= link_to(tweets_user_path(user)) do %>
    <p><%= user.name %></p>
  <% end %>
  <!-- user introduction -->
  <p><%= @user.introduction%></p>
  <!-- Number of tweets -->
  <%= link_to(tweets_user_path(user)) do %>
    <p>Tweets <%= @user.tweets.count %></p>
  <% end %>
  <!-- Number of following -->
  <%= link_to(followings_user_path(user)) do %>
    <p>Following <%= @user.followings.count %></p>
  <% end %>
  <!-- Number of follower -->
  <%= link_to(followers_user_path(user)) do %>
    <p>Follower <%= @user.followers_count %></p>
  <% end %>
  <!-- Number of likes -->
  <%= link_to(likes_user_path(user)) do %>
    <p>likes <%= @user.likes_count %></p>
  <% end %>
  <!-- Follow/Unfollow Button -->
  <%= render partial: "shared/follow", locals: {user: @user} %>
</div>