<% users.each do |user| %>
  <div class="col-md-12 border">
    <div class="col-md-3">
      <%= image_tag user.avatar, class: "img-responsive center-block"%>
    </div>
    <div class="col-md-9">
      <%= link_to user.name, tweets_user_path(user) %>
      <br>
      <%= truncate(user.introduction, length: 80) %>
      <br>
      <p><%= link_to "Tweets #{user.tweets.size}", tweets_user_path(user) %></p>
      <p><%= link_to "Following #{user.followings.size}", followings_user_path(user) %></p>
      <p><%= link_to "Follower #{user.followers.size}", followers_user_path(user) %></p>
      <p><%= link_to "Like #{user.liked_tweets.size}", likes_user_path(user) %></p>
      <%= render partial: "shared/follow", locals: {user: user} %>
    </div>
    
  </div>
<%end%>