<div class="profile">
  <%= image_tag user.avatar, width: "100%"  if user.avatar? %>
<p class="user-name"><%= user.name %></p>
<div class="user-introd"><%= user.introduction %></div>

<div class="side-bar">
  <%= link_to "Tweets #{user.tweets.size}",tweets_user_path(user),class: "address address-link"%><br>



  <%= link_to "Liks #{user.likes.size}",likes_user_path(user),class: "address address-link"%><br>
  
</div>
 




<div class="button">
  <% if user == current_user %>
    <%= link_to "Edit Portfolio",edit_user_path(current_user), class: "btn btn-md btn-default my-btn" %>
    
  <% else %>
  <% end %>
</div>

</div>