<%if !user.avatar?%>
  <%= image_tag "https://openclipart.org/download/247319/abstract-user-flat-3.svg", class:"img-responsive img-rounded " %>
<% else%>
  <%= image_tag @user.avatar, class:"img-responsive img-rounded" %>
<% end %>

<h2>
  <%= link_to user.name,tweets_user_path(@user) %>
</h2>
<p><%= truncate(user.introduction, length: 200)%></p>

<h4><%= link_to "Tweets #{user.tweets.count}" , tweets_user_path(user)%></h4>
<h4><%= link_to "追蹤名單 #{user.followings.count}" , followings_user_path(user)%></h4>
<h4><%= link_to "粉絲 #{user.followers_count}" , followers_user_path(user)%></h4>
<h4>
  <%= link_to '<i class = "glyphicon glyphicon-heart" aria-hidden="true"></i> '.html_safe , likes_user_path(user)%> 
  <%= link_to "Like #{user.likes_count}" , likes_user_path(user)%>    
</h4>

<% if user ==current_user %>
  <%= link_to "Edit Profile", edit_user_path(user), class: "btn btn-success" %>
<% else %>
  <%= render partial: "shared/follow", locals: {user: user}%>
<% end %>
<hr>