<div class="row">
  <div class="center-align">
    <h2>Log in</h2>
  </div>
  <br>

  <div class="col s12 m8 offset-m2 l8 offset-l2">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="field">
          <form action="#">
            <label>
              <input type="checkbox" />
              <span>Remember me</span>
            </label>
          </form>
        </div>
      <% end -%>
      <br>

      <div class="actions">
        <div class="left">
          <%= f.submit "Log in", class: "waves-effect waves-light btn" %>  
        </div>
        <div class="right">
          <%= render "devise/shared/links" %>    
        </div>
      </div>
    <% end %>
  </div>

</div>

  


