  <div class="center-align">
    <h2>Log in</h2>
  </div>
  <br>

  <div class="col m8 offset-m2 login">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      
      <% if devise_mapping.rememberable? -%>
      <p>
        <label for="user_remember_me"">
          <input type="checkbox" id="user_remember_me" />
          <span>Remember me</span>
        </label>
      </p>
      <% end -%>
      <br>

      <div class="actions">
        <div class="left">
          <%= f.submit "Log in", class: "btn wave-effect wave-light" %>  
        </div>
        <div class="right">
          <%= render "devise/shared/links" %>
        </div>
      </div>
    <% end %>
    
  </div>