  <div class="row justify-content-center mt-5">
    <div class="col-md-4 offset-md-center mt-5">

 <nav aria-label>
     

<h2>使用帳號登入</h2>
</br>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
   
    <div class="input-group ">
      <div class="input-group-append "><span class="input-group-text" aria-hidden="true"><i class="far fa-envelope"></i>

</span></div>
       <%= f.email_field :email, autofocus: true, class: 'form-control' %>
       </div>
    </div>
  <br>
  <div class="field">
    <div class="input-group">
      <div class="input-group-append"><span class="input-group-text" aria-hidden="true"><i class="fas fa-key"></i></span></div>
        <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
      </div>
  </div>

  <br>
  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

   <style>
    input {
    border-radius: 20px;
    padding: 5px 30px;
    }
  </style>
  </br>
       <%= f.submit "登入" %>
    
  </nav>

<% end %>
<%= render "devise/shared/links" %>
</div>    
  </div>
