<div class="cover_sign_in">
  <h2 style="text-align:center">Log in</h2>
  <br>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email",class:"form-control",style:"width:100%;" %>
    </div>
    <br>
    <div class="field">
      <%= f.label :password %><br>
      <%= f.password_field :password, autocomplete: "off",class:"form-control",style:"width:100%" %>
      <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
        <%= link_to "Forgot your password?", new_password_path(resource_name)%><br />
      <% end -%>
    </div>
    <br>
    <% if devise_mapping.rememberable? -%>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end -%>
    <br>
    <div class="actions">
      <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
        <%= link_to "Sign up", new_registration_path(resource_name), class:"btn btn-default"%>
      <% end -%>
      <%= f.submit "Log in", class:"btn btn-default"%>
    </div>

  <% end %>
    <br>
  <%= render "devise/shared/links" %>
</div>

<style>
  @media screen and (min-width: 1024px) {
    .cover_sign_in {
      width:500px;
      margin: 5% 30%
    }
  }

  @media screen and (max-width:1023px) {
    .cover_sign_in {
      width:500px;
      margin: 15% 35%
    }
  }
</style>
