<div class="container">
  <div class="inbg center-block">
    <div class="inbg-in center-block">
      <h2>Log in</h2>
      
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        
      <div class="form-group bosen">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, class: "form-control" %>
      </div>
      
      <div class="form-group bosen">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "off",class: "form-control" %>
      </div>
      
      <% if devise_mapping.rememberable? -%>
        <div class="field flsen">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end -%>
      
      <div class="actions">
          <%= f.submit "Log in", class:'btn btn-info' %>
      </div>    
      
        <% end %>
      
        <div><%= render "devise/shared/links" %></div>
    </div>

  </div>

</div>

<style type="text/css">
  .bosen {
    width: 300px;
  }
  
  .inbg{
    width: 500px;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #eee;
    border-radius: 5px;
    padding-bottom: 30px;
  }

  .inbg-in{
    width: 300px;
  }

  .flsen{
    float: left;
    padding-right: 35%;
  }


</style>


