<div class="container">
  <div class="input-group">
    <h2>歡迎回來</h2>
  </div>
  <br>
  <div class="input-group">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email, "E-Mail" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
      </div>
      <br>
      <br>
      <br>
      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
      </div>
      
      <% if devise_mapping.rememberable? -%>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end -%>
      <br>
      <hr class="hrlogin">
      <br>
      <div class="actions btn-group">
        <%= f.submit "Log in", class: "btn btn-danger" %>
        <%= link_to "Sign up", new_registration_path(resource_name), class: "btn btn-info" %><br />
      </div>
    <% end %>
    <hr class="hrlogin">
    <%= link_to "Forgot your password?", new_password_path(resource_name), class: "btn btn-success" %>    
  </div>
</div>