<table class="table justify-content-md-center mb-3">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Tweets</th>
      <th>Followings</th>
      <th>Followers</th>
      <th>likes</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.name %></td>
        <td><%= user.tweets.count %></td>
        <td><%= user.followings.count %></td>
        <td><%= user.followers_count %></td>
        <td><%= user.likes_count %></td>
      </tr>
    <% end %>
  </tbody>
</table>
