<div class="container">
  <h2>Users</h2>
  <div>
    <%=link_to "Tweets", admin_tweets_path%> |
    <%=link_to "Users", admin_users_path%>
  </div>
  <br>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Tweet</th>
        <th>Following</th>
        <th>Follower</th>
        <th>Like</th>
      </tr>
    </thead>

    <% i = 0 %>
    <% @users.each do |user| %>
    <tr>
      <% i = i+1 %>
      <td><%= i %></td>
      <td><%= link_to user.name,tweets_user_path(user) %></td>
      <td><%= link_to "#{user.tweets.count}",tweets_user_path(user) %></td>
      <td><%= link_to "#{user.followships.count}", followings_user_path(user) %></td>
      <td><%= link_to "#{user.followers_count}", followers_user_path(user) %></td>
      <td><%= link_to "#{user.likes_count}", likes_user_path(user) %></td>
    </tr>
    <% end %>
  </table>
</div>