<div class="container">
  <div class="row">
    <h1>使用者清單</h1>

    <div>
      <%= link_to '所有推播', admin_tweets_path %>
    <span> | </span>
      <%= link_to '使用者清單', admin_users_path %>
    </div>
   
   <div>
    <% @users.each do |user| %>
    <div class="panel-tweet panel panel-default">
      <%= user.name %><br>
      推播數：<%= user.tweets.count %>
      關注人數：<%= user.followships.count %>
      跟隨者人數：<%= user.followers.count %>
      like過的推播數：<%= user.likes.count %>     
    </div>
    <% end %>
   </div> 
  </div>
</div>

