<div class="container">
  <ul class="nav nav-pills nav-admin">
    <li role="presentation"><%= link_to "所有推播與回覆", admin_tweets_path %></li>
    <li role="presentation" class="active"><%= link_to "使用者清單", admin_users_path %></li>
  </ul>
  <table class="table">
    <thead>
      <tr>
        <th>使用者名稱</th>
        <th>推播數量</th>
        <th>關注人數</th>
        <th>追蹤者人數</th>
        <th>喜愛的推播數</th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= link_to user.name, tweets_user_path(user) %></td>
          <td><%= user.tweets.length %></td>
          <td><%= user.followings.length %></td>
          <td><%= user.followers.length %></td>
          <td><%= user.likes_count %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>