<h1>歡迎來到管理區</h1>
<div class="container">
  <div class="row">
    <ul class="nav nav-tabs">
      <li role="presentation">
        <%= link_to '所有的推特', admin_root_path %>
      </li>
      <li role="presentation" class="active">
        <%= link_to '所有的使用者', admin_users_path %>
      </li>
    </ul>
  </div>
</div>

<div class="container">
  <div class="row">
    <table>
      <tr>
        <th>#</th>
        <th>Avatar</th>
        <th>Name</th>
        <th>Admin</th>
        <th>Tweets Count</th>
        <th>Followings Count</th>
        <th>Followers Count</th>
        <th>Likes Count</th>
      </tr>
      
      <% @users.each do |user| %>
        <tr>
          <td><%= user.id %></td>
          <td><%= image_tag(user.avatar, height: '32', width: '32') %></td>
          <td><%= user.name %></td>
          <td>
            <% if user.admin? %>
              <%= image_tag('admin-logo', height: '32', width: '32') %>
            <% end %>
          </td>
          <td><%= "Tweet(#{Tweet.where(:user_id => user).length})" %></td>
          <td><%= "Following(#{Followship.where(:user_id => user).length})" %></td>
          <td><%= "Follower(#{Followship.where(:following_id => user).length})" %></td>
          <td><%= "Like(#{Tweet.where(:user_id => user).pluck(:likes_count).sum})" %></td>
        </tr>
      <% end %>      
    </table>
  </div>
</div>