<h1>歡迎來到管理區</h1>
<div class="container">
  <div class="row">
    <ul class="nav nav-tabs">
      <li role="presentation">
        <%= link_to '所有的推特', admin_root_path %>
      </li>
      <li role="presentation" class="active">
        <%= link_to '所有的使用者', admin_users_path %>
      </li>
    </ul>
  </div>
</div>

<% @users.each do |user| %>
  <div class="col-sm-6 col-md-4 all-tweets">
    <div class="single-tweet">
      <%= image_tag(user.avatar, height: '32', width: '32') %>
        <p>
          <%= user.name %>
          <em>
            <% if user.admin? %>
              <li>
                <%= image_tag('admin-logo', width: '50px') %>
              </li>
            <% end %>
          </em>
        </p>
        <p>Introduction:</p>
        <p><%= user.introduction %></p>
        <br>
        <p><%= "Tweet(#{Tweet.where(:user_id => user).length})" %></p>
        <br>
        <p><%= "Following(#{Followship.where(:user_id => user).length})" %></p>
        <br>
        <p><%= "Follower(#{Followship.where(:following_id => user).length})" %></p>
        <br>
        <p><%= "Like()" %></p>
        <hr>
    </div>
  </div>
  <% end %>