<h2>餐廳後台</h2>

<ul class="nav nav-tabs">
  <li role="presentation" class=<%= "active" if current_page? admin_tweets_path %>>
    <%= link_to "Tweets", admin_tweets_path %>
  </li>
  <li role="presentation" class=<%= "active" if current_page? admin_users_path %>>
    <%= link_to "Users", admin_users_path %>
  </li>
</ul>

<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Tweets</th>
      <th>Followings</th>
      <th>Followers</th>
      <th>likes</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.name %></td>
        <td><%= user.tweets.count %></td>
        <td><%= user.followings.count %></td>
        <td><%= user.followers.count %></td>
        <td><%= user.likes.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>