<div class="container">
  <h1>Admin Panel</h1>
  <div class="row">
    <!-- 使用 Bootstrap components 的 Nav Tabs -->
    <!-- https://getbootstrap.com/docs/3.3/components/#nav-tabs -->
    <ul class="nav nav-tabs">
      <li role="presentation">
        <%= link_to '推播管理', admin_tweets_path %>
      </li>
      <li role="presentation" class="active">
        <%= link_to '使用者管理', admin_users_path %>
      </li>
    </ul>

  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">

      <div class="page-header">
        <h1>推播王 <small>(推播數排名)</small></h1>
      </div>
 
      <% @users.each do |user| %>
         <!-- ranking-item的class style-->
        <div class="ranking-item">
          <div class="col-xs-3 col-md-3">
            <%= link_to tweets_user_path(user) do %>
              <%= image_tag user.avatar, class: "img-responsive img-rounded" %>
            <% end %>
          </div>

          <div class="col-md-9">
            <h4>
              <%= link_to tweets_user_path(user) do %>
                <%= user.name %>
              <% end %>
              <span class="label label-default">推播數：<%= user.tweets_count %></span>
              <% if user.admin? %>
                <span class="label label-info"><%= Admin %></span>
              <% else %>
                <span class="label label-warning"><%= link_to "Delete", admin_user_path(user), method: :delete, data: {confirm: "Are you sure?"} %></span>
              <% end %>
            </h4>
            <div>
              <p><%= user.introduction %></p>
              
              <ul class="list-unstyled list-inline">
                <li><strong>
                  <%= link_to tweets_user_path(user) do %>
                    推播數： <%= user.tweets.size %>
                  <% end %>
                </strong></li>
                <li><strong>
                  <%= link_to followings_user_path(user) do %>
                    追蹤中： <%= user.followings.size %>
                  <% end %>
                </strong></li>
                <li><strong>
                  <%= link_to followers_user_path(user) do %>
                    粉絲人數： <%= user.followers.size %>
                  <% end %>
                </strong></li>
                <li><strong>
                  <%= link_to likes_user_path(user) do %>
                    按讚數： <%= user.likes.size %>
                  <% end %>
                </strong></li>
              </ul>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
      <% end %>

    </div>
  </div>
</div>