<div class="container">
   <div class="row">


     <ul class="nav nav-tabs">
        <li role="presentation" class="active">
         <%= link_to 'Tweet', admin_tweets_path %>
       </li>
        <li role="presentation">
         <%= link_to 'User List', admin_users_path %>
       </li>

     </ul>

   </div>
 </div>

 <br>
 <div class="container">
   <div class="row">


<table class="table table-bordered">
         <thead>
           <tr>
             <th>ID</th>

             <th>Name</th>
             <th>Tweets</th>
             <th>Followings</th>
             <th>Followers</th>
             <th>Replies</th>
             <th>Likes</th>

           </tr>
         </thead>
         <tbody>
           <% @users.each do |user| %>
           <tr>
             <th scope="row"><%= user.id %></th>

             <td><%= user.name %></td>

             <td><%= user.tweets.count %></td>
             <td><%= user.followings.count %></td>
             <td><%= user.followers.count %></td>
             <td><%= user.replies.count %></td>
             <td><%= user.likes.count %></td>




             </td>
           </tr>
           <% end %>
         </tbody>
       </table>

       <%= paginate @users %>

          </div>
        </div>
