<div class="col-md-12">
  <ul class="nav nav-tabs">
    <li role="presentation"><%= link_to "Tweets", admin_tweets_path %></li>
    <li role="presentation" class="active"><%= link_to "Users", admin_users_path %></li>
  </ul>
  <br/>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Tweet Count</th>
        <th>Following Count</th>
        <th>Follower Count</th>
        <th>Like Count</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= link_to user.name, tweets_user_path(user) %></td>
          <td><%= user.tweets.count %></td>
          <td><%= user.followings.count %></td>
          <td><%= user.followers_count %></td>
          <td><%= user.likes_count %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>