<!-- admin: user index -->
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <ul class="nav nav-tabs">
        <li role="presentation"><%= link_to "Tweets", admin_tweets_path %></li>
        <li role="presentation" class="active"><%= link_to "User", admin_users_path %></li>
      </ul>

      <br>

      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>#</th>
            <th>User</th>
            <th>Tweets</th>
            <th>Followers</th>
            <th>Followings</th>
            <th>Likes</th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
          <tr>
            <th scope="row"><%= user.id %></th>
            <td><%= link_to user.name, tweets_user_path(user) %></td>
            <td><%= link_to user.tweets_count, tweets_user_path(user) %></td>
            <td><%= link_to user.followers_count, followers_user_path(user) %></td>
            <td><%= link_to user.followings_count, followings_user_path(user) %></td>
            <td><%= link_to user.likes_count, likes_user_path(user) %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>