<div class="container">
  <div class="row">

  <h1>TWEET後台</h1>
  
    <!-- 使用 Bootstrap components 的 Nav Tabs -->
    <!-- https://getbootstrap.com/docs/3.3/components/#nav-tabs -->
    <ul class="nav nav-tabs">
      <li role="presentation" >
         <%= link_to 'Tweets', admin_tweets_path %> 
      </li>
      <li role="presentation" class="active">
        <%= link_to 'Users', admin_users_path %>
      </li>
     
    </ul>

  </div>
</div>


<br>
<div class="container">
  <div class="row">
  <% @users.each do |user| %>
      <div class="col-md-3 col-sm-4 col-xs-6 text-center user-item">

        <%= link_to tweets_user_path(user) do %>
          <!-- 可先利用 Placeholder 如 <img src="http://via.placeholder.com/128x128"> 產生圖片 -->
          <%= image_tag(user.avatar, class: "img-rounded") %>
          <h4><%= user.name %></h4>
        <% end %>
      </div>
<% end %>
  </div>
</div>


