<div class="container">
  <h1>後台</h1>
  <div>
    <%= link_to 'Tweet', admin_root_path %>
    <%= link_to 'User', admin_users_path%>
  </div>

  <div class="row">

    <div class="col-md-12">
      
      <table class="table table-striped table-bordered table-hover ">
        <thead >
          <tr>
            <th>#</th>
            <th>user</th>
            <th>Active </th>            
          </tr>
        </thead>
        <tbody>
        <% @users.each do |user|%>
            <tr>
              <th scope="row"><%= user.id %></th>
              <td><%= user.name%></td>
              <td>
                <strong><%= "Tweets:#{user.tweets.count}"%></strong>
                <strong><%= "Followings:#{user.followings.count}"%></strong> 
                <strong><%= "Followers:#{user.followers.count}"%></strong> 
                <strong><%= "likes:#{user.likes.count}"%></strong>  
              </td>
            </tr>  
        <% end %>  
        </tbody>
      </table>
    </div>

  </div>  

</div>