<div class="container admin_users_index">
  <ul class="nav nav-pills">
    <li class="nav-item">
      <%= link_to "Tweet's edit", admin_tweets_path, class: "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to "User's edit", admin_users_path, class: "nav-link active" %>
    </li>
  </ul>
  <div class="row">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">id</th>
          <th scope="col">Name</th>
          <th scope="col">Tweet</th>
          <th scope="col">Reply</th>
          <th scope="col">Like</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr  id="user-<%= user.id %>">
            <th scope="row"><%= user.id %></th>
            <td><%= user.name %></td>
            <th><%= user.tweets.count %></th>
            <td><%= user.replies.count %></td>
            <td><%= user.likes_count %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>