<h1>Back End: users</h1>
<%= link_to 'To back end root', admin_tweets_path %>

<div class="row">
  <div class="col-xs-12">
    <div class="col-xs-3">Avatar</div>
    <div class="col-xs-2">Tweets</div>
    <div class="col-xs-2">Followings</div>
    <div class="col-xs-2">Followers</div>
    <div class="col-xs-2">Tweet likes</div>
  </div>
</div>
<% @users.each do |user| %>
  <div class="row">
    <div class="col-xs-12">
      <div class="col-xs-3">
        <div class="avatar"><%= image_tag(user.avatar, class: "img-responsive center-block") %></div>
        <p><%= link_to user.name, tweets_user_path(user)  %></p>
      </div>
      <div class="col-xs-2"><%= link_to user.tweets_count, tweets_user_path(user) %></div>
      <div class="col-xs-2"><%= link_to user.followings_count, followings_user_path(user) %></div>
      <div class="col-xs-2"><%= link_to user.followers_count, followers_user_path(user) %></div>
      <div class="col-xs-2"><%= link_to user.tweets.joins(:likes).count, tweets_user_path(user) %></div>
    </div>
  </div>
<% end %>