<div class="admin-user">
<h1>BACKEND_<%= link_to "Tweets", admin_root_path %> | Users </h1>
  <div class="table-responsive"> 
    <table class="table table-hover">
      <thead>
        <tr>
          <th>User name</th>
          <th>tweets</th>
          <th>followeings</th>
          <th>followers</th>
          <th>likes</th>
        </tr>
      </thead>
      <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.name %></td>
          <td>tweet:<%= user.tweets.size %></td>
          <td>following:<%= user.followings.size %></td>
          <td>follower:<%= user.followers_count %></td>
          <td>like:<%= user.likes_count %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>