<div class="container">

  <ul class = "nav nav-tabs">
    <li role="presentation"><%=link_to "Tweets", admin_tweets_path %></li>
    <li role="presentation" class= "active"><%= link_to "Users", admin_users_path %></li>
  </ul>
  <br>
    <% @users.each do |user| %>
    <div class="user-profile">
      <div class="avatar">
        <%= image_tag user.avatar, class: "img-responsive img-rounded" %>
      </div>
      <div class="user-intro">
        <h5><%= user.name %></h5>
        <p><%= truncate(user.introduction, length: 80) %></p>
      </div>
    </div>
    <div class="clearfix"></div>
  <% end %>


</div>