<div class="container">
  <h1>Back-End Users Table</h1>
  <br>
  <div>
    <%= link_to 'Tweets', admin_tweets_path %> |
    <%= link_to 'Users', admin_users_path %>
  </div>
  <ul>
    <h3>Users</h3>
    <% @users.each do |user| %>
      <%= user.name %><!-- 使用者依推文數排序，在 controller 處理 -->
      <%= user.introduction %>
      <h5>Tweets : <%= user.tweets.count %></h5>
      <h5>Following : <%= user.followings.count %></h5>
      <h5>Follower : <%= user.followers_count %></h5>
      <h5>Like : <%= user.tweets.count %></h5>
      <hr>
    <% end %>
  </ul>
</div>
