<div class="container">
  <h1>Admin Panel</h1>
  <div class="row">
    <!-- 使用 Bootstrap components 的 Nav Tabs -->
    <!-- https://getbootstrap.com/docs/3.3/components/#nav-tabs -->
    <ul class="nav nav-tabs">
      <li role="presentation">
        <%= link_to '推播管理', admin_tweets_path %>
      </li>
      <li role="presentation" class="active">
        <%= link_to '使用者管理', admin_users_path %>
      </li>
    </ul>

  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">

      <div class="page-header">
        <h1>推播王 <small>(推播數最高)</small></h1>
      </div>

      <% @users.each do |user| %>
         <!-- ranking-item的class style-->
        <div class="ranking-item">
          <div class="col-md-3">
            <%= link_to tweets_user_path(user) do %>
              <%= image_tag user.avatar, class: "img-responsive img-rounded" %>
            <% end %>
          </div>

          <div class="col-md-9">
            <h4>
              <%= link_to tweets_user_path(user) do %>
                <%= user.name %>
              <% end %>
              <span class="label label-default">推播數：<%= user.tweets_count %></span>
            </h4>
            <div>
              <%= render partial: "shared/user_dashboard", locals: {user: user} %>
            </div>
          </div>
          <div class="clearfix"></div>
          <br>
        </div>
      <% end %>

    </div>
  </div>
</div>