<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->      
    <div class="navbar-header">
      <a class="navbar-brand stnavbar-logo" href="/">LOGO</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right stnavbar-menu">
        <% if current_user %>
          <% if current_user.admin? %>
            <%if params[:controller] == "admin/tweets" %>
              <li>
                <%= link_to('瀏覽前台', root_path) %>
              </li>
            <% else %>
              <li>
                <%= link_to('管理後台', admin_tweets_path) %>
              </li>
            <% end %>
          <% end %>               
          <li class="nav-profile">
            <%= link_to tweets_user_path(current_user) do %>
            <%= image_tag current_user.avatar, class: "nav-img" if current_user.avatar? %>
            <% end %>
          </li>
          <li class="stnavbar-logout"> <%= link_to('Logout', destroy_user_session_path, method: :delete) %> <!-- 也可以改成 :method => :delete --></li>
        <% else %>
          <li><%= link_to('註冊', new_user_registration_path) %></li>
          <li><%= link_to('登入', new_user_session_path) %></li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<% if notice %>
<div class="alert alert-success" style="font-size: 20px;"><%= notice %></div>
<% end %>
<% if alert %>
<div class="alert alert-warning" style="font-size: 20px;"><%= alert %></div>
<% end %>
