<div class="container">
  <div class="row">
    <h3><%= @tweet.user.name %></h3>
    <p class="text-muted"><%= time_tag(@tweet.created_at) %></p>
    <p><%= @tweet.description %></p>

    <br />

    <table class="table table-striped table-bordered">

      <tr>
        <th>Name</th>
        <th>Time</th>
        <th>Replies</th>
        <th></th>
      </tr>

      <% @replies.each do |reply| %>
        <tr>
          <td><b><%= reply.user.name %></b></td>
          <td><p class="text-muted"><em><%= time_tag(reply.created_at) %></em></p></td>
          <td><p><%= simple_format reply.comment %></p></td>
          <td><%= link_to 'Delete', admin_tweet_reply_path(@tweet, reply), method: :delete, data: {confirm: "Are you sure?"} %></td>
        </tr>
      <% end %>

    </table>

    <%= link_to 'Back', admin_root_path %>

    <br />

  </div>
</div>