<!DOCTYPE html>
<html>
  <head>
    <title>SimpleTwitter</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="pull-right text-right nav navbar-nav">
        <% if current_user %>
          <% if current_user&.admin? %>
            <li><%= link_to 'Admin Panel', admin_tweets_path %></li>
          <% end %>
          <li><p class="navbar-text">Hi, <%= current_user.email %></p></li>
          <li><%= link_to('登出', destroy_user_session_path, method: :delete) %></li>
          <li><%= link_to('修改個人資料', edit_user_path(current_user)) %></li>
          <li><%= link_to('修改密碼', edit_user_registration_path) %></li>
        <% else %>
          <li><%= link_to('註冊', new_user_registration_path) %></li>
          <li><%= link_to('登入', new_user_session_path) %></li>
        <% end %>
      </ul>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>   
  </body>
</html>
