<!DOCTYPE html>
<html>
  <head>
    <title>SimpleTwitter</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
  </head>


		<!-- 導覽列start -->

<nav class="navbar navbar-expand-lg navbar-light " style="background-color: #B1D2DE">
					<%= link_to ' LOGO '.html_safe, root_path, class: "navbar-brand ml-4" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="nav navbar-nav  ml-auto float-left">
            <% if current_user %>
                <%= link_to tweets_user_path(current_user) do %>
                <% if current_user.avatar? %>
            <%=  image_tag current_user.avatar,  width: '50px' ,class: "img-thumbnail img-fluid mb-3 " %>
                <% else %>
             <i class="fas fa-user fa-2x img-thumbnail nav-link" ></i>
                <% end %>
            <% end %>
      						<% if current_user %>
					<!-- <li><%= link_to'Profile', tweets_user_path(current_user) %></li> -->
						<li class="navbar-text"> &nbsp; Hi, <%= current_user.email  %></li>
						<li class="nav-item"><%= link_to('登出', destroy_user_session_path, method: :delete,class:"nav-link") %></li>      
              <% if current_user.admin? %>
                <li class="nav-item"><%= link_to '<i class="fa fa-user-plus" aria-hidden="true"></i> Admin後台'.html_safe, admin_tweets_path,class:"nav-link" %></li>
               <% end %>
						  <% else %>
						<li class="nav-item"><%= link_to('登入', new_user_session_path ,class:"nav-link") %></li>
						<% end %>
                <% end %>
					</ul>
		</div>
</nav>

		<!-- 導覽列end -->

    <!-- flash alert start-->
    <% if flash[:notice] %>
    <div class="container">
      <div class="row">
         <div class="alert alert-success alert-dismissible" role="alert">
           <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
           <%= notice %>
         </div>
      </div>
    </div>
    <% end %>

    <% if flash[:alert] %>
    <div class="container">
      <div class="row">
          <div class="alert alert-danger alert-dismissible" role="alert">
           <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
           <%= alert %>
          </div>
      </div>
    </div>
    <% end %>
<!-- flash alert end-->

  <body>
    <%= yield %>
  </body>
</html>
 