<!DOCTYPE html>
<html>
  <head>
    <title>SimpleTwitter</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- Navbar -->
    <nav class="navbar-fixed-top my-nav navbar navbar-default">
      <div class="container" id="nav-container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="glyphicon glyphicon-menu-hamburger"></span>
          </button>
          <a class="navbar-brand" href="/">Tweeter</a>
        </div>

        <div class="collapse navbar-collapse" id="navbar-collapse-1">
          <ul class="pull-right nav navbar-nav">
            <% if current_user %>
              <li class="non-hover">
                  <a class="nav-text">
                    <%= current_user.email %>
                    <%= "(Admin)" if current_user.role == 'admin' %>
                  </a>
              </li>
              <li>
                <%= link_to('修改密碼', edit_user_registration_path) %>
              </li>
              <li>
                <%= link_to('登出', destroy_user_session_path, method: :delete) %>
              </li>
            <% else %>
              <li><%= link_to('註冊', new_user_registration_path) %></li>
              <li><%= link_to('登入', new_user_session_path) %></li>
            <% end %><!-- if current_user -->
          </ul>
        </div>
      </div>
    </nav>
    
    <div class="container">
      <%= render partial: "shared/alert" %>
      <%= yield %>
    </div>
  </body>
</html>
