<!DOCTYPE html>
<html>
  <head>
    <title>SimpleTwitter</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= filestack_js_include_tag %>
    <%= filestack_js_init_tag %> 
  </head>

  <body style: "padding-top: 50px;">
    <%= render "common/navbar" %>
    <div id="content">
      <%= yield %>
      <%= render "common/footer" %>
    </div>
  </body>
</html>
