<!DOCTYPE html>
<html>
  <head>
    <title>SimpleTwitter</title>
    <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
      <%= link_to('Simple Twitter', tweets_path, {class: "navbar-brand", style:"font-family: 'Permanent Marker', cursive; font-size: 30px;"}) %>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <% if current_user %>
            <li class="nav-item"><p class="navbar-text">Hi, <%= current_user.name %></p></li>
            <li class="nav-item"><%= link_to('登出', destroy_user_session_path, {method: :delete, class: "nav-link"}) %></li>
            <li class="nav-item"><%= link_to('修改個人資料', edit_user_registration_path(current_user), {class: "nav-link"}) %></li>
            <% if current_user&.admin? %>
              <li class="nav-item"><%= link_to 'Admin Panel', admin_tweets_path, {class: "nav-link"} %></li>
            <% end %>
          <% else %>
            <li class="nav-item"><%= link_to('註冊', new_user_registration_path, {class: "nav-link"}) %></li>
            <li class="nav-item"><%= link_to('登入', new_user_session_path, {class: "nav-link"}) %></li>
          <% end %>
        </ul>
      </div>
    </nav>

    <div class="container">
      <% if flash[:notice] %>
        <div class="container">
            <div class="row">
                <div class="alert alert-success alert-dismissible" role="alert">
                    <div class="alert_mes"><%= notice %></div>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
            </div>
        </div>
      <% end %>
    
      <% if flash[:alert] %>
      <div class="container">
          <div class="row">
              <div class="alert alert-danger alert-dismissible" role="alert">
                  <div class="alert_mes"><%= alert %></div>
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              </div>
          </div>
      </div>
      <% end %>
      
      <%= yield %>

    </div>
  </body>
</html>
