<!DOCTYPE html>
<html>
  <head>
    <title>SimpleTwitter</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="header">
      <div class="container">
        <nav>
          <div id="logo">
            <%= link_to tweets_path do %>
              <%= image_tag("logo.png") %><!-- app/assets/images/logo.png -->
            <% end %>
          </div>

          <ul class="nav">
            <li><!-- 頭像連結個人頁面 -->
              <% if current_user %>
                <%= link_to tweets_user_path(current_user) do %>
                  <%= image_tag current_user.avatar, height: 50, width: 50 if current_user.avatar? %>
                <% end %>
              <% end %>
            </li>

            <li><!-- 管理者登入顯示後台連結 -->
              <% if current_user && current_user.admin? %>
                <%= link_to admin_root_path(current_user) do %>
                  <%= "Back-End" %> <i class="fa fa-users"></i>
                <% end %>
              <% end %>              
            </li>

            <li><!-- devise -->
              <% if current_user %>
                <%= link_to destroy_user_session_path, method: :delete do %>
                  <%= "Logout" %> <i class="fa fa-sign-out"></i>
                <% end %>
              <% else %>
                 <%= link_to 'Change Password', edit_user_registration_path %>
              <% end %>
            </li>
          </ul>

        </nav>

      </div>
    </div>



    <!-- Alert -->
    <div class="container">
      <% if notice %>
        <div class="alert alert-success alert-dismissible text-center" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><p aria-hidden="true">&times;</p></button>
          <%= notice %>
        </div>
      <% end %>
      <% if alert %>
        <div class="alert alert-danger alert-dismissible text-center" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <%= alert %>
        </div>
      <% end %>
    </div>
    <br>
    
    <%= yield %>
  </body>
</html>
