<!DOCTYPE html>
<html>
  <head>
    <title>SimpleTwitter</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body id="body">
    <div class="container-fluid header_bar">
        <ul class="list-inline">
            <li class="list-inline-item offset-lg-1">
              <%= link_to "Logo", root_path %>
            </li>
            <% if current_user %>
              <li class="list-inline-item offset-lg-8">
                <%= link_to(tweets_user_path(current_user)) do %>
                  <%= image_tag current_user.avatar.url,width:"35" %>
                <% end %>
              </li>
              <li class="list-inline-item"><%= link_to('登出', destroy_user_session_path, method: :delete) %></li>
            <% else %>
              <li class="list-inline-item offset-lg-8"><%= link_to('註冊', new_user_registration_path) %></li>
              <li class="list-inline-item"><%= link_to('登入', new_user_session_path) %></li>
            <% end %>
        </ul>
        
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
    </div>
      
    <%= yield %>

    <div class="footer">
      <h6>
        copy by HuangYuDi
        <% if current_user&.admin? %>
          <span><%= link_to 'Admin is from here', admin_tweets_path %></span>
        <% end %>
      </h6>
    </div>

  </body>
</html>
