<!DOCTYPE html>
<html>
  <head>
    <title>SimpleTwitter</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <%= link_to "LOGO", root_path %>
        </div>
        <div class="navbar-body">
          <ul class="nav navbar-nav pull-right">
            <% if current_user %>
              <% if current_user&.admin? %>
                <li><%= link_to 'Admin Panel', admin_tweets_path %></li>
              <% end %>
                <li class="nav-item">
                  <span class="navbar-text">
                    <%= image_tag current_user.avatar, size: "50" if current_user.avatar? %>
                    Hi! <%= link_to current_user.name, tweets_user_path(current_user)  %>
                    &nbsp;
                  </span>
                </li>

                <li class="nav-item">
                  <%= link_to('登出', destroy_user_session_path, method: :delete) %>
                </li>
            <% else %>
                <li class="nav-item">
                  <%= link_to('註冊', new_user_registration_path) %>
                </li>
                <li class="nav-item">
                  <%= link_to('登入', new_user_session_path) %>
                </li>
            <% end %>
          </ul>
        </div>
      </div>

        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        <%= yield %>
    </body>
</html>
