<!DOCTYPE html>
<html>
  <head>
    <title>SimpleTwitter</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  </head>

  <body>
    <% if current_user %>
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">TWITTER</a>
          </div>
      
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <% if current_user.admin? %>
              <ul class="nav navbar-nav">
                <li><%= link_to 'Admin Panel', admin_root_path %></li>
              </ul>
            <% end %>
        
            <div class="nav navbar-nav navbar-right">
              <%= link_to tweets_user_path(current_user), class: "nav-avatar" do %>
                <% for img_id in 0..26 %>
                  <% if image_path(current_user.avatar).include?('/user'+img_id.to_s+'.jpg') %>
                    <%= image_tag('/avatar/user'+img_id.to_s+'.jpg') %>
                  <% end %>
                <% end %>
              <% end %>
              <%= link_to('登出', destroy_user_session_path, method: :delete, class: "nav-a") %>
              <p>|</p>
              <%= link_to('修改密碼', edit_user_registration_path, class: "nav-a") %>
            </div>
          </div>
        </div>
      </nav>
    <% else %>
      <%= link_to('註冊', new_user_registration_path) %> |
      <%= link_to('登入', new_user_session_path) %>
    <% end %>
    <% if notice %>
      <div class="alert remind fade in">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
        <p><%= notice %></p>
      </div>
    <% elsif alert %>
      <div class="alert remind fade in">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
        <p><%= alert %></p>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
