<!DOCTYPE html>
<html>
  <head>
    <title>SimpleTwitter</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default navbar-style">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">
            <span class="glyphicon glyphicon-home"></span>
          </a>
          <% if current_user %>
            <% if current_user.admin? %>
              <%= link_to admin_root_path do %>
                <button class="btn btn-default">Admin Panel</button>
              <% end %>
            <% end %>
          <% end %>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <% if current_user %>
              <li>
                <%= link_to tweets_user_path(current_user), id: "avatar" do %>
                  <%= image_tag user_avatar(current_user) %>
                <% end %>
              </li>
              <li><%= link_to('Log out', destroy_user_session_path, method: :delete, class: "navbar-text") %></li>
            <% else %>
              <li><%= link_to('Sign up', new_user_registration_path, class: "navbar-text") %></li>
              <li><%= link_to('Log in', new_user_session_path, class: "navbar-text") %></li>
            <% end %>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <div class="container-fluid" id="background">
      <% if flash[:notice] %>
        <div class="alert alert-info" role="alert">
          <p class="notice"><%= notice %></p>
        </div>
      <% elsif flash[:alert] %>
        <div class="alert alert-danger" role="alert">
          <p class="alert"><%= alert %></p>
        </div>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
