<!DOCTYPE html>
<html>
  <head>
    <title>SimpleTwitter</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


  <body>
    <nav class="navbar navbar-default navbar-fixed-top ">
      <div class="container-fluid">
        <div class="navbar-header">
            <%= link_to "ALPHACAMP Twitter",root_path,class:"navbar-brand" %>
        </div>

        <ul class="nav navbar-nav navbar-left">
          <% if current_user %>
           <% if current_user&.admin? %>
             <li class="active"><%= link_to('後台', admin_root_path) %></li>
            <li ><%= link_to('前台', root_path) %></li>
          <% end %>
          <% end %> 
        </ul>

        <ul class="nav navbar-nav navbar-right"> 
          <% if current_user %>
            <li><p class="navbar-text"> Hi, <%= current_user.name %> <p></li>
              <%#= link_to user_path(current_user) do %>  
              <%# end %>
             
            <li><%= link_to tweets_user_path(current_user) do %>
              <span class="glyphicon glyphicon-user"></span> 使用者
            <% end %> 
            </li>

            <li><%= link_to destroy_user_session_path, method: :delete do%>
             <span class="glyphicon glyphicon-log-out"></span> 登出
            <% end %> 
            </li> 

            <li><%= link_to edit_user_registration_path do %>
              <span class="glyphicon glyphicon-pencil"></span> 修改密碼
              <% end %>
            </li>
           <% else %>
            <li><%= link_to new_user_registration_path do %>
              <span class="glyphicon glyphicon-registration-mark"></span> 註冊
              <% end %>
            </li>

            <li><%= link_to new_user_session_path do %>
              <span class="glyphicon glyphicon-log-in"></span> 登入
             <% end %>
            </li>
          <% end %>
        </ul>

      </div>
    </nav>
    
    <% if flash[:notice] %>
    <div class="container-fluid flash-remind">
      <div class="row">
        <div class="alert alert-success alert-dismissible text-center" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <%= notice %>
        </div>      
      </div>
    </div>
    <% end %>

    <% if flash[:alert] %>
    <div class="container-fluid flash-remind">
      <div class="row">
        <div class="alert alert-danger alert-dismissible text-center" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <%= alert %>
        </div>
      </div>
    </div>
    <% end %>

    <%= yield %>
  </body>
</html>
