<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SimpleTwitter</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header id="header">
      <div class="container">
        <nav>
          <div id="logo">
            <%= link_to root_path do %>
              <%= fa_icon 'twitter 2x' %>
            <% end %>
          </div>
          <ul id="menu">
            <% if current_user&.admin? %>
              <li><%= link_to 'Admin Panel', admin_tweets_path, class: "logout-btn" %></li>
            <% end %>
            <% if current_user %>
              <li class="avatar-xs">
                <%= link_to tweets_user_path(current_user) do %>
                  <%= image_tag(current_user.avatar, class: "img-circle") %>
                <% end %>
              </li>
              <li><%= link_to 'Logout', destroy_user_session_path, method: :delete, class: "logout-btn" %></li>
            <% else %>
              <li><%= link_to('Sign up', new_user_registration_path) %></li>
              <li><%= link_to('Sign in', new_user_session_path) %></li>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>
    <div id="content">
      <div class="alert-row">
        <% if flash[:notice] %>
          <div class="notice alert alert-success" role="alert">
            <div class="container">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">&times;</button>
              <%= flash[:notice] %>
            </div>
        <% elsif flash[:alert] %> 
          <div class="alert alert-danger" role="alert">
            <div class="container">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">&times;</button>
              <%= flash[:alert] %>
            </div>
        <% end %>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
