<!DOCTYPE html>
<html>
  <head>
    <title>SimpleTwitter</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Twitter</a>
        </div>
        <div class="navbar-right">
          <% if current_user %>
            <a class="navbar-brand">Hi, <%= current_user.name %></a>
            <div class="nav navbar-nav">
              <% if current_user&.admin?%>
                <% if current_page?(tweets_path)%>
                  <li class="nav-item"><%= link_to '管理後台', admin_tweets_path, :class => 'nav-link'%></li>
                <% elsif current_page?(admin_tweets_path) %>
                  <li class="nav-item"><%= link_to '管理前台', tweets_path, :class => 'nav-link'%></li>
                <% end %>
              <% end %>
              <li><%= link_to 'Profile', tweets_user_path(current_user) %></li>
              <li class="nav-item"><%= link_to('Log out', destroy_user_session_path, method: :delete, :class => 'nav-link') %>
              </li>
            </div>
          <% else %>
            <li><%= link_to('註冊', new_user_registration_path) %></li>
            <li><%= link_to('登入', new_user_session_path) %></li>
          <% end %>
        </div>
      </div>
    </nav>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
