<!DOCTYPE html>
<html>
  <head>
    <title>SimpleTwitter</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <ul class="nav navbar-nav nav-right">
          <li><%= link_to "Simple Tweeter", root_path%></li>
          <% if current_user %>
            <li><%= link_to (image_tag current_user.avatar, width:'75px'), tweets_user_path(current_user)%></li>
            <% if current_user&.admin?%>
              <% if current_page?(root_path)%>
                <li class="nav-item"><%= link_to '管理後台', admin_tweets_path, :class => 'nav-link'%></li>
              <% elsif current_page?(admin_tweets_path) %>
                <li class="nav-item"><%= link_to '管理前台', root_path, :class => 'nav-link'%></li>
              <% end %>
            <% end %>
            <li class="nav-item"><%= link_to('登出', destroy_user_session_path, method: :delete, :class => 'nav-link') %></li>
          <% else %>
            <li class="nav-item"><%= link_to('註冊', new_user_registration_path, :class => 'nav-link') %></li>
            <li class="nav-item"><%= link_to('登入', new_user_session_path, :class => 'nav-link') %></li>
          <% end %>
        </ul>
      </div>
      
    </nav>
    
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
