<!DOCTYPE html>
<html>
  <head>
    <title>SimpleTwitter</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="header">
      <div class="container">

        <div class="float-left">
          <h1>Logo</h1><!-- 待引入圖片 -->
        </div>

        <div class="avatar"><!-- 待傳入變數，插入 current_user.avatar --></div>

        <div class="float-right">
          <% if current_user %>
             <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
           <% else %>
             <%= link_to('註冊', new_user_registration_path) %> |
             <%= link_to('登入', new_user_session_path) %> |
             <%= link_to('修改密碼', edit_user_registration_path) %>
          <% end %>
        </div>

      </div>
    </div>



    <!-- Alert -->
    <div class="container">
      <% if notice %>
        <div class="alert alert-success alert-dismissible text-center" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><p aria-hidden="true">&times;</p></button>
          <%= notice %>
        </div>
      <% end %>
      <% if alert %>
        <div class="alert alert-danger alert-dismissible text-center" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <%= alert %>
        </div>
      <% end %>
    </div>
    <br>
    
    <%= yield %>
  </body>
</html>
