<!DOCTYPE html>
<html>
  <head>
    <title>SimpleTwitter</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%#= filestack_js_include_tag %> <!-- 20180328-01 filestack -->
    <%#= filestack_js_init_tag %>    <!-- 20180328-01 filestack -->
  </head>

  <body>
    <nav class="navbar navbar-default " style="background-color: #e3f2fd;">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <%= link_to "Tweet", root_path,  class:  "navbar-brand" %> <!-- <a class="navbar-brand" href="#">Twitter</a> -->
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
           <ul class="pull-right text-right nav navbar-nav">
             <!-- check user -->
             <% if current_user %>
              <% if current_user.admin? %>
                <li><%= link_to 'Admin Panel', admin_root_path %></li>
              <% end %>
              <% if current_user.avatar?%>
                <li>
                  <div class="navbar-user-image">
                    <%= link_to tweets_user_path(current_user) do %>
                      <%= image_tag current_user.avatar %>
                    <% end %>
                  </div>
                </li>
              <% else %>
                <li><p class="navbar-text"><%= link_to current_user.name, tweets_user_path(current_user) %></p></li>
              <% end %>

              <ul class="pull-right text-right nav navbar-nav">
                <li><p class="navbar-text"><%= link_to('Logout', destroy_user_session_path, method: :delete) %></p></li>
              </form>
             <% else %>
              <ul class="pull-right text-right nav navbar-nav">
                <li><p class="navbar-text"><%= link_to('Sign up', new_user_registration_path) %></p></li>
                <li><p class="navbar-text"><%= link_to('Login', new_user_session_path) %></p></li>
              </form>
             <% end %><!-- /.end of check user -->
           </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container -->
    </nav>

    <!-- ==============  alert / notice ============== -->
    <% if notice %>  <!-- /. if flash[:notice] --> <!-- div class="container" -->
      <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <%= notice %>
      </div>
    <% end %>
    <% if alert %> <!-- /. if flash[:alert] --> <!-- div class="container" -->
      <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <%= alert %>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>
