<!DOCTYPE html>
<html>
  <head>
    <title>SimpleTwitter</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="logo"><%= link_to root_path do %>
        <h2>LOGO</h2>
        <% end %></div>
    <ul class="service">
      <% if current_user %>

        <% if current_user&.admin? %>
          <li><%= link_to 'Admin Panel', admin_tweets_path %></li>
        <% end %>

        <li><%= link_to users_tweets_path(current_user) do %>
          <img src="<%= current_user.avatar %>" alt="" width="50px">
          <% end %></li>
        <li><%= link_to('Logout', destroy_user_session_path, method: :delete) %></li>

      <% else %>

        <li><%= link_to('註冊', new_user_registration_path) %></li>
        <li><%= link_to('登入', new_user_session_path) %></li>

      <% end %>
    </ul>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    </header>

    <%= yield %>
    <script>
      var alertNotice=$('.notice, .alert');
      $(alertNotice).delay(3000).fadeOut(500, function(){
        $('html,body').scrollTop(0);
            modal.addClass('is-visible');
        });
    </script>
  </body>
</html>
