<!DOCTYPE html>
<html>
  <head>
    <title>SimpleTwitter</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="text-right bg-primary">
      <ul>
        <% if current_user %>
          <li class="float-left">LOGO</li>
          <li><%= image_tag current_user.avatar, class: "logo rounded"%></li>
          <li><%= link_to('Logout', destroy_user_session_path, method: :delete) %></li>
          <li><%= link_to('Edit Profile', edit_user_path(current_user)) %></li>
          <li><%= link_to('Change Password', edit_user_registration_path) %></li>
            <% if current_user.role == "admin"%>
             <%= link_to "Admin",admin_tweets_path %>
            <%end%>
        <% else %>
          <li><%= link_to('Sign up', new_user_registration_path) %></li>
          <li><%= link_to('Log In', new_user_session_path) %></li>
        <% end %>
      </ul>
    </nav>
    <% if flash[:notice]%>
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <%= notice %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <% elsif flash[:alert]%>   
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <%= alert %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <%end%>
    <div class="container">
      <div class="row">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
