<!DOCTYPE html>
<html>
  <head>
    <title>SimpleTwitter</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar my-nav navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <%= link_to "logo",root_path, class: "navbar-brand" %>
        </div>

         
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="pull-right text-right nav navbar-nav"> 
        <% if current_user %>
          <% if current_user&.admin? %>
          <li><%= link_to 'Admin Panel', admin_tweets_path %></li>
        <% end %>
        <li><%=link_to 'Profile',user_path(current_user) %></li>
        <li><%= link_to('登出', destroy_user_session_path, method: :delete) %></li>
        <li><%= link_to('修改個人資料', edit_user_registration_path(current_user)) %></li>
        <% else %>
        <li><%= link_to('註冊', new_user_registration_path) %></li>
        <li><%= link_to('登入', new_user_session_path) %></li>
        <% end %>
        </ul>
      </div>
    </div>
    </nav>

  <% if flash[:notice] %>
  <div class = "container">
    <div class = "row">
    <div class="alert alert-success alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <%= notice %>
    </div>
    </div>
  </div>
  <% end %>

  <% if flash[:alert] %>
    <div class = "container">
      <div class = "row" >
      <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <%= alert %>
      </div>
      </div>
    </div>
  <% end %>



    <%= yield %>

  </body>
</html>
