<!DOCTYPE html>
<html>
  <head>
    <title>SimpleTwitter</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <ul class="nav navbar-nav navbar-left">
          <h1><%= link_to "Simple Tweeter", root_path%></h1>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <% if current_user %>
            <li><%= link_to (image_tag current_user.avatar, width:'50px'), tweets_user_path(current_user)%></li>
            <% if current_user&.admin?%>
              <% if not current_page?(controller: 'admin/tweets')%>
                <li class="nav-item"><%= link_to '管理後台', admin_tweets_path, :class => 'nav-link'%></li>
              <% else %>
                <li class="nav-item"><%= link_to '管理前台', root_path, :class => 'nav-link'%></li>
              <% end %>
            <% end %>
            <li class="nav-item"><%= link_to('登出', destroy_user_session_path, method: :delete, :class => 'nav-link') %></li>
          <% else %>
            <li class="nav-item"><%= link_to('註冊', new_user_registration_path, :class => 'nav-link') %></li>
            <li class="nav-item"><%= link_to('登入', new_user_session_path, :class => 'nav-link') %></li>
          <% end %>
        </ul>
      </div>
      
    </nav>
    <% if flash[:notice]%>
  <div class="container">
    <div class= "row">
      <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">
            &times;
          </span>
        </button>
        <%=  notice %></div>
    </div>
  </div>
  <%end%>

  <% if flash[:alert]%>
  <div class="container">
    <div class= "row">
      <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">
            &times;
          </span>
        </button>
        <%=  alert %>
      </div>
    </div>
  </div>
  <%end%>
    <%= yield %>
  </body>
</html>
